[2016-06-08 22:45] borisbstyle opened #1 "Betaflight Configurator (Make users life easier)"
@skaman82
You mentioned a while back you were willing to help me out with betaflight configurator? I added you in the configurator dev team with full write access.

[2016-06-11 01:06] skaman82 commented on #1
@borisbstyle Thanks. Any news on the betaflight logo? Do you have it in vector format?

[2016-06-11 02:46] blckmn commented on #1
@daggad from RCGroups gave me this link:
https://www.dropbox.com/sh/88fpe7x353aojto/AACwbM73vmyGABqAkeZhHfuba?dl=0

for getting some stickers made up.

[2016-06-11 10:34] skaman82 commented on #1
@blckmn Thanks. Sadly it is not a vector format so I created a new logo I will use it if @borisbstyle likes it.

<img width="852" alt="bildschirmfoto 2016-06-11 um 12 32 07" src="https://cloud.githubusercontent.com/assets/11768024/15984565/c05bfde4-2fd0-11e6-951d-6290325182c8.png">

[2016-06-12 20:51] skaman82 commented on #1
@borisbstyle Logo files for further use

[BF_LogoFiles.zip](https://github.com/betaflight/betaflight-configurator/files/310977/BF_LogoFiles.zip)
![bf_logo](https://cloud.githubusercontent.com/assets/11768024/15993754/31ae6d86-30f0-11e6-830a-06d473a78d71.jpg)

[2016-06-12 20:54] blckmn commented on #1
@skaman82 for the bee on the white background what does it look like with some black on its body?

[2016-06-12 21:04] skaman82 commented on #1
@blckmn something like this?
<img width="639" alt="bildschirmfoto 2016-06-12 um 23 03 24" src="https://cloud.githubusercontent.com/assets/11768024/15993808/f2a18694-30f1-11e6-914b-a7b3787fb285.png">

[2016-06-12 21:34] borisbstyle commented on #1
Yeah that last bee looks better!
Op 12 jun. 2016 23:04 schreef "Albert Kravcov" <notifications@github.com>:

[2016-06-12 21:47] skaman82 commented on #1
Ok, will update the configurator tomorrow

Von meinem iPhone gesendet

[2016-06-12 22:32] blckmn commented on #1
That's great. Awesome work.

[2016-06-13 08:32] skaman82 commented on #1
Updated logo files:
[Betaflight Logo.zip](https://github.com/betaflight/betaflight-configurator/files/311451/Betaflight.Logo.zip)
![bf_logo](https://cloud.githubusercontent.com/assets/11768024/16001422/2683b49a-3152-11e6-9d61-3c5c66e4adb5.png)

[2016-06-13 18:13] skaman82 opened #4 "Todo: Change firmware source to enable flashing BF directly from configurator"

[2016-06-13 20:02] borisbstyle commented on #4
Yes this is needed too! Thanks for helping man!

[2016-06-13 20:36] skaman82 commented on #4
This could be helpful: https://github.com/iNavFlight/inav-configurator/pull/5/commits/fc60f02b81bd7a288229ca4a06bf4794388aaaac

[2016-06-13 20:57] borisbstyle commented on #4
Where does the configurator get its files from. Github links?

[2016-06-13 21:00] skaman82 commented on #4
@borisbstyle yes it seem so. see the change in inav configurator to get this done: iNavFlight/inav-configurator@fc60f02

[2016-06-13 21:57] skaman82 opened #8 "Catch up with CF on new LED functions"
@gaelj when we are ready in CF, could you please port your awsome new LED stuff to BF and the new BF configurator?

[2016-06-14 13:52] skaman82 opened #9 "Todo: add a backup function that works better than the current one"
It should save everything through all profiles. At least all GUI stuff.
Making a backup/restore with a CLI is just bad and people do this just because there is no better option.

[2016-06-14 13:59] skaman82 commented on #9
Here is my older concept layout how this could look like: https://github.com/skaman82/CF_GUI/blob/master/Layouts/CF0_Backup.jpg

[2016-06-14 14:47] skaman82 opened #10 "Todo: Change or remove the tracking routine"
The configurator has a build in analytics tracking. This should be changed or removed.

[2016-06-14 14:48] skaman82 opened #11 "Todo: Change donation account"
this one is up to @borisbstyle

[2016-06-14 15:02] Yamaford commented on #9
How about a menu with check boxes of the various sections in CLI to backup? Aux, Failsafe, RXrange, Colors, .....

[2016-06-14 15:08] skaman82 commented on #9
@Yamaford not a bad idea, but that would make this process slow and I bet some users simply forget to check a checkbox and be angry afterwards :) I still think there should be two fixed backup models (STANDARD = only the GUI stuff including profile 0-2 and ADVANCED = complete CLI config).

[2016-06-15 11:22] #4 closed

[2016-06-15 14:19] JoeEurisko commented on #1
Awesome work,

Any way I can contribute to the development of the configurator?

[2016-06-15 14:20] skaman82 commented on #1
@JoeEurisko of cours you can, how are your JS/C skills?

[2016-06-15 14:28] joehannouch commented on #1
@skaman82 Sorry just switched profiles,
I'm a game developer proficient in C++ and C# and long time web developer (front end).
I'm interested helping in both development and UX / UI as i've been a technical artist for quite some time.

Cheers

[2016-06-15 14:30] skaman82 commented on #1
@JoeEurisko Great to hear. Could you maybe help to create a new backup/restore tab? See: https://github.com/betaflight/betaflight-configurator/issues/9

[2016-06-15 15:09] joehannouch commented on #1
@skaman82 Working on the backup/restore tab would be quite simple as an interface / css, but I would need some help when it comes to the functionality (backing up, saving prefs, etc.) where can i read about this? (i've swiftly read backup_restore.js, is that the way to go?)

[2016-06-15 15:31] skaman82 commented on #9
@JoeEurisko backup_restore.js is a bit messy and a pain in the... but to work with. If you have a better backup architecture/stucture in mind, go for it. We just need have the old method as a fallback for older firmware versions. This are my ideas to make it better:

• Backup ALL profile settings
• Two backup methods (all gui settings / full cli config)
• If restoring, user can select areas to res

[2016-06-15 16:07] joehannouch commented on #9
Ok great.  Please tag @JoeHannouch instead of  @JoeEurisko thanks

[2016-06-15 16:14] skaman82 commented on #9
@JoeHannouch by the way, there is already a icon in place for the backup tab :)

[2016-06-15 16:25] KiteAnton commented on #9
Is there really a need to have the configurator compatible with older fw? Backward compatibility can sometimes restrict development and could it not sometime just be acceptable to say you need at least fw version X to use this?

[2016-06-15 16:30] skaman82 commented on #9
I think so, at least at the moment. Still know many pilots flying BF 2.5.x. It is always bad to demand users to upgrade. I also don't see how the fallback would restrict the new functionality. Keeping the old approach just makes the code size a little bit bigger and it can be abandoned after a while.

[2016-06-15 22:10] skaman82 commented on #9
I am not sure if betaflight has ported this already, but i think this could help: https://github.com/cleanflight/cleanflight/pull/1049

[2016-06-16 05:36] nathantsoi commented on #10
i shouldda read the issue first :) https://github.com/betaflight/betaflight-configurator/pull/12

[2016-06-16 05:36] nathantsoi commented on #1
dude, @skaman82. nice work. this looks way better than my ponies :)

[2016-06-16 06:12] KiteAnton commented on #10
I agree, it should be removed for now.  And as you (@nathansoi) mentioned in the pull requests as it is now the data is not available to us anyway.

[2016-06-16 09:30] #11 closed

[2016-06-16 09:33] skaman82 commented on #10
I think @borisbstyle should decide:
• if he wants to keep the tracking but change it to another account
• make tracking result accessible
• or remove tracking entirely

[2016-06-16 21:02] RipperDrone commented on #1
Hi guys: Why don't you rename Betaflight to B-Flight or BFlight? Can be an acronym for BetaFlight, BorsFlight or Bee Flight which makes it fit to the wonderful logo that you created.

What do you think?

[2016-06-17 12:16] #10 closed

[2016-06-17 17:54] skaman82 opened #15 "Todo: Docs Button should be updated"
The documentation button refers to a non existing page. But I can't find any docs in the betaflight directory to link to

![bildschirmfoto 2016-06-17 um 19 54 54](https://cloud.githubusercontent.com/assets/11768024/16159862/6331670e-34c5-11e6-9f66-19aefa64d09e.png)

[2016-06-18 04:31] nathantsoi commented on #15
done in https://github.com/betaflight/betaflight-configurator/pull/16

[2016-06-18 06:35] devinpearson commented on #1
@ripperdrone the name change was discussed at length in https://github.com/betaflight/betaflight/issues/422 and was decided that it should remain the same

Some ideas I would like to see is s way to write recipes/scripts  or common setups to reduce redoing some of the config each upgrade. More like the setting up sbus and turning on telemetry or modes like beeper and failsafe

Moving the commonly

[2016-06-18 10:41] RipperDrone commented on #1
@devinpearson understood, just thought I'd put my opinion in to try give merits to BorisB as the main promoter of BetaFlight by brnding his initial(s) into the product name.

Having a flex configurator which reads at runtime from a script style file which config elements and options to display is a very neat idea.

[2016-06-19 19:22] skaman82 opened #18 "Urgent: configurator not compatible with bf 2.8+"
Cofig tab is not saving changes. Tested with

Serialrx
Motorstop
Ledstrip

Could mit get that Settings saved on naze32 rev6.

Also noticed that the looptime was 1000 right after flashing. After trying to set some things in config tab and hitting the save button, looptime got down to 500.

[2016-06-19 20:04] borisbstyle commented on #18
I fixed this in 2.8.1 by re-ordering the MSP structure. Also merged the dev into master

[2016-06-19 20:49] borisbstyle opened #20 "Remove MW23 from PID controller List // Rename Pid controllers"
Pid controller list needs to be changed

- remove MW23
- Change Luxfloat to Float
- Change Rewrite to Integer perhaps.

[2016-06-19 20:52] borisbstyle opened #21 "Add Yaw Rc Rate to the PID Tuning Tab together with Roll/Pitch Rc Rate"
Add yaw rc Rate from the new MSP commands (available in 2.8.1)

Probably also some check needed to verify if 2.8.1 betaflight version or higher is actually connected? Normally you would check for MSP version, but that one is the same yet to keep compatibility

[2016-06-19 20:54] borisbstyle opened #22 "Rework / Remove Looptime Configuration"
Use gyro_sync_denom and pid_process_denom instead of looptime

Add here
![image](https://cloud.githubusercontent.com/assets/10757508/16180227/a8a64758-367f-11e6-8e4b-2ee2e30e15da.png)

[2016-06-19 21:02] borisbstyle commented on #18
I will close this issue as I opened seperate issues for things to solve for the first configurator

[2016-06-19 21:02] #18 closed

[2016-06-19 21:59] borisbstyle commented on #20
Fixed here already
https://github.com/betaflight/betaflight-configurator/commit/2662f64e83a3da00cb4542c7de3e17df1d03a865

[2016-06-19 21:59] #20 closed

[2016-06-19 22:31] mikeller commented on #21
A lot of places in the configurator check for the actual version of the FC firmware, which is probably a better way to check, as it allows to make a distinction even for changes that are not tied to a change in protocol.

And I think it would be nice to keep compatibility with cleanflight MSP as much as possible, as this will allow for the use of configuration utilities on platforms that cannot ru

[2016-06-19 22:39] borisbstyle opened #23 "Add new ESC/Motor Features Options"
- Add Selection for fast_pwm_protocol
- Add motor_pwm_rate
- Add option to enable unsynced_fast_pwm

Add here
![image](https://cloud.githubusercontent.com/assets/10757508/16180223/865ee7ea-367f-11e6-9715-1d7554be3174.png)

[2016-06-19 22:41] borisbstyle commented on #21
Yeah I agree

BTW just make PR's into the master from now. No need for dev branch as the changes will be small and a lot of updates in the beginning

[2016-06-19 22:46] borisbstyle opened #24 "Add rate calculator // Or make the Rate curve realistic"
Modify formula for drawing these
![image](https://cloud.githubusercontent.com/assets/10757508/16180257/7905e07a-3680-11e6-8449-3b8bd9879ff1.png)

[2016-06-19 23:34] mikeller commented on #24
The current rate curve is what was displayed in the receiver tab, so it probably is what it should be for < 2.8. My plan is to add a curve for your new rates, and make it display one or the other, depending on the version.

However, I think instead of me trying to untangle the formula that you've used to make the rates diagram work in the XLS spreadsheet, it would be way easier if you helped me wi

[2016-06-20 04:56] borisbstyle commented on #24
@mikeller
Thanks for the link. I will add that one!

[2016-06-20 05:42] mikeller commented on #24
Hehe, that's not quite what I had in mind. The above jsfiddle is an extract of the code in cleanflight-configurator that is used to draw the throttle curve. My request was for you to modify it in such a way that it adequately reflects betaflight's new rate curve, and I'll put it into the betaflight-configurator. This saves me having to reverse engineer the calculations for the rate curve from your

[2016-06-20 06:03] borisbstyle commented on #24
I know that but I was saying thanks for the link so I can easier visualize
what I am doing :)
Op 20 jun. 2016 07:42 schreef "Michael Keller" <notifications@github.com>:

[2016-06-20 14:03] #15 closed

[2016-06-20 14:37] skaman82 commented on #21
@mikeller could we reduce the height of the two graphs at least to 80% to the current height (change the proportions)? Currently the TPA field is way to far down.

[2016-06-20 14:38] skaman82 commented on #24
@mikeller could we reduce the height of the two graphs at least to 80% to the current height (change the proportions)? Currently the TPA field is way to far down.

[2016-06-20 20:03] mikeller commented on #24
@skaman82: Done in #27. Could you have a look into how to best make the marked grey areas in the screenshot below look white? The intention is to make it more obvious that the single value for rc rate / rc expo aplies to multiple rows.

![screenshot from 2016-06-21 07-55-52](https://cloud.githubusercontent.com/assets/4742747/16208441/45297490-3786-11e6-9a0e-3240020f1740.png)

@borisbstyle, @skaman

[2016-06-20 20:09] borisbstyle commented on #24
@mikeller
Yes I agree that the most touched values should be in one tab. Throttle stuff should be more below, but really not the most important now.

[2016-06-20 20:22] skaman82 commented on #24
Ok, I take a look at this tomorrow.

Von meinem iPhone gesendet

[2016-06-20 20:35] skaman82 commented on #24
The profile selector is already in the header of the configurator. So it is accessable from every tab.

Honest question: what for so we need the rate profiles for? I never used it and find two different sorts of profiles very confusing.

Von meinem iPhone gesendet

[2016-06-20 20:38] borisbstyle commented on #24
I totally agree about those profiles. But some users use it. Once you
create something its hard to take away. I would have never seperate those
Op 20 jun. 2016 22:35 schreef "Albert Kravcov" <notifications@github.com>:

[2016-06-20 20:40] #22 closed

[2016-06-20 20:40] #23 closed

[2016-06-20 20:40] KiteAnton commented on #24
I agree also about the profiles/rateprofiles but last time the profile and rateprofile where merged there where some complains so it got reverted.

[2016-06-20 20:41] borisbstyle opened #28 "Add LPF Filters to PID tuning tab"
add filters to pid tuning tab. This is already prepared just needs some HTML layout. I think this should be a hidden feature.

 @mikeller @KiteAnton
gyro_soft_lpf is actually the only non-profile option. Should we keep it in the PID tuning tab or add it to configuration tab?

[2016-06-20 20:41] borisbstyle opened #29 "Remove 3rd Profile selection."
Betaflight only has 2 profiles

[2016-06-20 20:50] borisbstyle commented on #24
Yes I know :D. Some really got used to it. I never understood why should
you have rate profile. It is easier to change it on the field than having
some confusing switches

2016-06-20 22:40 GMT+02:00 KiteAnton <notifications@github.com>:

[2016-06-20 20:58] borisbstyle commented on #29
https://github.com/betaflight/betaflight-configurator/commit/bacea005469b019be546d7801ac64a14860a3d9a

[2016-06-20 20:58] #29 closed

[2016-06-20 21:00] mikeller commented on #24
@skaman82: The profile selector only affects the settings on the PID tab, and the throttle settings that are for now on the receiver tab. Once the throttle settings have been moved, everything that is affected by profile selection will be on the PID tab. In this case it is a lot less confusing to have the profile selector only on this tab, and users are no longer left wondering which values on the

[2016-06-20 21:07] skaman82 commented on #24
ok, this makes sense (i didn’t realized that modes/adjustments are not affected anymore by profiles in betaflight)

[2016-06-20 21:59] mikeller opened #32 "Implement Version Checking together with MSP protocol checks // Possible Backwards compatibility"
A lot of the new features that have been added (#25, #26, #31,...), the functionality to support users has been removed, leaving the configurator broken and unusable for users that have not yet updated to the latest version.

We should either:
- re-add the removed features, and properly version - gate them, so the users get the UI that matches their FC version
- add code to prevent users from conn

[2016-06-20 22:24] borisbstyle commented on #32
@mikeller
The configurator will simply not load tabs for some versions. No big deal if you ask me. pre 2.8.1 its CF configurator and after that versions will have to be maintained.

Whats the point of using betaflight configurator for old versions anyway?

[2016-06-20 22:27] skaman82 commented on #32
1+ for keeping it compatible with older versions

Von meinem iPhone gesendet

[2016-06-20 22:30] mikeller commented on #32
@borisbstyle: The point is giving users a good user experience. At the moment, the vast majority of users of betaflight probably have not migrated to the latest version. If they try out the betaflight configurator (maybe because they want to update to latest), they will experience it as broken, go back to cleanflight configurator, and probably never try again.

If we at least present them a dialog

[2016-06-20 22:34] mikeller commented on #24
@borisbstyle:

I've added your formula to the curve calculation:

https://jsfiddle.net/uq98vj3r/6/

It seems to give me very extreme results, let me know if this is how you want it.

[2016-06-20 22:43] borisbstyle commented on #32
Well my point is that there is nothing extra they can configure when using the old version? It is practically the same as standard CF.
They still can access the flash page to flash the latest version.

[2016-06-20 22:46] skaman82 commented on #32
Yes you are right, but if some users lets say have multiple quads with different versions of BF they mostly woud like to change settings with BG configurator and not switching between configurators all the time.

Von meinem iPhone gesendet

[2016-06-20 22:51] mikeller commented on #32
@borisbstyle:

In  #25 and  #26, a number of settings that used to be available in CF have been removed, so they will not be able to control them any more outside of CLI.

Also, there is a bunch of tabs that do not work any more because of the MSP being unsupported, so they can not configure anything that's on them.

Just leaving it in a state that appears to users as being broken will turn them a

[2016-06-20 23:02] skaman82 commented on #32
If we go with not alowing to connect  with older versions we should also not allow to flash older versions because the would be not compatible with this configurator.

It would be a living hell for users if we would say: you can flash any older version with BG configurator but you have to switch to another configurator to change settings.

Von meinem iPhone gesendet

[2016-06-20 23:05] borisbstyle commented on #32
@skaman82
Yeah probably good idea to prevent flashing the older versions!

[2016-06-20 23:07] mikeller commented on #32
@skaman82: 'Not allow' is a bit difficult, as they can always choose to download or build any version, and then load it as a file / flash it, or even flash something that is not betaflight. But we definitely should not offer them old and unsupported versions when we present them a selection of versions to choose from.

[2016-06-20 23:23] skaman82 commented on #32
That is exactly what i ment :)

Von meinem iPhone gesendet

[2016-06-21 00:19] #21 closed

[2016-06-21 05:38] KiteAnton commented on #32
I think it will be a lot easier to develop and maintain if we only support newer versions of betaflight for the configurator. Earlier versions can always use the cleanflight configurator. But I agree that if we limit that then we should also limit the possible betaflight versions to be downloaded online in the firmware flasher page.

[2016-06-21 05:44] mikeller commented on #32
It will be easier for now, but that won't last for long as going forward, we will have to support all the versions between now and then again, and will be required to feature gate new stuff that gets added over time.

If we decide to do this, we should lock out users of unsupported versions. Providing an experience that is known to be broken is only going to lead to frustrated users and unnecessar

[2016-06-21 06:59] borisbstyle commented on #32
I havent been doing much with the configurator till now, but now I see at
the way how is set up it doesnt make sense to me that stuff hangs on wrong
versions.

It would totally be possible to give feedback to user with a pop up or
somehow when certain option is not available on his firmware.

I prefere also users to have the latest firmware version anyway as it makes
support task much easier
Op 21

[2016-06-21 07:09] mikeller commented on #32
support task much easier

Makes total sense, after all, the firmware tries to be bleeding edge.

Will look into adding a popup.

[2016-06-21 13:56] #1 closed

[2016-06-21 13:57] borisbstyle commented on #9
I think we need to add the newest available parameters to backup / restore function.

[2016-06-21 14:05] mikeller commented on #9
@borisbstyle: Either that, or wait until I add buttons to automatically save / restore a CLI dump without having to touch the CLI. ;-)

I am working on a way to create a CLI 'diff' showing only settings that are not default values. Once this is done, I'll look into making creating / restoring CLI dumps a bit more comfortable in the configurator.

[2016-06-21 14:09] borisbstyle commented on #9
@mikeller
Ok curious to what you will have.

Are there any other commands we want to add in MSP? I mean 2.8.2 we can dedicate more to integration within configurator?

[2016-06-21 14:17] borisbstyle commented on #32
@mikeller
Ok I changed the name to add some backwards compatibility. I think its not a hard task to add back old parts for versions older than 2.8.1. We will just dont care about the RC's.

[2016-06-21 14:19] borisbstyle opened #34 "Add ADVANCED_TUNING to tuning Tab // Iterm limits etc"
I think the pid tuning tab needs more hidden stuff in there. Like a checkbox for some extra advanced parameters. Maybe the filters should be in there too.

[2016-06-21 14:35] mikeller commented on #32
Then we should start to do proper RCs, and not just willy nilly throw new features in between RC and release. Or just give every release a number of its own and stop calling it RC when it's not...

[2016-06-21 16:23] skaman82 commented on #34
@borisbstyle You can place hidden content easily in a popup with the integrated jBox. (see gui.js) here https://github.com/betaflight/betaflight-configurator/commit/f5e442f3e647bd4164cc12f27c94588c46a2fc65
![Uploading Bildschirmfoto 2016-06-21 um 17.29.45.png…]()

[2016-06-22 15:18] skaman82 commented on #24
@mikeller this should help. See https://github.com/betaflight/betaflight-configurator/commit/47ec02932198e52e1d82c469dae66320a5271969

![bildschirmfoto 2016-06-22 um 17 13 06](https://cloud.githubusercontent.com/assets/11768024/16272248/5b3597d8-389d-11e6-9438-67f98c0723aa.png)

[2016-06-22 16:23] bbbenji opened #35 "Unable to flash 2.8.1"
Posting for posterity.

Using BFC 1.2 I was unable to flash my SPRacingF3 board from 2.7.1 to 2.8.1. Using the same `Manual baud rate` and `Full chip erase` options in CFC, it went without a problem. Issue occurred if I downloaded the fw via BFC. I did not attempt to flash the file downloaded directly from BF repo via BFC, only via CFC. Issue may lay here. I probably wont be testing this problem a

[2016-06-22 19:51] compudaze opened #36 "Add ability to change min_check/max_check"
Would be nice to be able to change min_check and max_check in the configurator. # # @

[2016-06-22 20:00] mikeller commented on #24
@skaman82: Looking good, thanks!

[2016-06-22 21:05] lacymorrow opened #37 ""You can't do this" after flashing, cannot go to welcome screen"
Says an operation is happening but none is.

[2016-06-22 21:25] borisbstyle commented on #37
you need 2.8.q
Op 22 jun. 2016 23:05 schreef "Lacy Morrow" <notifications@github.com>:

[2016-06-22 22:44] Yamaford commented on #1
Didn't really want to start a new issue for a suggestion but what do you think of adding a new tab for experimental settings that may or may not pan out? If they become permanent they could then be moved over to the proper tab. This would be a good place to look for new features without constantly modifying the other tabs once the dust settles.

[2016-06-22 23:11] borisbstyle commented on #36
Why? Its not that important to me

[2016-06-22 23:12] borisbstyle commented on #35
I actually successfully flashed mine on that way

[2016-06-22 23:13] borisbstyle commented on #34
That looks nice!

[2016-06-23 00:02] borisbstyle commented on #1
there will be a pop up tab. No need to modify the existing one
Op 23 jun. 2016 00:44 schreef "Yamaford" <notifications@github.com>:

[2016-06-23 00:13] compudaze commented on #36
It's the only thing left, sans filters (which are coming to the configurator I thought), I goto the command line for since the new betaflight configurator was made available.

[2016-06-23 06:03] bbbenji commented on #35
I will try to do some testing this weekend and post more info. If anyone else can confirm this working i might as well close it.

[2016-06-23 18:30] SSPW opened #38 "Some Interface Elements not working with DogeFC"
With DogeFC flashed 2.8.1;
ESC/Motor Protocol always shows PWM, but in CLI it is ONESHOT125
Gyro Update Freq and PID Loop Freq are blank

Changing either of the above and saving has no effect, confirmed with cli dump.

These ui elements work with a NAZE with 2.8.1, but not DOGE

[2016-06-23 18:45] borisbstyle commented on #38
It does work on my DOGE for sure.

Are you using official 2.8.1 or some of the pre releases?
Op 23 jun. 2016 20:30 schreef "SSPW" <notifications@github.com>:

[2016-06-23 19:09] SSPW commented on #38
# version
# BetaFlight/DOGE 2.8.1 Jun  8 2016 / 13:28:52 (c0b00fd)

[2016-06-23 19:24] KiteAnton commented on #35
I just tried flashing 2.8.1 downloaded online via the configurator to a SPRacingF3 board and it worked. The SPRacingF3 board has always been a bit problematic to flash, you need to set manual baud rate and try to unplug/plug in the board some times before it works. That is however not an issue with either betaflight configurator (it is the same in cleanflight configurator) nor betaflight FW.

[2016-06-23 19:40] KiteAnton commented on #38
@SSPW The official Betaflight 2.8.1 was released 4 days ago and your version is from June 8th, you probably are running RC1 or RC2. Just update to the latest official release and it will work.

[2016-06-23 19:40] #38 closed

[2016-06-24 00:17] borisbstyle opened #39 "Add selection for delta method in PID tab"
I think a little dropbox above pids would be nice to be able to select between delta on measurement and delta on error.

[2016-06-24 00:18] #37 closed

[2016-06-24 00:19] #35 closed

[2016-06-24 02:16] bilson opened #40 "[Idea] Firmware Flasher, change firmware selector"
In firmware flasher tab, firmware selector is very long and with version 3.0, each new version adds ~30 new targets. I think is a good idea change to two select box, one with firmware version, and second with target list.

[2016-06-24 07:46] borisbstyle commented on #40
good idea indeed

[2016-06-24 07:48] borisbstyle commented on #32
I suggest to work like this for checking the versions
`if (CONFIG.flightControllerIdentifier == "BTFL" && semver.gte(CONFIG.flightControllerVersion, "2.8.1")) {`

[2016-06-24 07:49] borisbstyle commented on #24
@mikeller
Doesnt look really right. I will have a look soon

[2016-06-24 08:00] mikeller commented on #24
Thought it looked weird. But no hurry, I think sorting out 3.0 is more important, there seem to be a lot of people waiting on that.

[2016-06-24 08:30] borisbstyle commented on #24
RC rate is not being accounted at all. Try making rc rate 1.0 and rate 0. You will get a flat line.

I will have a look

[2016-06-24 08:45] nathantsoi commented on #39
almost done w/ this...

![screen shot 2016-06-24 at 1 45 18 am](https://cloud.githubusercontent.com/assets/399770/16332893/5304631c-39ad-11e6-8c0f-df0df299ba84.png)

[2016-06-24 08:58] borisbstyle commented on #39
Awesome nathan!

Can you also add the filter selection. Maybe as a tab
Op 24 jun. 2016 10:45 schreef "Nathan" <notifications@github.com>:

[2016-06-24 20:37] lacymorrow commented on #37
It was after flashing 2.8.1 this happened.

[2016-06-24 20:46] #39 closed

[2016-06-24 20:47] #28 closed

[2016-06-24 20:48] borisbstyle opened #42 "Add ability to enable / disable Senors"
User should be able to turn on or off sensors in GUI

[2016-06-24 20:58] skaman82 commented on #40
I think ist would be more helpful the other way around. First select target then select all the versions

[2016-06-24 21:06] KiteAnton commented on #42
I had an idea that you could perhaps just press the sensors in the top bar to toggle them on/off? Or would that be to "hidden" since people are not used to that functionality?

[2016-06-24 21:08] skaman82 commented on #42
I think this would be better placed in the config tab.

[2016-06-24 21:25] borisbstyle commented on #42
@KiteAnton
I was actually thinking the same, but it wont be intiutive.

I did some MSP preparations. Can you perhaps add this into config tab @KiteAnton ?
https://github.com/betaflight/betaflight-configurator/commit/3b496324faca2de4921acb136132efd572d214eb

I want to continue with some more compatibility stuff to be added and try to finish it to bring out the updated configurator. It would be nice

[2016-06-24 21:49] KiteAnton commented on #42
Ok maybe it can be both. I will try to get some time during the weekend to add this.

[2016-06-24 23:29] borisbstyle commented on #32
Done. It is backwards compatible now with all versions. We need to add this in each PR now

[2016-06-24 23:29] #32 closed

[2016-06-25 12:12] gaelj opened #43 "Cleanflight-version specific code must be migrated"
`msp.js` and other files contain conditional code related to api version.
This code is still adapted to Cleanflight, whose MSP version is not synced with Betaflight's.
This will yield unexpected behaviour, especially when BF's API version is increased.

[2016-06-25 14:56] borisbstyle commented on #43
not at all actually. All betaflight specific commands are only applied to
betaflight firmware. All old betaflight firmware will also be supported
from next release.

MSP does a check for firmware version and type
Op 25 jun. 2016 14:12 schreef "Gaël James" <notifications@github.com>:

[2016-06-25 17:15] gaelj commented on #43
@borisbstyle what about these blocks for example?
Line 450:
[code]

Line 468:
[code]
If unchanged, they will alter the configurator's behaviour with future releases of BF MSP.
Don't you agree ?

[2016-06-25 17:43] borisbstyle commented on #43
Thats all fine. That cant hurt anything.

Betaflight supports all those apis.

There is:
MSP version
Firmware identifier
Firmware version.

Betaflight and Cleanflight share same MSP versions. That helps supporting
OSDs and mobile apps like ezgui.
Only Betaflight has some additional commands only supported by betaflight
configurator.

And everything is backwards compatible.
Op 25 jun. 2016 19:15 sc

[2016-06-25 17:57] gaelj commented on #43
In thise case in my LED strip PR, which currently uses MSP version 17, needs to be updated to jump to MSP version 20, which is the CF MSP version where all current new LED functions are present.
But this means the bahaviour in lines 450 and 458 (those are just examples) will change.
What do you think ?

[2016-06-25 22:16] borisbstyle commented on #43
@gaelj
You need to inspect differences between MSP 17 to 20. It may be there is much more than just leds

[2016-06-25 22:16] #42 closed

[2016-06-25 22:19] gaelj commented on #43
Got it.

[2016-06-25 23:46] skaman82 opened #47 "tooltips: use them!"
When adding new config areas and inputs we should always add a tooltip with a explanation if the setting is not completely self-explanatory.

[2016-06-26 00:28] borisbstyle commented on #47
Will add those for sure soon!

My primary goal was to have the key features released as soon as possible to have a properly working configurator. We are there now and polishing may start and is not necessarily dependant from the FC firmware

[2016-06-26 00:34] borisbstyle opened #48 "Add Super Expo to features"

[2016-06-26 08:07] micworg opened #49 "Adjustments"
Hi, the adjustments in the Betaflight Configurator are still the ones from Cleanflight. Some of them are not available in Betaflight (yet?).

(BTW: What do you think about this: http://www.rcgroups.com/forums/showthread.php?t=2681167 ? I have done this for Betaflight too. Maybe this can become part of Betaflight)

[2016-06-26 08:39] KiteAnton commented on #49
Seems to be some people requesting telemetry feedback for actual adjustment values so if you can put the solution together in a PR towards betaflight then it can be reviewed/discussed there.

[2016-06-26 11:48] gaelj commented on #43
#### MSP changes from 17 to 20
Current CF version is 19 ; I have a pending LEDstrip improvement PR which will bump it to 20.

##### CF MSP 1.17
- move `deadband3d_throttle` from `MSP_3D` to `MSP_RC_DEADBAND`

##### CF MSP 1.18
- `MSP_MISC`: `mag_declination` / 100 instead of / 10 (https://github.com/cleanflight/cleanflight-configurator/pull/369).
- `MSP_PID`: remove float conversion of PID values

[2016-06-26 12:18] #48 closed

[2016-06-26 14:08] gaelj commented on #43
The main change here was to put this setting in profile instead of main config. Do you want this ? Or would you just want the MSP frames to be compatible ?

[2016-06-26 14:14] cmavr8 opened #51 "Help people be aware of the release notes"
I think most of the people around here understand that it's important to read release notes, especially when flashing beta software (such as BF) and when major version bumps occur.

I also think that **introducing the BF configurator** is a great development but it **makes it easy to flash BF without reading the notes**.

While using the CF configurator, the user has to browse to the BF releases o

[2016-06-26 14:16] RipperDrone opened #52 "BF Configurator 1.4: Still no auto-update / desktop notification on update?"
Under Settings / Application Options you can check "desktop notification on available updates" - this feature does not seem to work. From 1.2 to 1.3 to 1.4 I had to check for availability of new versions myself, delete the old version manually, then install the new version and re-create a taskbar button or link to start the app.

Is the auto-update feature coming soon?

[2016-06-26 14:50] skaman82 commented on #43
@gaelj @borisbstyle regarding 3: I don't think it would be bad at all to merge this new LED function here first. It is summer and people are flying NOW. So every day counts to get it out here for users to benefit from it. Since the main goal of CF 1.14 is the OSD support, it can take a while till it will be ready and I am almost sure that Dominic will merge his OSD code first and all other PRs hav

[2016-06-26 15:51] borisbstyle commented on #43
We dont want it to break something else.

This change changes MSP version and that impact of that needs to be checked.
Op 26 jun. 2016 16:50 schreef "Albert Kravcov" <notifications@github.com>:

[2016-06-26 15:56] skaman82 commented on #43
Yes sure. My comment was just related to Gäels question about waiting for it o be merged in CF.

Von meinem iPhone gesendet

[2016-06-26 16:01] gaelj commented on #43
If I only modify the MSP frame format and not the underlying changes, We could have something compatible quite quickly.

[2016-06-26 16:45] borisbstyle commented on #43
but what if those users use cleanflight configurator?
Op 26 jun. 2016 18:01 schreef "Gaël James" <notifications@github.com>:

[2016-06-26 17:38] skaman82 commented on #43
From now on we schould assume that users would use the bf configurator for betaflight otherwise the development of new stuff would still depend from CF configurator. If i am not mistaken this is the whole point of the bf configurator to change that?

Von meinem iPhone gesendet

[2016-06-26 18:54] gaelj commented on #43
What I meant is, I move deadband3d_throttle from MSP_3D to MSP_RC_DEADBAND. So CF configurator will indeed work. The difference being, (unless I missing anything) BF will still see at as a global parameter. The CF commit is this one https://github.com/cleanflight/cleanflight/pull/1976/commits/b6830dea314b7603590f28d11bc79c1ae43041ad.

Not entirely true regarding MSP protocol, as it is shared with

[2016-06-26 19:43] skaman82 commented on #43
Ok, got it. Thanks.

Von meinem iPhone gesendet

[2016-06-26 20:06] mikeller commented on #52
Hi @RipperDrone.
When an update is available, try going into 'drawer / More Tools / Extensions' in Chrome and check if there is a notification showing for the Betaflight configurator. I've had this with other Chrome apps that did not automatically update due to being detected as incompatible with another Chrome extension I'd had installed.

[2016-06-26 20:08] mikeller commented on #51
+1 from me. Could probably even be auto-generated from GitHub release notes.

[2016-06-26 20:13] borisbstyle commented on #51
The release notes are shown when you load the online hex in the
configurator actually. Maybe some additional big font is needed in the
flash window as extra warning to make sure they read it.

Also flashing standard repos is always safe. There is a special checkbox
for unstable releases.
Op 26 jun. 2016 22:08 schreef "Michael Keller" <notifications@github.com>:

[2016-06-26 20:25] RipperDrone commented on #52
I had checked the extensions ist in Chrome in 1.2 and 1.3 - no notification whatsoever... running Win 10 x64 on my PC.

[2016-06-26 21:22] gaelj opened #53 "Restore bug if version is x.y"
If the version number specified in `manifest.json` is not in the form x.y.z, function `compareVersions(migratedVersion, someVersion)` will be broken when used on this value.
The crashes the restore functionality when restoring from a file backed-up with the 2 digit format, required manual editing of the file.

[2016-06-26 21:28] mikeller commented on #51
for unstable releases.

I think this is not only about stability, it's more about features and config settings that get renamed and defaults that get changed.

There is a lot of

going on in here. If we can reduce this by getting people to read the release notes when updating it would free up devs to do more productive work instead of answering this kind of question.

[2016-06-26 21:53] skaman82 commented on #51
I don't think that would realy help. Some people just don't want to read the notes. Even if you show the release notes in 30px bold.

Von meinem iPhone gesendet

[2016-06-26 21:56] borisbstyle commented on #51
they dont read anyway. I actually sometimes get same quastion every day and
sometimes multiple times per day :)
Op 26 jun. 2016 23:53 schreef "Albert Kravcov" <notifications@github.com>:

[2016-06-26 22:00] mikeller commented on #51
@borisbstyle:

sometimes multiple times per day :)

You got a point there.

I hope that, once my CLI 'diff' code is in the firmware, and we've got diff / restore as buttons in the configurator, this will at least remove the problem of changing default values across updates...

[2016-06-27 05:41] KiteAnton commented on #49
@micworg can you continue the discussion on the betaflight page instead, see this [#409](https://github.com/betaflight/betaflight/issues/409), it is a similar discussion.

[2016-06-27 05:41] #49 closed

[2016-06-27 18:43] gaelj commented on #43
Just discovered

 got left behind after a code cleanup.
MAVlink telemetry is just a serial port in the configurator, I think it can be skipped for now.
MSP PID is already in BF too.
I put back MSP 20 instead of 17 in the LED code so we should be ready.

[2016-06-27 19:29] cmavr8 commented on #51
Absolutely true, but wouldn't it help some people in the middle? The ones that may forget (or not yet know) about release notes, but would still read them if they popped up in front of them.

It could be that these people are too few to be worth saving. Your guys' call. You'll pay the price (dev time) so you decide.

Cheers :)
And thanks for all the great work to all.

[2016-06-27 19:32] skaman82 commented on #51
I think that the notes are clearly shown already

Von meinem iPhone gesendet

[2016-06-28 05:25] lhora opened #54 "PID tab is no longer working"
Hi there,

I'm running betaflight 2.8.1, I'm able to access every tab in the betaflight chrome extension but as soon as I hit the PID tab the configurator just freezes ( I am able to disconnect and reconnect). My osd is disconnected. And am running the latest version of chrome too.

[2016-06-28 05:27] borisbstyle commented on #54
upgrade to 2.9, but latest version of chrone app should work
Op 28 jun. 2016 07:25 schreef "lhora" <notifications@github.com>:

[2016-06-28 05:37] lhora commented on #54
Hi Boris, figured out the issue before your reply. Sorry for wasting your time and thank-you for taking the time to reply.

[2016-06-28 15:30] #53 closed

[2016-06-28 16:39] TiTidom-RC commented on #36
+1 it would be great to have them (min & max check) in the GUI.

Always fewer parameters for which I need to go into the CLI :)

[2016-06-29 02:44] #54 closed

[2016-06-29 22:12] borisbstyle opened #60 "Current master has non working configuration tab"
probably happened in this PR
https://github.com/betaflight/betaflight-configurator/pull/55

[2016-06-29 22:20] mikeller commented on #60
Unlikely it's in #55. Tab not loading is most often caused by problems with MSP, and #55 did not touch any MSP related code in the PID tab, as all the data was already there.

[2016-06-29 22:49] borisbstyle commented on #60
It was something messed up locally

[2016-06-29 22:49] #60 closed

[2016-06-30 09:20] KuchenKerze opened #61 "Github API Limit"
Hi,

I am currently struggling to flash the latest firmware. As a result of that I have closed and opened the Firmware flasher tab quite a few times. And now Github won't talk to me any more:
`GITHUB Query Failed: API rate limit exceeded for 87.zz.yy.xx. (But here's the good news: Authenticated requests get a higher rate limit. Check out the documentation for more details.)`

Possible solutions wo

[2016-06-30 10:03] skaman82 opened #62 "PID Tab: show all PIDs function"
This table should be hidden as well until the "Show all PIDs" button is clicked. It would be also great if the state would be remembered. At the moment the PIDs are gone again on refresh.

<img width="727" alt="bildschirmfoto 2016-06-30 um 12 01 37" src="https://cloud.githubusercontent.com/assets/11768024/16484656/a896d960-3eba-11e6-9ce2-2f4516d85a6c.png">

[2016-06-30 10:05] skaman82 commented on #62
@mikeller could you please take a look at this as well?

[2016-06-30 12:41] mikeller commented on #62
Done, #64. Let me know if you are good with the UI.

[2016-06-30 13:30] skaman82 commented on #62
@mikeller the second part of this issue is still open

[2016-06-30 13:38] mikeller commented on #62
Is what you mean that if you click 'show all PIDs' and then refresh, only the active PIDs are showing again? If so, it's quite simple and I can do that when i get to do the rest of the work in the PID tab.

[2016-06-30 13:40] skaman82 commented on #62
yes, I mean exactly that. It is a pain in the butt if you testing inflight adjustments

[2016-06-30 16:46] KuchenKerze commented on #61
Clarification: only the list of the releases is cached, no hex files

[2016-06-30 19:30] #61 closed

[2016-06-30 22:24] skaman82 commented on #62
@mikeller thanks!

[2016-06-30 22:24] #62 closed

[2016-07-01 15:23] Davhed opened #70 "PID tab says "waiting for data""
For the last couple of days the Betaflight Configurator won't load my PID tab on any of my quads. The Cleanflight configurator loads them just fine, and I can make changes with stick commands, so the FCs seems to be in fine shape. It's only a problem with the PID tab. Every other tab loads just fine.

[2016-07-01 15:29] nathantsoi commented on #70
What version of betaflight are you running?

On Fri, Jul 1, 2016, 8:23 AM David Trounstine <notifications@github.com>
wrote:

[2016-07-01 16:15] borisbstyle commented on #70
install configurator 1.5
Op 1 jul. 2016 17:29 schreef "Nathan" <notifications@github.com>:

[2016-07-01 16:50] Davhed commented on #70
I'm using configurator 1.5 and BF 2.8.1

[2016-07-01 16:56] borisbstyle commented on #70
use 2.9....there was an msp bug in 2.8.1 for the new configurator
Op 1 jul. 2016 18:50 schreef "David Trounstine" <notifications@github.com>:

[2016-07-01 17:33] Davhed commented on #70
Will upgrade now, thanks Boris.

[2016-07-02 12:13] NullVoxPopuli opened #71 "Can't install on ubuntu"
in the chrome store, after the package downloads, I get this error in a 'popup'

"Package is invalid. Details: 'Default locale is defined but default data couldn't be loaded.'."

[code]

[code]

[2016-07-02 21:53] #70 closed

[2016-07-02 22:13] blckmn commented on #40
I think @skaman82 is right. Target, then version.

It would be good to get v3.0.0 in there now as unstable for testing ? thoughts @borisbstyle @martinbudden

[2016-07-02 22:15] blckmn commented on #51
Should the firmware flasher front page have a release notes that changes when you select the firmware?

[2016-07-03 02:31] mikeller commented on #51
I would be in favour of that. Anything that can help to get people to read the information available **before** they create issues on GitHub is a good thing - for the devs and for the users.

[2016-07-03 02:54] mikeller commented on #40
@blckmn: Sounds like a good idea. Maybe have a checkbox 'Show pre-release versions', and present the user a 'be aware that these versions may fail and cause damage, do bench test first' dialog?

[2016-07-03 09:22] KiteAnton commented on #51
The firmware flasher page already displays the release notes when you load fw online.

[2016-07-03 22:51] mikeller commented on #71
Hi @NullVoxPopuli.

I think the error you are getting might be related to the version of Chrome / chromium you are using. What language are the menu texts in your Chrome / chromium?

[2016-07-03 22:51] borisbstyle opened #73 "Level pids not saving"
needs to be resolved

[2016-07-03 22:54] mikeller commented on #73
If nobody else picks this up I can look into this tonight.

[2016-07-03 23:05] NullVoxPopuli commented on #71
US English.
I'll check the version when I get home tonight. Good thinking!

On Sun, Jul 3, 2016, 6:51 PM Michael Keller <notifications@github.com>
wrote:

[2016-07-04 01:58] NullVoxPopuli commented on #71
I guess restarting chrome updated it, and betaflight works now! thanks!

[2016-07-04 01:58] #71 closed

[2016-07-04 02:21] mikeller commented on #71
Not that unusual with Chrome. Happy to see it works now.

[2016-07-04 07:38] #73 closed

[2016-07-05 10:19] AliB10 opened #77 "3D rate model doesnt correspond to rates"
Currently the 3D model in the PID/Rates tab doesn't move at the speed of rates on board.
I have roll rates at around 1200deg/s at full throw, and the 3D model has a roll rate of around 360deg/s

This could cause people to keep increasing their rates too high.

[2016-07-05 13:52] mikeller commented on #24
@borisbstyle: I think this is about as good as we're gonna get for the curves in #79.

[2016-07-05 17:18] CBLimerick commented on #36
+1. I found this recently and was surprised its not more requested. To me its important to set your remote to do full range of 1000 to 2000 and then min & max check to 1000 and 2000 .

[2016-07-05 18:37] MotoLab opened #80 "Target reset requires close/restart of Configurator"
MOTOLAB target with Configurator on Linux consistently fails to reopen the serial port after device save/reset. Seems to be timing related, may be attempting to reopen the serial port too quickly after reset. Tested with Configurator V1.5.

[2016-07-05 21:18] #40 closed

[2016-07-05 22:29] mikeller opened #81 "Rework 'Receiver' tab"
Ideas that were brought up so far:
- move / add all settings pertaining to the receiver config to the receiver tab #36, #75;
- add 'check receiver settings' button #75;

[2016-07-05 22:33] borisbstyle opened #82 "Add CPU usage to taskbar (available from 3.0.0)"
MSP_STATUS_EX last 16 bytes is CPU load.

Perhaps coloring would be nice

0-40 green
40-70 yellow
70-100 red

[2016-07-06 08:50] #24 closed

[2016-07-06 12:41] FasaArg opened #85 "3D Model preview, improvement to reflect rc and yaw deadband"
Right now the model does not reflect the configured deadband on the receiver tab or the PID tuning tab.
(I noted this due my old gimbals)

[2016-07-06 18:09] BoyDrone opened #86 "Backup filename"
when backing up a configuration, the filename still shows cleanflight rather than betaflight

[2016-07-06 20:57] mikeller commented on #85
Should be done as part of the work for #81.

[2016-07-06 21:30] #86 closed

[2016-07-06 22:16] antstorm commented on #77
#89

[2016-07-06 22:27] #77 closed

[2016-07-06 22:27] borisbstyle commented on #77
Try configurator 1.6.3
https://chrome.google.com/webstore/detail/kdaghagfopacdngbohiknlhcocjccjao/publish-delayed?hl=en

[2016-07-06 22:59] mikeller commented on #77
@borisbstyle: Is it possible that you add tags to the repository for the releases you are publishing? This way, when users are reporting issues, we can easily verify against the exact version that they are running.

[2016-07-06 23:46] FasaArg opened #92 "Configurator 1.6.3 - 3d model - Yaw input."
The 3d model does not responde to the yaw input from the receiver.

[2016-07-06 23:50] mikeller commented on #92
What version are you using?

[2016-07-06 23:55] FasaArg commented on #92
1.6.3 , but apparently is a momentary error, after restart the configurator is working fine (strange)
Before, the signal slider worked ok, but the model does not responded.

[2016-07-07 00:01] FasaArg commented on #92
Could you reopen this issue?? The problem persist...

[2016-07-07 00:07] FasaArg commented on #92
@mikeller
I found the problem!
If you go to PID tab after connect, works always fine.
If you go to receiver tab, does not work.
If you go back to receiver after using PIDtab, start to work ok.

[2016-07-07 00:10] mikeller commented on #92
Ha, thanks for doing the testing, @FasaArg.

@antstorm: I think this is because `currentRates` only gets initialised when the PID tab is loaded. Can you look into this?

[2016-07-07 00:14] FasaArg commented on #92
@mikeller Thanks to you, let me know if i can help with anything.

[2016-07-07 00:15] antstorm commented on #92
@mikeller sure, I'll look into this

[2016-07-07 00:21] antstorm commented on #92
Here's a PR ^. `MSP_SPECIAL_PARAMETERS` didn't get loaded, which has `RC_RATE_YAW`.

[2016-07-07 00:33] #92 closed

[2016-07-07 00:37] mikeller commented on #92
@antstorm: Saw that, thanks.

@FasaArg: If you are comfortable enough with GitHub to clone the betaflight-configurator repo, you can clone it, and then 'Load unpacked extension' in 'Extensions' in chrome, to verify that the fix works.

[2016-07-07 01:47] FasaArg commented on #92
@mikeller Thanks, but i'm registered since today to be honest... I have no idea.

Anyway, i will try to read about how to use it.

[2016-07-07 12:52] FasaArg commented on #92
@mikeller Today i learned how to use the clone and tested the fix, Working ok without any issue.
Thanks again.

[2016-07-07 13:04] mikeller commented on #92
@FasaArg: Thanks for testing, and well done!

[2016-07-07 13:36] FasaArg opened #97 ""PID loop freq" automatically changes when changing "PID math""
I don´t know if this is on purpose. (Sorry if it is)
Changing from Integer to float on the PID tab, or viceversa, automatically sets PID_PROCESS_DENOM=2 and I need to go to change back on the configuration tab.
I´m running 8/8/32 on SP Racing F3 EVO but It does the same with 4K.
I have been seeing this from configurator 1.4

---------------------------------------
2016-07-07 @ 10:22:00 -- Running

[2016-07-07 14:50] borisbstyle commented on #97
Yes thats true indeed for f1 controllers to prevent higher cpu usage. Will
remove that in the future probably
Op 7 jul. 2016 3:36 p.m. schreef "FasaArg" <notifications@github.com>:

[2016-07-07 14:55] FasaArg commented on #97
@borisbstyle Thanks.

[2016-07-08 00:27] etracer65 opened #99 "Move Yaw D out of the PID tuning section"
Since Yaw D is now yaw jump prevention, I would suggest moving it out of the PID tuning section table and appropriately labeling it as "yaw jump prevention".  There continues to be confusion about this parameter relocating it and renaming it should help.  I think it should stay on the PID Tuning tab - just not in the PID values table.

[2016-07-08 01:14] mikeller commented on #99
@etracer65: Ah. I wasn't aware of this. Will move it out.

[2016-07-08 11:57] borisbstyle commented on #77
@mikeller I will add them from now. Sorry the first versions were quick releases just to get the most wanted stuff out there as quick as possible. Can settle down now

[2016-07-08 11:58] borisbstyle commented on #99
@etracer65 @mikeller
This ain't a bug. It has been done on purpose to repurpose the D field which was unused. Very handy to not go into cli and change that.

But dont remove this yet! I will possibly re-add yaw D after I have finished my new PID algorythms for this

[2016-07-08 11:59] borisbstyle commented on #99
By the way the help tip explains it anyway

[2016-07-08 14:09] etracer65 commented on #99
@borisbstyle

I'm not saying it's a bug.  All I'm saying is that since yaw D is now actually yaw jump prevention it would make sense to move it out of the PID values table and put it somewhere else on the PID Tuning tab properly labeled and documented.  There continues to be confusion in the rcgroups forum about yaw D and the fact that it's now yaw jump prevention.

[2016-07-08 14:17] borisbstyle commented on #99
It actually has a dampenjng effect like D would have.
With the new configurator they can immediatelly see what it actually is due
to tooltip options.
Op 8 jul. 2016 16:09 schreef "etracer65" <notifications@github.com>:

[2016-07-08 14:27] etracer65 commented on #99
@borisbstyle

Ok.  I understand the desire to keep it out of the CLI and why you repurposed yaw D for yaw jump prevention.  I was just suggesting a rearrangement of the PID Tuning tab to make it more obvious about what yaw D does and the fact that it's now yaw jump prevention (which is a confusing subject all by itself).  There are still people looking for yaw jump prevention in the CLI and can't

[2016-07-08 22:43] mikeller commented on #99
@borisbstyle, @etracer65: I think we are all talking about the same, but using different ways to describe it. I labelled it as a bug because the the UI is wrong in this case: It presents a value that indicates 'yaw jump prevention' as 'yaw D'. The underlying code is right, it is just the presentation that is wrong. I agree with @etracer65 in that the value should be moved in the UI from 'yaw D' in

[2016-07-09 09:04] mikeller commented on #77
Good stuff. I think we're almost there. There are still a few settings that should probably be available in the GUI, and I want to add buttons for 'dump into file' and 'restore from file' to the CLI tab. Once those is done, users will be able to set up Betaflight without having to use the CLI.

[2016-07-09 20:24] BoyDrone opened #101 "Random PID values and screen data"
Hi, trying to tune my quad with a new naze32 rev6. Using betaflight 2.7 and the latest configurator. I activated super expo, and all the PIDs were displaying random values that were not set and exceeded the limit. I have a screenshot but don't have an option to upload.

Boris,
Aside from the screenis there any other data that may be useful for you before I change anything else? No rush as my batte

[2016-07-09 20:49] mikeller commented on #101
Hi @BoyDrone.
Thank you for your bug report.
If the configurator showing the wrong values is still running, can you right-click into it, click on 'Inspect', and in the window that opens, select 'Console'. Then please copy / paste the contents of this window.

[2016-07-09 21:14] borisbstyle commented on #101
2.7 has no super expo.

You have to upgrade to 2.9 anyway

Op 9 jul. 2016 22:49 schreef "Michael Keller" <notifications@github.com>:

right-click into it, click on 'Inspect', and in the window that opens,
select 'Console'. Then please copy / paste the contents of this window.

[2016-07-10 00:47] etracer65 opened #102 "Add gyro_cal_on_first_arm"
Currently only available in the CLI.  Probably should go on the Configuration tab but I'm not sure where.

[2016-07-10 00:49] etracer65 opened #103 "Add vbat_pid_compensation"
Another CLI-only parameter.  Probably should be on the Configuration tab in the "Battery Voltage" section.

[2016-07-10 01:02] mikeller commented on #101
@borisbstyle: Agreed, but the configurator should not be showing the SuperExpo slider, and should be showing the old rates. I would like to find out what breaks this, and fix it.

[2016-07-10 01:04] borisbstyle commented on #101
Yes I agree about that.

But just wanted to say to him that he needs 2.9 to be able to enable it
anyway ;)
Op 10 jul. 2016 03:02 schreef "Michael Keller" <notifications@github.com>:

[2016-07-10 01:15] MotoLab commented on #80
On further examination, this seems to be something in the firmware startup. A few seconds after the reset, Configurator will connect. I'll look into that further.

[2016-07-10 01:15] #80 closed

[2016-07-10 01:21] mikeller commented on #80
I think this is caused by the 'high load on startup' issue that 3.0 is having: https://github.com/betaflight/betaflight/issues/539

[2016-07-10 01:41] mikeller commented on #102
This parameter is currently not available in MSP. We'll probably best defer the implementation of this until parameter groups have been implemented in firmware and configurator, instead of adding this to MSP.

[2016-07-10 04:30] MotoLab commented on #80
I think it's the same issue, but USE_SDCARD isn't defined on the MOTOLAB target so that's not the problem.

[2016-07-11 08:31] rav-rav opened #104 "Throttle mid setting is mapped to the wrong variable"
Throttle mid setting sets  'midrc' instead of 'thr_mid'.
While thr_mid is used for throttle expo, midrc is the middle point for roll/pitch/yaw.

[2016-07-11 19:21] grahamwho opened #105 "On pid page transition and level swapped."
In the gui in the new configurator,  level p and horizon transition are swapped. So if you had 16 for level strength 16 for horizon strength and 100 for transition the gui shows horizon 16, level 100, transition 16. Its right in the dump, but it could potentially confuse somebody who wasn't paying attention and obviously needs to be fixed.
BTW the new configurator looks great guys, keep up the goo

[2016-07-11 19:30] grahamwho commented on #105
![rcgroupspierror](https://cloud.githubusercontent.com/assets/11497055/16743866/f8788ae8-4773-11e6-9fec-ba8015790179.jpg)

[2016-07-11 19:36] mikeller commented on #105
Well spotted, fixed in #100.

[2016-07-11 20:12] mikeller commented on #104
Hi @rav-rav.

Where do you see this? I believe they are mapped correctly in the PID tuning tab:

https://github.com/betaflight/betaflight-configurator/blob/master/tabs/pid_tuning.js#L196

https://github.com/betaflight/betaflight-configurator/blob/master/tabs/pid_tuning.js#L292

[2016-07-11 20:15] mikeller commented on #101
Had a quick check, and for firmware < 2.8.0, the 'SuperExpo' slider should not be showing.

@BoyDrone, can you please check again and confirm that this is still broken for you?

[2016-07-11 20:20] mikeller opened #107 "High CPU usage when FC is connected"
Just noticed this today, but the configurator causes very high CPU load as soon as an FC is connected, to the point where other apps are noticeably slowed down. I did a quick check, and this is the case with Cleanflight configurator as well.

Will look into adding some sleep into the update loop to make it behave a bit nicer.

[2016-07-11 20:30] borisbstyle commented on #107
Yeah noticed that for a long while. Been like that for long
Op 11 jul. 2016 22:20 schreef "Michael Keller" <notifications@github.com>:

[2016-07-12 05:24] rav-rav commented on #104
I meant this setting in the configuration tab:
https://github.com/betaflight/betaflight-configurator/blob/master/tabs/configuration.js#L509
https://github.com/betaflight/betaflight-configurator/blob/master/tabs/configuration.js#L603

It says "Middle Throttle" but has actually nothing to do with throttle. The underlying command 'midrc' is used to set the middle point for your TX/RX values. If you c

[2016-07-12 05:31] mikeller commented on #104
Ah yes. Looks like the label on this one is wrong. Will fix.

@borisbstyle: Do the `minthrottle` and `maxthrottle` values above / below this apply to all RX channels as well?

[2016-07-12 05:36] borisbstyle commented on #104
Yes....mid_rc to all channels
Op 12 jul. 2016 07:31 schreef "Michael Keller" <notifications@github.com>:

[2016-07-12 05:38] mikeller commented on #104
`minthrottle` and `maxthrottle` (by name in MSP) are for throttle only, or are they for all channels as well?

[2016-07-12 06:43] borisbstyle commented on #104
Minthrottle and maxthrottle is output to the esc
Op 12 jul. 2016 07:38 schreef "Michael Keller" <notifications@github.com>:

[2016-07-12 09:43] #105 closed

[2016-07-12 10:10] #104 closed

[2016-07-12 10:11] borisbstyle commented on #103
@mikeller
Can you add a checkbox for this perhaps?

[2016-07-12 10:40] mikeller commented on #103
Next on my list. :-)

[2016-07-12 10:44] mikeller commented on #103
@borisbstyle: Do you have a short explanation for this that we could use as a help text?

[2016-07-12 16:05] BoyDrone commented on #101
@mikeller as of last night, I upgraded to 2.9 to see if that had any affect. from what I can tell, the betaflight configurator shows values in different units based off of what cleanflight diplays.

ie. if cleanflight shows I = 0.200, betaflight displays I = 200 and so on, this was the case for Ps & Ds as well. but the factor differred between them all. I'll have to take some screenshots tonight t

[2016-07-12 19:48] mikeller commented on #101
Hi @BoyDrone.

This is to be expected. The PID values in the Betaflight configurator are scaled up to make them appear identical to the values you get when using the CLI. Also, be aware that all settings (including PID values) got reset when you upgraded to 2.9.0, so this would explain why they look different to what you had before.

See above, the values that EZ-Gui expects are the not - scaled -

[2016-07-12 20:28] borisbstyle commented on #101
I liked them like this. No need to lie about the real pids.

The betaflight configurator shows the real values like you see them in your
dump.

I think it is confusing that cleanflight tools show different values in
configurator and cli
Op 12 jul. 2016 21:48 schreef "Michael Keller" <notifications@github.com>:

[2016-07-12 20:43] mikeller commented on #101
Ah ok. I always assumed the values in the cleanflight configurator GUI where the real ones, and they were just upscaled in the CLI and firmware to make them into ints. If the int values are the actual coefficients then I really don't see why the cleanflight configurator would scale them down.

I will look into adding a help text to tell people that they will have to convert the PIDs if they want t

[2016-07-13 11:57] borisbstyle commented on #9
@mikeller
Yeah that name sounds better indeed.
Automatically pickup up the values would be the best thing!

There will be some new parameters to come soon. From next versions the PID int will stay as it is and will be called legacy pid controller. Will also not be changed much. The Float PID will become betaflight pid controller and thats where all the changes will be done in the future.

[2016-07-13 11:57] borisbstyle commented on #9
btw backup / restore feature is really wanted!

[2016-07-13 11:57] #103 closed

[2016-07-13 12:03] mikeller commented on #9
Good point, will give that one priority.

[2016-07-13 14:53] BoyDrone commented on #101
@mikeller Sorry, I had to rebuild my quad last night. complete tare down and rebuild... the Rev6 board is remvoed, but I can still program it and test it this evening. I should definitely have some time to do this tonight to verify with screenshots today.

@mikeller & @borisbstyle
regarding the scaled-up values, or help note:
Why not just leave the non-scaled values as they are and just have a sli

[2016-07-14 02:54] BoyDrone commented on #101
Hi guys, ok. finally just got a chance to take a couple screenshots.
Let me know if this helps?

![2 7 naze32 rev6 super expo](https://cloud.githubusercontent.com/assets/9507834/16826614/c78e0da6-494c-11e6-9b1a-ed2231083ce9.png)

[2016-07-16 08:17] KiteAnton commented on #97
I think this should be addressed in the Betaflight repo instead. I will re-add this as an issue there and close this one.

[2016-07-16 08:17] #97 closed

[2016-07-16 08:23] borisbstyle commented on #97
I will fix that.

It was protection to those on f1 boards who change from rewrite to luxfloat
and dont change their looptime

[2016-07-16 09:38] nikybiasion opened #115 "BF 2.9: smartport telemetry occasionally not working"
If i set gyro update and pid  loop at the same frequency, smart port telemetry stop working.
i've tried 2k/2k 4k/4k 8k/8k
If i set 4k/2k 2k/1k 8k/4k smartport telemetry works

I use a spracing f3 evo with this port configuration:

serial 20 1 115200 57600 0 115200
serial 0 1 115200 57600 0 115200
serial 1 64 115200 57600 0 115200
serial 2 32 57600 57600 57600 57600

[2016-07-16 09:42] KiteAnton commented on #115
I think you should post this in the issue section of betaflight instead,  this repo is only for the configurator.
Please also add some additional info regarding tasks and status for the settings you tried.

[2016-07-16 13:12] skaman82 opened #116 "PID Tab: Show all PIDs button seems to be broken"
PID Tab: Show all PIDs button seems to be broken

[2016-07-16 23:02] gaelj commented on #82
@borisbstyle I've just implemented this, it turns out there is a bug in the BF code:
[code]
headSerialReply should be set to 13.

I fixed this and will issue a PR for each.

[2016-07-16 23:28] borisbstyle commented on #102
Yes this will have to wait

[2016-07-16 23:34] borisbstyle commented on #82
O yeah I see. Thanks for spotting it

[2016-07-17 20:52] gaelj opened #121 "pid_tuning.js typos"
2 typos in pid_tuning.js#311:
`if (CONFIG.flightControllerIdentifier === "BTFL" || semver.ge(CONFIG.flightControllerVersion, "2.9.0")) {`

- Should be && operator
- Should be `semver.gte`

[2016-07-18 02:07] mikeller opened #122 "LED: Overlay choices stay on selected LEDs when choosing 'Ring'"
In the LED config tab, when one or more LEDs are selected, there are a number of overlays to be selected from when 'Function' is set to 'Color', 'Modes & Orientation', or 'Arm State'. When 'Ring' is chosen as 'Function', the overlay section is hidden, which makes sense.
However, if overlays are active for the currently selected LEDs, these are not cleared, which is a bit confusing.

I think we sho

[2016-07-18 03:14] TonyLeyland opened #123 "The PID Tuning page shows transposed Horizon Strength & Transition values compared to Cleanflight"
It seems the Horizon values "Strength" and "Transition" are transposed on the PID Tuning page.
I double checked by firing up the latest CleanFlight Configurator on the same copter.

I know I have a strength value of 6 and a Transition value of 50 and Betaflight Configurator shows these values in opposite places to Cleanflight Configurator.

I've attached the 2 GUI screens here for reference.

Than

[2016-07-18 03:42] mikeller commented on #123
Fixed in #100. Try updating to the latest version of the betaflight configurator.

[2016-07-18 04:25] TonyLeyland commented on #123
Cool, thanks for letting me know. Looks like 1.6.4 was released only a short time ago.

Everything looks great, cheers.

[2016-07-18 06:21] #123 closed

[2016-07-18 07:16] #116 closed

[2016-07-18 07:16] #82 closed

[2016-07-18 07:16] borisbstyle commented on #115
This is not configurator issue

[2016-07-18 07:16] #115 closed

[2016-07-18 07:17] #47 closed

[2016-07-18 08:30] gaelj commented on #122
@mikeller @borisbstyle
- overlays are not used by the controler, when in Ring mode. So the configurator does not show them. The idea here is to only show options that are acutally available.
- unavailable overlays are cleared when changing mode via the drop-down box
- the bug you mention only occurs when such an "invalid" configuration was previously set. This can happen in two cases: either from

[2016-07-18 08:35] mikeller commented on #122
Ah, so once https://github.com/betaflight/betaflight/pull/737 has been merged, the invalid overlays will be removed once the config is saved?

I think this is a good way of doing it, except I'd maybe show a notice like 'preexisting overlays set, will be deleted when saving' instead of the overlay selection if there are overlays and 'Ring' is selected.

[2016-07-18 08:43] gaelj commented on #122
Not exactly. 737 will prevent any invalid settings from being applied. If the user tries to apply an invalid setting, the old is setting will remain unchanged.
This cannot happen in the GUI of BFC as the elements are hidden. It is only possible in CLI mode or when restoring, in which case displaying a notice will be more difficult (BF is refusing the configuration, BFC is unaware if it is valid or

[2016-07-18 08:45] gaelj commented on #122
I could modify BFC so that, upon displaying the LED tab, it will check for invalid settings and correct them, but this will only apply to current BF versions. Is it worth the effort ?

[2016-07-18 09:21] mikeller commented on #122
I think what you want to do is the right thing. But after your description, I think there is a bug in the configurator LED code. This is how my actual config looks after selecting LEDs 3, 2, and 1:

![after_loading](https://cloud.githubusercontent.com/assets/4742747/16910523/37e45f72-4d2d-11e6-9647-4db66223e237.png)

If I then change the function to 'Ring', the 'Warnings' and 'Throttle' overlays o

[2016-07-18 09:39] gaelj commented on #122
OK, thanks for spotting this. I will correct.

[2016-07-18 18:19] gaelj commented on #8
@skaman82 - you can close this ! :smile:

[2016-07-18 18:41] skaman82 commented on #8
Thanks

[2016-07-18 18:41] #8 closed

[2016-07-18 19:14] gaelj commented on #122
@mikeller problem fixed. Any comments welcome.

[2016-07-18 20:36] #122 closed

[2016-07-19 07:25] mikeller commented on #122
@gaelj: Sorry to rain on your parade, I think I've found another issue with multiple selections:

When I first open the LED tab and select 3 LEDs, everything looks ok. But when I select multiple LEDs with different functions, the modifiers are still available on the right hand side:

![first_load](https://cloud.githubusercontent.com/assets/4742747/16941704/e108f56e-4de5-11e6-99c6-d59327dc769a.png)

[2016-07-19 07:33] 19Gerhard85 opened #127 "Documentation / LED strip"
Hey guys,

is there any documentation about the new LED strip features? e.g. which functions does what, what are the priorities, etc.?

For example when I set the larson scanner and the arme state to several LEDs, which function will have more priority to be displayed?

Greets

[2016-07-19 07:35] skaman82 commented on #127
Armed state would be the priority function. Larson scanner would be an overlay effect on top.

[2016-07-19 07:38] skaman82 commented on #122
@mikeller Wow I never thought that multiple selection was possible at all! How do you did that? Tried ALT or Ctrl keys but I still can only select just one LED.

[2016-07-19 08:21] mikeller commented on #122
:-)

[2016-07-19 15:45] joshuabardwell opened #129 "No scroll bar on left-hand frame - can't access CLI on laptop screen"
On my laptop, I can't access the CLI because the left-hand pane does not have a scroll bar. On the Cleanflight Configurator, there is a scroll bar that lets me access them.

![7-19-2016 11-40-21 am](https://cloud.githubusercontent.com/assets/8303366/16956319/f0c876ea-4da5-11e6-96d5-c194c6478f09.png)

![7-19-2016 11-44-20 am](https://cloud.githubusercontent.com/assets/8303366/16956378/3d6e2616-4da6

[2016-07-19 16:22] deepimpactio commented on #129
Use the force Jedi ;)

On Jul 19, 2016 10:45 AM, "joshuabardwell" <notifications@github.com> wrote:

[2016-07-19 17:25] borisbstyle commented on #129
You seem to have some issues wirmth graphics too as the 3D model doesnt show up. I have seen this issue with someone else too who had 2 video cards in his pc activated.

[2016-07-19 17:51] gaelj commented on #127
Hi @19Gerhard85
Updated documentation can be found in my CF PR, which is not yet merged, so in my fork for the time being:
https://github.com/gaelj/cleanflight/blob/LED-battery/docs/LedStrip.md

Basically to each LED is assigned a function, which will define its "basic background color".
Additionnally and optionally, you can activate some color modifiers, blink functions, and overlays to this basi

[2016-07-19 19:05] gaelj opened #130 "Ledstrip: forbidden overlay can be set in multiselect"
See #122
When multiple leds are selected, forbidden overlays can be attributed to some LEDs.

[2016-07-19 19:07] gaelj commented on #122
@mikeller fixed

[2016-07-20 04:56] KiteAnton commented on #129
I have the same problem when using an old laptop with not enough resolution. Since adding the OSD tab the CLI tab got below what would fit the screen. If you resize the entire betaflight window then the scrollbar will appear.

[2016-07-20 06:23] 19Gerhard85 commented on #127
@gaelj
Awesome, thank you! Is it now possible to change the armed / disarmed color?

[2016-07-21 01:58] Hwurzburg opened #133 "1.6.4 does not work with BF F3 2.8.1"
trying to access either the config or pid tabs locks up the configurator....CF config works fins....also F3 CPU utilization goes to 100% under this condition, normally is at 25% with 4KHz cycle times until these tabs are accessed and lockup occurs

[2016-07-21 02:30] Hwurzburg commented on #133
NM...just noticed no back compatibility in this thing

[2016-07-21 02:30] #133 closed

[2016-07-21 11:48] #130 closed

[2016-07-21 13:11] #43 closed

[2016-07-22 03:40] UserNotFound commented on #133
Damn chrome extension auto-update :(

[2016-07-22 05:41] joshuabardwell commented on #129
The 3D model is not showing up because I am using a custom mixer. Completely normal.

[2016-07-22 07:49] KiteAnton commented on #129
@joshuabardwell I was more refering to my own laptop (it is a cheap 11" one from 2011) not yours :)

I agree, resizing is not a solution just a workaround. It was more to give some tips to anyone trying to find the CLI until the bug is fixed.

I will investigate this if I get some free time during the weekend now.

[2016-07-22 13:09] TheAngularity opened #141 "Feature Request to disabling unneeded tabs"
would it be possible to disable some tabs if they have not been activated this feature in the configuration tab? The configurator would become clearer and you configure only what's needed.
This concerns gps, osd, transponder, led strip and blackbox.

[2016-07-22 13:28] skaman82 commented on #141
It would be nice if hidden tabs would show up automaticly on on feature activation (GPS, LED, Transponder and so on)

Von meinem iPhon gesendet

[2016-07-22 13:28] KiteAnton commented on #141
Yes I think could make sense, as it is now there is limited space available for some laptops with small screens so not all tabs fit properly.

[2016-07-22 13:46] skaman82 commented on #129
Fixed in https://github.com/betaflight/betaflight-configurator/commit/c3b4cb82f30045b345d9459bc36acd65c4594a09

[2016-07-22 13:46] #129 closed

[2016-07-22 15:23] borisbstyle commented on #141
Yes great idea!

[2016-07-22 16:52] TheAngularity commented on #141
And for Adjustments, Servos and Tethered Logging there is also determined a solution.

[2016-07-23 00:45] nathantsoi commented on #141
This is a great idea :)

On Fri, Jul 22, 2016, 9:52 AM TheAngularity <notifications@github.com>
wrote:

[2016-07-23 07:43] mikeller commented on #141
Anybody already working on this?

[2016-07-23 08:01] TheAngularity commented on #141
I just had the idea, so no (insufficient programming knowledge) ;)

[2016-07-23 08:11] mikeller commented on #141
All good, I'm happy to do it, I'm just trying to avoid doubling up on work that's already being done. And thanks for making the feature request,  @TheAngularity.

[2016-07-23 08:34] TheAngularity commented on #141
@mikeller

Thats nice, thx. I only make a quick & dirty solution for my self.

I'm insert this in serial_backend.js from line 266

[code]

[2016-07-24 11:44] mikeller opened #143 "Introduce 'novice mode'"

[2016-07-24 11:45] mikeller commented on #143
Introduce a 'novice mode' that only displays the essential tabs that should be configured in order to get a craft off the ground.

[2016-07-25 11:39] TheAngularity commented on #141
closed now ... see #142

[2016-07-25 11:39] #141 closed

[2016-07-26 17:07] skaman82 opened #146 "Receiver tab is crashing"
<img width="1045" alt="bildschirmfoto 2016-07-26 um 19 07 00" src="https://cloud.githubusercontent.com/assets/11768024/17147716/3a8d16be-5364-11e6-92e9-3dae294799b6.png">

[2016-07-26 17:08] skaman82 opened #147 "PID type is hidden in the PID Tab"
<img width="484" alt="bildschirmfoto 2016-07-26 um 19 06 42" src="https://cloud.githubusercontent.com/assets/11768024/17147734/50cbb2f0-5364-11e6-9123-31b8d1db69cf.png">

[2016-07-26 17:28] skaman82 opened #148 "PID Tab clean up"
@mikeller I would like to do a cleanup of the GUI elements. For that I need the following graph to be 50px shorter in height.  I could not figure how to get this done. Could you do this? Then I can start my cleanup.

<img width="311" alt="bildschirmfoto 2016-07-26 um 19 25 22" src="https://cloud.githubusercontent.com/assets/11768024/17148348/1e6b7de2-5367-11e6-8091-40656d031652.png">

[2016-07-26 17:40] skaman82 opened #149 "Todo: add band and channel selection and power setting in OSD Tab (SIRIN FPV target)"
At the moment user can not select vtx channels in the osd tab. This is not convenient at all.

We should add two select fields:
1. Band (Boscam A, Boscam B and so on)
2. Channel (should change depending on selected band and show CH1: XXXXMHz)

It would be also nice to set power setting "vtx_power" in the osd tab.

[2016-07-26 17:52] skaman82 commented on #149
@savaga have you thought about the possibility to add a custom nickname and OSD_switch functionality to hide the osd or display a different layout setting?

[2016-07-26 19:11] mikeller commented on #147
Tried to reproduce this, but PID selection worked fine for me in master. Did you get an exception or other logs in the console? What steps did you take to get there?

[2016-07-26 19:12] mikeller commented on #146
Tried to reproduce this, but receiver tab loads fine for me in current master. Did you get any log info in the console? How did you get there?

[2016-07-26 19:14] #121 closed

[2016-07-26 19:17] skaman82 commented on #146
@mikeller  I just clicked on the Receiver tab. Console showing this:
<img width="1007" alt="bildschirmfoto 2016-07-26 um 21 16 17" src="https://cloud.githubusercontent.com/assets/11768024/17152035/5dde82bc-5376-11e6-998a-3a37a8ebf25e.png">

[2016-07-26 19:18] mikeller commented on #148
Will do, @skaman82. There is a couple more settings to go into the pid tab once @borisbstyle has added the enhancements to the firmware, so it's probably best if you wait with the redesign until all the elements are on the page.

[2016-07-26 19:18] skaman82 commented on #147
No errors in the console. But timeouts.
<img width="1014" alt="bildschirmfoto 2016-07-26 um 21 16 09" src="https://cloud.githubusercontent.com/assets/11768024/17152048/6c5cbd4a-5376-11e6-95df-1af0aafa8b16.png">

[2016-07-26 19:25] skaman82 commented on #148
@mikeller I intent just to clean up an fix the GUI stuff, not completely redesign it. The are some Interface Elements broken or out of place.

[2016-07-26 19:31] mikeller commented on #148
I know. I probably added most of them, and then didn't know how to make them look good. ;-) I'm just saying there is more stuff coming that will need cleanup and probably rearrangement, and I am a bit wary of having to merge the profile / rateprofile related stuff that I am working on at the moment with other html changes, as html does not merge well.

[2016-07-26 19:32] skaman82 commented on #148
@mikeller After your last commit the PID tab ist broken on my side. Configurator freezes too.

[2016-07-26 19:33] mikeller commented on #147
Ha, could be related to the changes I made in https://github.com/betaflight/betaflight/pull/821. Have you tried updating your firmware?

[2016-07-26 19:34] mikeller commented on #146
Could be related to the changes I made in the firmware. See #147.

[2016-07-26 19:35] skaman82 commented on #147
@mikeller will try that. I can compile the newest master at home (9 om and still at work). I am running a version from  3 Jul on my test board here.

[2016-07-26 19:39] borisbstyle commented on #148
@mikeller
Code is slowly coming into place. I solved some issues I had and had
successfull flights today.

So basically the thing I mentioned about 2 sliders is still on where I
earlier said it needs to be only one.

What MSP command should I use?

I also want to add rc smoothing as well with a drop down menu as well.

[2016-07-26 19:41] borisbstyle commented on #147
Probably your version is too old. Not worth trying to solve these things.
The pid controller order for example changed.

All unreleased versions dont count in terms of support.
3.0 is still not finished and more will be added. It is a huge one and
thats why it takes longer.
Before looking into issue always verify against the latest master.

[2016-07-26 19:58] mikeller commented on #147
@skaman82: You should be able do download the latest build from http://andwho.sytes.net:8080/job/BorisB_BetaFlight/lastSuccessfulBuild/artifact/obj/

[2016-07-26 20:03] mikeller commented on #148
Since we already got `deltaMethod` in `ADVANCED_TUNING`, it probably makes sense to stick it in there. I assume that `deltaMethod` will only apply to the legacy PID controller, so you might as well reuse this one, and rename it to something less specific like `deltaParameter`.

[2016-07-26 20:39] skaman82 commented on #148
@mikeller just tested with latest firmware master. Receiver tab is ok now. PID Tab still broken and freezes the whole app.

<img width="1018" alt="bildschirmfoto 2016-07-26 um 22 39 30" src="https://cloud.githubusercontent.com/assets/11768024/17154564/db6df644-5381-11e6-85d1-906db689f48b.png">

[2016-07-26 20:41] mikeller commented on #148
F*ck. I made it worse with the 'fix' I deployed. Will fix after breakfast.

[2016-07-26 21:00] #146 closed

[2016-07-26 21:00] #147 closed

[2016-07-26 21:01] skaman82 commented on #148
@mikeller fixed via https://github.com/betaflight/betaflight-configurator/commit/ed07aeaa2dd34baf54058c1c9afba57cb1096a6b

[2016-07-26 21:10] mikeller commented on #148
Thanks, @skaman82.

[2016-07-26 21:12] skaman82 opened #152 "Failsafe stage2"
I can not enable stage2 in the failsafe settings. If I enable stage2 and click save nothing happens.  If I want to go to another tab after this, the configurator hangs. Following console error on save in the failsafe tab. Tested with lasest configurator/firmware master.

<img width="1009" alt="bildschirmfoto 2016-07-26 um 23 09 30" src="https://cloud.githubusercontent.com/assets/11768024/17155660/

[2016-07-26 21:34] mikeller commented on #152
Oops, didn't check that one when I switched over the features code to be more self contained. Will look into it.

[2016-07-29 08:44] TheAngularity opened #158 "pid tab shows wrong pid controller"
@mikeller
i'm using betaflight pid controller all the time but now pit tab says it using legacy.
i think it's any wrong since last commit 9467a3c

[2016-07-29 08:49] borisbstyle commented on #158
@TheAngularity
Yes indeed. Something is broken there.

[2016-07-29 09:42] #158 closed

[2016-07-31 05:01] llambkin opened #163 "External minimOSD support in configurator"
Hey guys,

I got excited about the new OSD tab that is in the configurator now. But I have since found out it is for specific boards only.

I was wondering if support for existing minims can be integrated into the Betaflight configurator? It would be awesome if it was a one stop shop for the entire copter.

At worst case, having a button on the OSD page the allows passthrough to MWOSD configurator

[2016-07-31 05:36] mikeller commented on #163
At least for the 'not having to disassemble' part, isn't this taken care of by the 'serial passthrough' functionality?

But yeah, having the OSD tab support serially connected OSDs would take this to the next level. :-)

[2016-07-31 05:58] llambkin commented on #163
It does? If this functionality is available, it isnt well documented. I had no idea that I could do this. Maybe it could be added to the documentation....

But yeah, having OSD configuration in the GUI would give our project a polish that no other project has. It would require work from people far smarter than me. Its about time we had our own OSD, and call it BFOSD. Its about time we got rid of t

[2016-07-31 14:19] skaman82 commented on #152
@mikeller just fixed the layout via https://github.com/betaflight/betaflight-configurator/commit/37164a2bbaccfcb344c3b88f0f60735a6fb3903b I think we can close this now

[2016-07-31 14:37] mikeller commented on #152
Ha, you are a CSS wizard. Thanks!

[2016-07-31 14:37] #152 closed

[2016-07-31 14:38] mikeller commented on #152
By the way, if you add 'Fixes #x' as a comment to your pull requests or commits, github will close ticket x automatically.

[2016-07-31 15:11] skaman82 commented on #148
@mikeller also took care if this one in https://github.com/betaflight/betaflight-configurator/commit/e97f6685d43d9899d36f42dcb771bf183ff40e88

![bildschirmfoto 2016-07-31 um 17 07 30](https://cloud.githubusercontent.com/assets/11768024/17277377/a8cafd04-5741-11e6-8473-7c0656b548e7.png)

[2016-07-31 15:12] #148 closed

[2016-07-31 15:46] TheAngularity commented on #148
@skaman82
like it ... but what mean's the two SUPEREXPO_RATES an Super Expo Rates ... i think the second is the real one ... hmmm, and where is the tooltip on Super Expo Rates

[2016-07-31 16:30] skaman82 commented on #148
@TheAngularity I just cleaned up the layout. I din't add or removed stuffyet. But I get what you mean. I will remove the second label SuperExpo. The tooltip is not up to me but I can put a placeholder in there.

[2016-07-31 16:39] skaman82 commented on #148
@mikeller I also think we should remove the marked table cell. I just took a whirl at I but I didn't get where to remove it in the JS file :(

<img width="704" alt="bildschirmfoto 2016-07-31 um 18 36 35" src="https://cloud.githubusercontent.com/assets/11768024/17277865/081eb9ec-574e-11e6-8451-1f75373e89ea.png">

[2016-08-01 00:26] mikeller commented on #148
@skaman82 All the switches for features that are spread across the configuration / failsafe / PID tuning tabs are generated by the same code, and include the switch, the feature name (`SUPEREXPO_RATES`), and a description. I would like to keep it this way, and keep them generated, as this will allow us to add more features and have them show up in the right place automatically.

But I totally agre

[2016-08-01 12:55] mikeller commented on #101
Closing as no further info.

[2016-08-01 12:55] #101 closed

[2016-08-01 14:44] skaman82 commented on #149
![lay2](https://cloud.githubusercontent.com/assets/11768024/17297737/46fdc022-5807-11e6-8b1c-6bf2a4060be2.jpg)

[2016-08-02 00:35] mikeller opened #168 "Add autodetect for target to firmware flasher."

[2016-08-02 06:00] RBeaubien commented on #163
Are there any specifications for designing these specific OSD boards?  I'm integrating OSD into a project of my own and would like to use this facility.

[2016-08-02 06:57] averter opened #169 "Remove this thing from google chrome"
I couldn't believe when I saw this. It is inconceivable that I have to install a different and so insecure/non-privacy concerned web browser as google chrome to configure my quadcopter. For me this is not how an open source project should work. I consider this a major flaw and mark it as a high priority issue. Make betaflight-configurator a standalone application.

[2016-08-02 07:13] KiteAnton commented on #169
Both cleanflight and prior to that baseflight uses this kind of platform for configuration. One benefit with this approach is it makes the development platform independent. Until we find a better suitable platform-independent solution I think this is how it is going to be for a while.

Do you have any better suggestions? Anyone are able to make PR to this repository and suggest changes so if you h

[2016-08-02 07:28] KuchenKerze commented on #169
You don't have to use the Chrome App. Feel free to use the cli in your terminal of choice: https://github.com/cleanflight/cleanflight/blob/master/docs/Cli.md

[2016-08-02 07:37] mikeller commented on #169
@averter : Just out of interest: Do you have any suggestions on what framework could be used to implement a multiplatform GUI application (like the configurator), that doesn't have the drawbacks you describe above?

[2016-08-02 08:21] averter commented on #169
@KuchenKerze : Great alternative and thank you for pointing this out. For the time being I suggest that this option should be in the installation section of the readme file.
I am new to betaflight so for now I can't comment on what would be the ideal framework for a multiplatform GUI application. Eventually I will share my thoughts on this.

[2016-08-02 09:14] KiteAnton commented on #169
It is always good with new ideas and suggestions. However since we don't have any solution for this I will close this issue.

Anyone have any good suggestions/recommendation for multiplatform framework are encouraged to propose their ideas.

[2016-08-02 09:14] #169 closed

[2016-08-02 09:41] mkroehnert commented on #169
You could take a look at Electron (http://electron.atom.io/) which is used as the base for the Atom editor.
This is probably the closest to the current Chrome application.

[2016-08-02 10:55] mikeller commented on #169
Electron sounds promising indeed.

But: '...electron uses Chromium and node.js...'. In this respect it does not address the concerns of the original poster, as the current app already runs just fine under Chromium.

[2016-08-02 11:58] mkroehnert commented on #169
@mikeller there is a difference between Chromium and Chrome.
Chromium is the open-source part used by the proprietary Chrome browser.

While privacy concerns about Chrome are understandable I would call neither of them insecure.

[2016-08-02 12:44] averter commented on #169
@mkroehnert Even better then. The best solution (at least for me) would be to use Chromium by default instead of Chrome. This would solve the privacy issues and ensure the security of the data generated by the usage of betaflight. The software works fine on both so...

Note: I don't want to escalate this conversation into a privacy related issue. I am just pointing out a concern which I personally

[2016-08-02 13:03] skaman82 commented on #169
I am just wondering about this. I can't understand why it is a problem to use chrome? Never get why some people have privacy concerns. If Google wants to know if I use betaflight, so what... I couldnt care less. But that is my personal opinion.

Von meinem iPhone gesendet

[2016-08-02 13:12] averter commented on #169
@skaman82 Yes at the end of the day it all boils down to personal opinion. But if you claim that a software is opensource you should have a software which you control, all of your data, the software, who you share it with, the statistics, everything.
Users can always use chrome but the default I think should be open source based like chromium (my opinion).

[2016-08-02 13:30] mikeller commented on #169
@mkroehnert: I am well aware of this. But I am not sure if the original poster was, or else why would he have taken objection with the Betaflight configurator being a Chrome app, and thusly being able to run in chrome and chromium.

@averter:

What do you mean by 'default'? It is not like the Betaflight configurator defaults to running in one or the other, it happily runs in whichever of the two b

[2016-08-02 13:54] averter commented on #169
@mikeller Precisely. I wasn't aware of chromium existence until mkroehnert announced it. And just like me many others might not know.
By default I meant to simply suggest Chromium instead of Chrome in the installation section of the software.

[2016-08-02 13:58] mikeller commented on #169
Good point. we should at least mention chromium in there. Can you please point out where in the documentation you found this?

Also, if privacy and openness are a concern for you, may I suggest that you try an alternative operating system like linux? Most linux distributions come with the chromium browser by default, instead of chrome.

[2016-08-02 14:04] averter commented on #169
Thanks @mikeller I think I'm not the best person to know where this information should be written. I haven't even seen the documentation. The installation section of the readme file of the source code was my only reference.
I've always used linux  :-)  Just didn't ever came across Chromium (used to firefox).

[2016-08-02 14:51] mkroehnert commented on #169
@averter great to hear that I could make you aware of Chromium.

@mikeller from your comment I wasn't entirely sure if the difference was known. But now, everything seems to be settled.

Before adding Chromium to the documentation you should be aware that Chromium does not seem to provide official packages for download.
So the only way to easily install it seem to be Linux package managers.

[2016-08-02 16:52] skaman82 opened #173 "Backup button bug"
If I start the configurator and klick on the backup button in the setup tab it works as intended.
BUT: If I enter the PID tab and go back to the setup tab and click on the backup button again, it changes profiles instead of its normal function and loads the PID tab automatically.
Tested with current master.

[2016-08-02 22:02] #173 closed

[2016-08-03 02:37] BoyDrone commented on #101
bah. i finally got to this today. you just wanted to see super expo? its there in 2.7 on rev6

[2016-08-03 03:17] mikeller commented on #101
Ah, now I think I understand. Is the `SUPER_EXPO` that you are seeing the one on the 'Modes' tab, like in your screenshot? If so, this is where it should be for 2.7. It has been moved in the PID tab for later versions of the firmware, and @borisbstyle and I assumed that was where you were seeing it.

Do you still get the random PID values when you are using the latest configurator (should be updat

[2016-08-05 08:00] TheAngularity opened #183 "Derivative Method selection is broken"
@mikeller  @borisbstyle
since last commits the Derivative Method selection box is not more seen

[2016-08-05 08:03] mikeller commented on #183
Do you have 'Betaflight' PID controller selected? If so, it's by design, as the Derivative method only applies to 'Legacy'.

[2016-08-05 08:07] TheAngularity commented on #183
aahhhh .... ok ... using betaflight pid .... on legacy it appears ... closed now ;-)

thx

[2016-08-05 08:07] #183 closed

[2016-08-05 12:16] BoyDrone commented on #101
Hi Michael, I had a rev5 board fry on me a couple days ago. User error... not the board. oops.
so I reverted back to to Rev6, and installed 2.9.1 on it. everything seems to be corrected from what I saw on 2.7. Do you want me to go back to 2.7 tonight and plug in EZGUI to see if the PID values keep changing between device plug ins?

[2016-08-06 13:44] mikeller commented on #101
Hi @BoyDrone . Thanks for offering, but there's been a number of changes in the configurator since you've reported this, so the issue you had was most likely fixed. If not, somebody else will report it, without the need for you to flash an older version.

[2016-08-08 05:54] Yamaford opened #192 "Yaw RC rate missing from adjustments"
Was just about to set up my rates to inflight tune and noticed yaw rc not there.
Thanks

[2016-08-08 11:02] KiteAnton commented on #192
Yaw RC rate is currently not supported in Betaflight FW, see available functions [here](https://github.com/betaflight/betaflight/blob/master/src/main/io/rc_controls.h#L177-L201).

Until Yaw RC rate is added to betaflight fw there is really not much that can be done in the configurator. I will close this issue, please add an issue/PR to [betaflight repository](https://github.com/betaflight/betaflig

[2016-08-08 11:15] borisbstyle commented on #192
it can be added

2016-08-08 13:02 GMT+02:00 Anton Stålheim <notifications@github.com>:

[2016-08-08 12:31] KiteAnton commented on #192
Ok I added a PR for this to betaflight, I can add it also for configurator when the change is merged.

[2016-08-09 13:27] TheAngularity opened #199 "Save button on Blackbox Tab is broken"
I can change quite normal but unfortunately not save on tick the button :(

[2016-08-09 13:36] #99 closed

[2016-08-09 14:01] KiteAnton commented on #199
Which version of configurator and betaflight firmware do you experience this with?

[2016-08-09 14:12] TheAngularity commented on #199
Configurator 1.7.2 from last commit and BF 3.0.0 also last commit

[2016-08-09 14:18] KiteAnton commented on #199
Thanks,  I will try to check this later. Do you get any error/warnings in the inspector console?

[2016-08-09 14:32] TheAngularity commented on #199
cant see any error or warning

[2016-08-09 16:02] AndersHoglund opened #200 "REVO. USB DFU flashing hangs with "Full Chip Erase" enabled."
Flashing RTFQ Revo Acro via USB-DFU hangs in "Erasing...."-state. No progress bar.
I have been forced to use RFC 1.3.5 flasher, works fine.

Tried BFC 1.7.1 from the store and also a fairly new from github (9d2a3a3d0), same same.
 On Win10 Annniversery update and Chrome: 52.0.2743.116

Flashing SPRF3 works fine. Only tried "No reboot seq.." with bootpads shorted though.

[2016-08-09 16:12] borisbstyle commented on #200
Are you using correct Zadig drivers?

I believe there are few different to choose and only one of those works for
me on other boards

[2016-08-09 16:39] AndersHoglund commented on #200
Well, same driver used by RFC and that works OK. WinUSB (v6.1.7600.16385)
Will test on Ubuntu, stay tuned.

[2016-08-09 17:04] AndersHoglund commented on #200
Almost the same on Ubuntu. Just sits there "Erase"-ing with no progressbar, but then when I was about to give up; "Flashing", with a progressbar. And then "Verifying" and Sucess. Done.
On Windows I have been waiting at least 5min for "Erase"-phase to finish, but no go. Will leave it there and see what happens in the next few hours. Might just be slow erase.
But progressbar missing is still a flaw.

[2016-08-09 17:12] AndersHoglund commented on #200
Noticed in the log that the DFU USB is opened when I hit "Flash Firmware", then at some (random ?) time later it silently closes USB. GUI only says "Erasing..." the whole time. In this sample I hit "Flash"-button three times, last has not closed/finished yet (6min later).

    2016-08-09 @ 19:02:27 -- Running - OS: Windows, Chrome: 52.0.2743.116, Configurator: 1.7.1
    2016-08-09 @ 19:02:53 -- US

[2016-08-09 17:20] nathantsoi commented on #200
fyi. this happens to me sometimes on my mac, usually after doing a save
operation on the fc w/o rebooting the fc. it totally destroys the serial
port held by chrome and i have to hard reboot my computer as for some
reason, chrome won't nicely release the resource.

On Tue, Aug 9, 2016 at 10:12 AM Anders Höglund <notifications@github.com>
wrote:

[2016-08-09 17:24] borisbstyle commented on #200
Yeah I always do fresh reconnect some targets before flashing

[2016-08-09 18:18] KiteAnton commented on #199
@TheAngularity I can't reproduce your problem. Save button works for me on latest configurator from github. I actually doesn't reboot the board as it states but data is saved.

[2016-08-09 18:48] TheAngularity commented on #199
here is my way to reproduce the problem:
- go to blackbox tab ... change something and save ... it's save but not reboot
- go to cli ... then type exit to reboot
- back to blackbox tab ... and the old values befor changed are back

[2016-08-09 18:52] KiteAnton commented on #199
Yes ok, I can reproduce the same. Will investigate this, maybe the missing reboot will fix the issue.

[2016-08-09 19:03] #199 closed

[2016-08-09 19:05] KiteAnton commented on #199
Ok, found the issue and fixed it. @TheAngularity thanks for reporting this, I was not aware it didn't work.

[2016-08-09 19:15] KiteAnton commented on #192
This is fixed by #195

[2016-08-09 19:15] #192 closed

[2016-08-09 19:16] KiteAnton commented on #52
Is this issue resolved ? Can we close this issue ?

[2016-08-09 19:16] mikeller opened #202 "Add acceleration limits to GUI"
Add `ADVANCED_TUNING.pidMaxVelocity` and `ADVANCED_TUNING.pidMaxVelocityYaw` to 'PID Tuning' tab.

[2016-08-09 20:33] RipperDrone commented on #52
Where's the update notification exactly supposed to show up. Until now, no sign of update hints whatsoever. HAve manually deinstalled existing version, then reinstalled updated version from Chrome store anytime an update was released. My understanding was that there was supposed to be an update notification and direct option to update instead of deinstall/reinstall, correct? Both notification and

[2016-08-09 20:51] mikeller commented on #52
I am not sure there is a notification that is supposed to show up after Chrome web store app updates. I sometimes get a pop up notification from chrome after an app / extension has been updated, but this does not seem to be consistent.

Seeing that nobody else is reporting this problem, this makes me suspect that there might be a problem with your installation of Chrome, or rather with the local d

[2016-08-09 20:58] RipperDrone commented on #52
I've got a lot of settings and other apps in place, so would not prefer to lose all this just to verify. I'm perfectly ok you close this thread, just wanted to let you know the status quo. It's not a major feature, and I'm aware there are more rewarding pieces to work on than this ;-)

[2016-08-09 20:58] #52 closed

[2016-08-12 16:52] AndersHoglund commented on #200
Only happens with "Full Chip Erase" enabled, it seems. And I almost always use that....
(RFC does not have that option at all anymore....)

[2016-08-12 17:34] borisbstyle commented on #200
I was never able to do that on VCP targets actually.
I always flash those without erase

[2016-08-12 20:46] michelp29 opened #208 "Modify interface to fully display on small screens like 8" win10 tablets"
The default interface does not display correctly on my 8" win10 tablets (Chuwi Hi8 pro with original windows 10, 1920*1200 screen)
- the "save and reboot" button does not displays, even when scrolling completly to the bottom of the window, making it unuseable.
- the left vertical icon bar does not fully display, even when scrolling completly to the bottom, making CLI not accessible in horizontal m

[2016-08-13 12:49] mikeller opened #210 "MSPCodes.MSP_SET_PID_ADVANCED missing from MspHelper.prototype.process_data"
https://github.com/betaflight/betaflight-configurator/blob/master/js/msp/MSPHelper.js#L686

[2016-08-13 12:54] mikeller opened #211 "New MSPHelper gets created on every connect"
https://github.com/betaflight/betaflight-configurator/blob/master/js/serial_backend.js#L186

Since the MSPHelper registers as a listener for notifications from MSP, after multiple disconnects / reconnects, there are multiple listeners registered.

Either move the instanciation into initialisation code for `serial_backend.js`, or deregister listener on connection close (probably cleaner).

[2016-08-13 13:00] mikeller opened #212 "Remove unneeded check"
https://github.com/betaflight/betaflight-configurator/blob/master/js/msp.js#L111-L113

[2016-08-13 14:09] mikeller commented on #208
Hi @michelp29.

This is a hard one. It is very hard to get display on mobile devices right without having access to the device for testing, and even then it requires a lot of work, as it needs to be tested for a lot of different devices.

In general, the configurator is designed to work in a window, and not in full screen. Once switched to be in a window, you should be able to resize the window so

[2016-08-13 18:47] SnappyFPV opened #218 "OSD: Reset Layout Option, Lost Elements after move in Preview"
Hi i use the Omnibus FC with integrated OSD.

I wish the GUI has a Layout Reset Button. Also some Elements that i have moved by mouse are disapeared in preview - can't see them anymore. Look in screenshot - timer is activated - not visible anymore after movement in preview.

![osd](https://cloud.githubusercontent.com/assets/6499781/17644950/1483701c-6197-11e6-95a9-a1f3a50ff49e.jpg)

[2016-08-14 09:39] #210 closed

[2016-08-14 09:39] #211 closed

[2016-08-14 09:39] #212 closed

[2016-08-14 10:01] #127 closed

[2016-08-14 10:01] #34 closed

[2016-08-16 10:21] Tomcatt opened #222 "Status Lights on Configurator"
I notice that the link indicator in the configurator doesn't display the status of the link anymore.

[2016-08-16 10:23] Tomcatt commented on #218
So that's what the OSD section looks like.  I need to have a FC with an intergraded OSD on it in order to see this?  I thought my MinimOSD would work.

[2016-08-16 10:28] Tomcatt commented on #200
What if he's having baudrate issues?  Too fast?  Too slow?

I'll have to research it but with command line you can add a progress bar to it.

[2016-08-16 10:36] Tomcatt commented on #163
If you want to see what it looks like check out this posting on #218

[2016-08-16 10:39] Tomcatt commented on #149
Why if I didn't know any better, there would be no need to use the OSD Configurator anymore.  Turnkey

One less program to install.

[2016-08-16 10:41] Tomcatt opened #223 "Add a DFU Button"
Are you able to add a DFU Mode button on the Setup page?  That way you don't have to click on CLI then type it.

Yeah I know, lazy.
LOL

[2016-08-16 11:39] mikeller commented on #223
This will have to be added to the MSP protocol on the flight controller side first.

[2016-08-16 11:45] borisbstyle commented on #223
It does that automatically actually once you press flash

[2016-08-16 11:55] gaelj commented on #223
Yes, what's the point ?
Also could you rename the issue to a more explicit title please ? Such as "add DFU button"

[2016-08-16 12:46] Tomcatt commented on #223
I was looking for the option to make it a feature or a small enhancement; not a problem.

Sent from my 📱6s+

[2016-08-16 13:35] borisbstyle commented on #223
Yes but can you explain why it is needee?

[2016-08-16 14:37] Tomcatt commented on #223
Example
I'd like to go to DFU; so apply power configurator it sees the FC and connects.  First page I see is the setup page.  Oh look, there's "Reboot to DFU".  Why I didn't have to click on CLI to bring up a different page, click on the command box to activate the cursor and hit four keys on the keyboard to do to achieve DFU.

Or for some of us take the top plate off and short the BL pad with one

[2016-08-16 14:39] gaelj commented on #223
Ok but our question is, why would you want to go in DFU if it's not to
flash (in which case DFU automatically kicks in) ?
On Tue, 16 Aug 2016 at 16:37, Bluecheese <notifications@github.com> wrote:

[2016-08-16 15:10] Tomcatt commented on #223
Ah, I see where you two are coming from with that way of doing DFU.  I was going about it a different way.  No worries. My bad.

Could you guys close this ticket please?

[2016-08-16 15:11] gaelj commented on #223
I can't, but you can close it if you opened it :)
On Tue, 16 Aug 2016 at 17:10, Bluecheese <notifications@github.com> wrote:

[2016-08-16 15:12] skaman82 commented on #223
closed

[2016-08-16 15:12] #223 closed

[2016-08-16 15:45] michelpozio commented on #208
Hi @mikeller ,

Unfortunately, I can't correctly resize it in window mode : the minimum size of the app window is larger than the display viewport of the tablet, despite the app minimum size is something like 1041x589 only (and this size works well on a desktop screen).

It seems to be due to the retina screen (283dpi, 190x1200) or a DPI/digital-point-per-inch problem or a pixel ratio thing, as th

[2016-08-16 17:18] nathantsoi commented on #218
yes you need a board with a BFosd like: https://github.com/betaflight/betaflight/wiki/Board---OMNIBUS, mwosd is not supported, yet.

@SnappyFPV, i have fixed the lasted configurator (on master) to make it impossible to position an element off screen. if you need to reset the layout, use the "reset to defaults" on the other status or config page (I think that's where the button is?)

if that works

[2016-08-16 20:19] mikeller commented on #208
Unfortunately, I don't think there is much we can do for this at the moment. With all the different screen types and geometries, supporting mobile devices is never going to be a 'one size fits all' thing, which is all we can really do in the limited time we've got.

[2016-08-17 11:20] michelp29 commented on #208
I finally found a workaround by modifying display defaults in Windows 10 :

For anybody who will encounter the same display problem,
just go to : Settings > System > Display, then  modify the cursor named "Change the size of text, apps and other items" to whatever works for you.
In my case it was "200%" (default) and works just fine when changing it to 150%.

Scrollers are ok, all buttons and bott

[2016-08-17 11:23] mikeller commented on #208
Good to hear that you found a way, and thanks for sharing so that others can benefit too.

[2016-08-18 08:46] TheAngularity opened #234 "Show unstable release"
... is set as default ... would that be so?

[2016-08-18 09:03] KiteAnton commented on #234
Latest configurator should keep in memory what you had selected previously. Default should be off.

[2016-08-18 09:53] mikeller commented on #234
Yes, latest (unreleased) configurator 'remembers' the user's selection. 'Unstable releases' is off on initial startup.

[2016-08-18 13:46] TheAngularity commented on #234
I'm switch it of ... loaded firmware and flashed ... then finish the configurator ... but next start it still appears switched on

[2016-08-18 19:07] skaman82 commented on #208
I think you had some settings messed up on your device. I just tested the current chome webstore version on my 8" win10 tablet and it works just fine in the landscape mode like it always have.

![screenshot 4](https://cloud.githubusercontent.com/assets/11768024/17787020/c0900eb2-6587-11e6-96e2-52cba7a549e3.png)
![screenshot 5](https://cloud.githubusercontent.com/assets/11768024/17787022/c0b7b034-6

[2016-08-18 19:10] skaman82 commented on #208
The minimum window size of the app is 1024x550px by the way

[2016-08-18 19:12] skaman82 commented on #208
@mikeller I think we can close this

[2016-08-18 19:43] mikeller commented on #208
@skaman82 Yes. To conclude, while we not actively discourage use on mobile devices, it is also not something that we have the resources to provide support form

[2016-08-18 19:43] #208 closed

[2016-08-19 00:58] #222 closed

[2016-08-19 01:32] #234 closed

[2016-08-19 05:45] michelp29 commented on #208
@skaman82,  what is your setting value for :
Settings > System > Display, cursor "Change the size of text, apps and other items" ?

[2016-08-19 11:39] skaman82 commented on #208
@michelp29 it is "125% (recommended)" - never changed that setting

[2016-08-21 00:35] etracer65 opened #237 "1.7.3 sets airmode_activate_throttle to 70 on any changes in PID Tuning tab"
Causes air mode to be active immediately on arming and leads to I-term windup and the quad wanting to take off on its own.

[2016-08-21 00:44] borisbstyle commented on #237
Are you using RC8?

[2016-08-21 00:45] etracer65 commented on #237
No, RC7

[2016-08-21 00:49] etracer65 commented on #237
Just tested with RC8 and the same behavior.  Any changes on the PID Tuning tab cause airmode_activate_throttle to be set to 70.

[2016-08-21 01:20] borisbstyle commented on #237
Try 1.7.4
https://chrome.google.com/webstore/detail/kdaghagfopacdngbohiknlhcocjccjao/publish-delayed?hl=nl

[2016-08-21 01:27] etracer65 commented on #237
Waiting for the new version to be active - still shows 1.7.3 in the chrome store.  The link you posted gives an error.

Er is een fout opgetreden:

Item niet gevonden. Dit item is mogelijk door de auteur verwijderd.

[2016-08-21 01:28] etracer65 commented on #237
I see the commit though and that looks like it will fix it.

[2016-08-21 01:42] etracer65 commented on #237
1.7.4 just showed up and it fixes the problem.

[2016-08-21 02:46] Austinthemighty opened #238 "Google Chrome apps are no longer being supported"
here is a link to the article that state that google is dropping support for google chrome apps: http://wccftech.com/google-planned-support-chrome-apps-mac-windows-linux/

In summary;
Google to phase out Chrome apps on desktops means that users will no longer be able to run Chrome apps on any platform except for Chrome OS. Google’s plans start later this year as Chrome apps will only be available

[2016-08-21 03:06] mikeller commented on #238
Thanks for letting us know. There are already plans under way to do a reimplementation of the configurator based on a more modern framework. The sunsetting of Chrome apps, and the timeline that is planned for this, fit in nicely with those plans.

[2016-08-21 03:06] #238 closed

[2016-08-21 18:24] Austinthemighty opened #240 "[Feature] is it possible to add the blheli suit to the betaflight configurator"
Is it possible to add the blheli suit to the betaflight configurator.

[2016-08-21 18:29] Austinthemighty commented on #9
I will try and help on this one to, may not be able to do much due to school, but i will try, also in my opinion we should have it be backwards compatible, but add all of the new parameters to it, while not overwriting the old ones.

[2016-08-21 18:51] Austinthemighty commented on #238
ok that is good the hear, also can we create an app that works on android and ipad that works via bluetooth

[2016-08-21 19:00] gaelj commented on #238
GPL is not accepted on the Apple Store.

[2016-08-21 19:49] mikeller commented on #9
I've already started working on this, it's going to be based on using a CLI dump / diff as a backup, which should make it a bit more portable across firmware updates.

[2016-08-21 20:02] mikeller commented on #240
There is an effort under way to implement a blheli configuration utility in JavaScript. It will not be implemented as part of the Betaflight configurator, as it is intended for users that run any of cleanflight / iNav / Betaflight, which all support the ESC passthrough protocol.

[2016-08-21 20:02] #240 closed

[2016-08-22 05:29] Austinthemighty commented on #238
@gaelj you can still do it @borisbstyle just has to claim copyright to it

[2016-08-22 05:30] Austinthemighty commented on #9
ok can you send me the repo link

[2016-08-22 10:16] csurf opened #241 "feature request: add ability to control motor output in motors tab via RC throttle stick"
It would seem helpful to be able to control the motor output in motors tab via the RC stick input (over receiver link).

Perhaps we could add an extra checkbox/binary slider to enable control via RC throttle stick. This would force user to select the option & not have it be enabled automatically by default for safety reasons.

This would allow for easier & finer control of motor output in certain

[2016-08-22 10:26] bripkens opened #242 "Google Chrome apps are no longer being supported"
Copy from: https://github.com/cleanflight/cleanflight-configurator/issues/420

[2016-08-22 11:09] KiteAnton commented on #242
Yes, thanks for information. It is already known for the dev team. Also just mentioned in #238

[2016-08-22 11:09] #242 closed

[2016-08-22 16:26] inspiredbytes opened #243 "Chrome Apps are going to b discontinued."
Chrome apps will be phased our: https://blog.chromium.org/2016/08/from-chrome-apps-to-web.html

Consider converting to an Electron App: http://electron.atom.io/

[2016-08-22 16:46] inspiredbytes commented on #243
Just found there was already a closed issue on thing #242

[2016-08-22 16:46] #243 closed

[2016-08-23 19:46] QuadroBro opened #244 "Issues in 1.7.5"
Vbat PID compensation doesn't reflect changes. After saving profile, switching and going back to profile it shows it as off.

Have to disconnect to leave PID tuning

[2016-08-23 20:42] #244 closed

[2016-08-24 05:53] Austinthemighty opened #248 "feature request: Be able to access the release candidates from the gui instead of having to go to github"
Can we have a way of accessing the release candidates from the configurator, like flip a switch and be able to access it, or something like that?

[2016-08-24 06:09] borisbstyle commented on #248
Just click on show unstable releases

[2016-08-24 06:09] #248 closed

[2016-08-24 06:10] borisbstyle commented on #241
I dont see a point of doing this while you have sliders already

[2016-08-24 06:12] Austinthemighty commented on #248
ok, sorry didn't see that

[2016-08-24 06:14] Austinthemighty commented on #238
hey can @borisbstyle create a new repository for the code, i was looking into http://nwjs.io/ for clean flight and a lot of things have to change inorder for it to work

[2016-08-24 06:16] Austinthemighty commented on #241
i like the idea, it would be a lot easier when trying to balance the motors, also you would have like a check box to select what motor you want when doing this

[2016-08-24 14:14] mikeller commented on #241
Honestly, I think we are overthinking this. If you want to use the sticks on your remote to control the motors, just disconnect USB and arm it. ;-)

[2016-08-24 16:39] borisbstyle commented on #241
I still dont see a usefull case for this. Didnt hear any good argument
about why it should be there.

You can use various ways for driving the sliders.

[2016-08-25 23:56] #237 closed

[2016-08-25 23:58] #143 closed

[2016-08-26 15:29] skaman82 opened #251 "OSD SW Mode is mistakenly bound with feature OSD"
I can't select the OSD SW mode in the modes tab until I activate the OSD feature in the config tab. This activates also the OSD tab (makes sense for BFOSD targets).

For users without BFOSD targets this is confusing. If a user uses mwosd the OSD tab makes no sense here. I suggest making the OSD SW mode always applicable like it was before.

[2016-08-27 11:35] mikeller commented on #251
I don't think having the OSD SW depend on the feature OSD being enabled is wrong per se, with 'feature OSD' being used as 'all things related to OSD'. What is wrong however, is that the OSD tab is dependent on the OSD feature alone, it should only be shown if the feature is enabled, *and* the FC indicates that BFOSD is supported.

I will change that.

[2016-08-28 18:33] RipperDrone opened #254 "Columns don't match up (GUI cosmetics)"
On the BFC PID page, column titles and data fields do not match up at all:
![image](https://cloud.githubusercontent.com/assets/12601105/18035873/a25b7614-6d5e-11e6-9897-06caeec58e0a.png)

Is this difficult to implement?

[2016-08-28 20:19] mikeller commented on #254
It needs some tweaking in the .css, which I am not particularly good at. I was hoping @skaman82 would give the PID tuning tab a makeover now that it has the new filter sub tab.

[2016-08-28 20:52] RipperDrone commented on #254
Ok, maybe @skaman82 will do the trick sometime. In case: The craft name field could be a little wider to allow for more than 8 characters:

![image](https://cloud.githubusercontent.com/assets/12601105/18036681/1927b790-6d72-11e6-8e40-cbe32841d255.png)

[2016-08-28 20:58] skaman82 commented on #254
I take a look at this next week if I have time!

Von meinem iPhone gesendet

[2016-08-28 21:15] mikeller commented on #254
@RipperDrone: Can you please create a separate issue for the name field size, so we can keep track of things?

[2016-08-28 21:49] RipperDrone opened #255 "Craft name field too short (GUI cosmetics)"
Just cosmetics, but the craft name field could be a little wider to allow for more than 10 characters...:

![image](https://cloud.githubusercontent.com/assets/12601105/18036999/f47900ea-6d79-11e6-98d9-245d5cb8a7c1.png)

[2016-08-28 21:50] RipperDrone commented on #254
@mikeller Done.

[2016-08-29 01:42] #255 closed

[2016-08-29 01:42] skaman82 commented on #254
done

[2016-08-29 01:42] #254 closed

[2016-08-29 05:39] RipperDrone commented on #254
Thank you!

[2016-08-29 05:39] RipperDrone commented on #255
Great, thanks man!

[2016-08-29 15:01] ksFPV commented on #218
i also got the omnibus FC .. working with rc12 and latest Configurator.

I think the Problem is that if you drag something to the Betaflight Logo Area it's behind the logo and you won't be able to drag it arround anymore since the Logo is in Front.
I have this Problem with my CPU OSD .. it Shows in my Goggles but i can't move it anymore since the Logo is in front of it in the Configurator.

An Res

[2016-08-29 16:24] nathantsoi commented on #218
Good call. I'll add a reset button or a way to show hidden items. We used
to have the position shown as an integer value. Maybe we should bring that
back for now?

On Mon, Aug 29, 2016 at 8:01 AM ksFPV <notifications@github.com> wrote:

[2016-08-29 16:31] ksFPV commented on #218
maybe just combine the background Picture with the Logo itself and not the Logo as unmoveable object and it should work also i guess ... i'm not that deep into programming.. i just found that the logo is declared as unmovable Object somewhere in the code.

Or maybe an option to hide the logo (i think i've seen that in the Past or in CF Configurator somewhere)

[2016-08-29 16:53] skaman82 commented on #218
I would remove the logo completely. It is not a positionable element.

Von meinem iPhone gesendet

[2016-08-29 22:19] mikeller commented on #254
Dammit, you're too fast, @skaman82 ;-) There will be more changes to the table coming from #252. Sorry.

[2016-09-01 13:16] RipperDrone commented on #254
Feedback: Name field and basic PIDs look wonderful, however STRENGTH & TRANSITION are still a little mis-scaled:
![image](https://cloud.githubusercontent.com/assets/12601105/18168651/0137a856-7057-11e6-94d7-3ea113058b45.png)

[2016-09-04 10:58] RipperDrone opened #260 "GUI: Menu dead after resizing application window (e.g. horizontally)"
After extending the canvas of the app window horizontally, mouse selection / left-click does no longer select menu items - menu seems dead.

[2016-09-04 11:03] RipperDrone opened #261 "GUI: cloumn alignment still confused?"
@skaman82 : Sry to bother, but with latest commits, still column border alignment seems confused on my Windows 10 system:

![image](https://cloud.githubusercontent.com/assets/12601105/18230576/e82e15fc-729f-11e6-8449-25414f2d143a.png)

In the VEL/ALT tab, everything matches just perfect - why is it different on the other tables?

[2016-09-04 12:32] mikeller commented on #261
@RipperDrone: Please be patient. There are more changes to the PID tab in the pipeline, we'll clean up the layout once everything is in.

[2016-09-04 12:35] mikeller commented on #260
What menu? What OS?

[2016-09-04 12:43] RipperDrone commented on #260
All menu items of BFC itself. OS=Win10 x64. I reverted back to 1.7.7, then resizing windows lets the menu stay alive.

[2016-09-04 12:45] RipperDrone commented on #261
no prob, just wanted to inform @skaman82 , since Albert seemed to be working on these alignments with his recent commits (he even referenced to these issues in his commit comments and the issues were put into closed state already - but not fixed yet).

[2016-09-04 12:47] mikeller commented on #260
There is not really any menus and menu items in the configurator, so I cannot quite follow you.

[2016-09-04 13:02] RipperDrone commented on #260
sry, did not make myself clear enough. I am referring to the menu icons in the left side bar, e.g. Setup, Ports, Configuration, ...

Those are all dead in the latest build, after resizing the app window.

[2016-09-04 13:26] mikeller commented on #260
Hmm, I cannot reproduce under Linux. Maybe someone with Windows can have a look?

[2016-09-09 19:13] le3dmax opened #268 "Failsafe tab"
I don't see the failsafe tab on 1.8.0
also I have the failsafe as a feature, but I can't see it on the configuration tab as well.
Thanks. LD
_____
feature VBAT
feature RX_SERIAL
feature FAILSAFE
feature BLACKBOX
feature AIRMODE
_______
set failsafe_delay = 10
set failsafe_off_delay = 10
set failsafe_throttle = 1000
set failsafe_kill_switch = OFF
set failsafe_throttle_low_delay = 100
set failsafe_p

[2016-09-09 19:16] borisbstyle commented on #268
Failsafe tab needs expert mode to be activated in the gui

[2016-09-09 20:14] le3dmax commented on #268
wow i see that now thanks!

On Fri, Sep 9, 2016 at 3:16 PM, borisbstyle <notifications@github.com>
wrote:

--
Leandro Dantas
http://www.le3d.com

[2016-09-09 20:14] #268 closed

[2016-09-09 20:32] Austinthemighty opened #269 "Gps Assisted failsafe"
There should be a way that when your receiver goes into failsafe the gps, says go up to an altitude of  50-100 feet and go home and land.

[2016-09-09 21:03] KiteAnton commented on #269
You should check out iNav,  https://github.com/iNavFlight/inav,  it has better GPS support and features with that.

[2016-09-09 21:03] #269 closed

[2016-09-10 00:11] Austinthemighty commented on #269
where i live my RX is somewhat shoddy, and i don't like walking out 40 to 50 meters to get my drone

[2016-09-11 11:19] mikeller commented on #261
This seems to be fixed now, @RipperDrone?

[2016-09-11 13:34] RipperDrone commented on #261
@mikeller it's better but not fixed. Depending how you size the window horizontally, there is a column mismatch in STRENGTH and TRANSITION still. All others are a perfect match.

[2016-09-11 13:35] RipperDrone opened #271 "BF 3.0.0 I2C errors / freeze in USB communication"
new with stable 3.0.0: BFC 1.8 throws I2C errors, then com with FC is frozen. SPRacingF3...

[2016-09-11 20:06] RipperDrone commented on #260
Seems fixed in 1.8

[2016-09-11 20:06] #260 closed

[2016-09-11 20:15] RipperDrone commented on #271
Rebootet Win10 PC, problem gone. Seems a COM port driver issue rather than BFC. I will monitor carefully but close this Issue now...

[2016-09-11 20:15] #271 closed

[2016-09-12 10:00] UncleMcNutz opened #274 "reciever mode serial rx won't save unless port is defined"
reciver mode does not save if serial rx is selected and no serial rx is designated in ports, appears serial scenario does not get set before enableing serial rx port, unsure if intentional or not, possible that every time i've flashed a bored i set the ports first though i doubt it, until recently this did not happen.

[2016-09-12 12:54] mikeller commented on #274
Yes, this is indeed a feature of the firmware, and not a bug of the configurator. Setting serial Rx as signal input, with no port configured for serial input would not result in a flyable configuration.

 Also, please note the tabs in the configurator are in such an order that the ports tab comes before the configuration tab, trying to steer the user towards doing it in the right order.

[2016-09-12 12:54] #274 closed

[2016-09-13 22:16] lazd commented on #149
@skaman82 I don't think it makes sense to do this on the OSD tab, as this is technically a separate thing. It may make sense to add a VTX tab, though it feels like a waste since there are only 3 options.

I'm going to investigate exposing UI for this and will send a PR.

PS: @skaman82 the discussion regarding OSD switch etc should be in a separate issue.

[2016-09-13 22:20] skaman82 commented on #149
@lazd I don't se why we should do a separate tab for this - as you say, this would be a waste of space. There must be some kind of target detection in the OSD tab though to show the vtx setting only if supported by connected target. We also could do this in a sub-tab (like in the PID Tab).

[2016-09-13 22:22] lazd commented on #149
@skaman82 the VTX is not the OSD, so it should not be on the OSD tab, either as mocked up in your screenshot or as a sub-tab.

It is not a waste of space, it surfaces the information in an obvious place. I am focusing on doing this work in a separate tab right now and will defer to the project owners as to whether this is the right place for it.

[2016-09-13 22:24] skaman82 commented on #149
@lazd ok, if you need some help with graphics/css or the VTX tab icon, let me know.

[2016-09-13 22:56] lazd commented on #149
@skaman82 a VTX icon would be nice, though I have no idea what it would look like!

[2016-09-13 23:39] skaman82 commented on #149
@lazd added icons in https://github.com/betaflight/betaflight-configurator/commit/ffb6cfe0810b2811bc827129773bffd3ba976501

<img width="227" alt="bildschirmfoto 2016-09-14 um 01 39 03" src="https://cloud.githubusercontent.com/assets/11768024/18495179/0fbf6b92-7a1c-11e6-9fb5-70f0ff95c6fa.png">

[2016-09-14 00:08] skaman82 commented on #241
I agree with @borisbstyle and @mikeller

[2016-09-14 14:16] #261 closed

[2016-09-14 23:40] mikeller opened #282 "Snapping of balloons in rates graph is broken"
The balloons in the rates graph do not properly snap, so that the contents become unreadable:

![broken_balloon_snapping](https://cloud.githubusercontent.com/assets/4742747/18533721/315283de-7b39-11e6-9748-cca3af51861c.png)

[2016-09-14 23:41] mikeller opened #283 "Balloon text in rates graph doesn't scale properly"
Depending on zoom level, the text in the rates graph is scaled too small to be readable:

![balloon_overlap](https://cloud.githubusercontent.com/assets/4742747/18533740/5ee90296-7b39-11e6-9189-f4c0eec20cf2.png)

[2016-09-15 10:51] jaimevisser opened #284 "Chrome applications are deprecated by google"
Betaflight configurator will need to move to either Electron or NW.js if it is to be kept in a usable state when chrome app support ends.

Electron is also used as the basis of Slack and Atom. Quite mature and packaging options for all major platforms.

NW.js is a bit older then Electron and is also widely in use. Packaging is a bit more difficult but the advantage is that it has support for all c

[2016-09-15 11:33] KiteAnton commented on #284
Yes thanks for the info.  It is already known in the dev team and there will be an independent configurator in the future, stay tuned. :)

[2016-09-15 11:33] #284 closed

[2016-09-16 23:33] Austinthemighty commented on #284
should we re-open #238 so people see it

[2016-09-17 10:58] RipperDrone commented on #261
@skaman82 All perfect now - even on Windows 10. Thanks, mate!

[2016-09-17 11:39] skaman82 commented on #261
That wasnt me this time - but still great! ;)

Von meinem iPhone gesendet

[2016-09-21 01:05] etracer65 opened #292 "3D model animation defaulting to generic box - OS X"
Not sure when this happened (but sometime in the past week), but on my MacBook Pro (OS X 10.10.5) the model animation is showing the generic Cleanflight box instead of the quad.  It's like what happens if you run a custom mixer (but I'm not).  Tried a complete refresh (w/chip erase) to BF 3.0.0, uninstalled and reinstalled Chrome, removed and reinstalled the BF configurator (1.8.1) - all with no c

[2016-09-21 01:57] rodgerramjet opened #293 "feature request: Show known issues with H/W or S/W somewhere in UI"
Was just thinking it would save everyone (you guys included) a with common problems & known issues somewhere in the UI.

This could be key bugs (or limitations) in a particular version of BF firmware (once connected to quad), or a hardware issue (e.g. gyros that are sensitive and need soft mounting, or receivers that have some known issues depending on the board/etc), or min_throttle suspiciously

[2016-09-21 02:10] rodgerramjet opened #294 "feature request: PID and Filter calculation helpers"
This might have been suggested before (or something similar)

I was thinking about a UI where you specified key parameters like FC, frame, battery, motors, etc and the page would recommend (or apply) PIDs/ filters for your setup.

Possibly using some kind of formula (e.g. we know a small frame with high KV motors will probably need lower pids). So you'd start with the betaflight defaults and based

[2016-09-21 18:06] lazd commented on #149
@skaman82 Alright, I'm a bit stuck. I tried doing `MSP.send_message(MSPCodes.MSP_VTX_CONFIG, false, false, load_html);`, but I get no data back and the `FC reports unsupported message error: 88` message appears in the console.

How can I go about fetching the `vtx_channel` and `vtx_power` from the VTX, updating it, and writing the value back?

[2016-09-21 21:03] mikeller commented on #149
@lazd: Are you using a singularity FC? That is the only board that supports VTX at the moment.

[2016-09-21 21:54] mikeller commented on #292
This is weird.The warning message is unrelated, and has always been there. Only thing I can imagine is that it might have been caused by an update to chrome, or that the uninstall of chrome and / or the configurator did leave behind some artefacts that broke the reinstall (a common problem on Windows, and I am not a Mac user, so I don't know if it can happen there too).

[2016-09-21 22:07] lazd commented on #149
@mikeller actually I'm using the SirinFC, which also has a VTX and OSD integration with Betaflight. It relies on the `vtx_channel` and `vtx_power` CLI commands to change the channel, and also allows configuration via the OSD.

I could not find documentation on how to do something like "change this CLI setting" via a tab in the configurator, and I gather it needs to be done with `MSP.send_message`,

[2016-09-21 22:49] mikeller commented on #149
@lazd: Currently only the SINGULARITY target in Betaflight supports VTX and `MSP_VTX_CONFIG`. This will probably be added to the SIRINFPV target in the future.

[2016-09-21 23:34] lazd commented on #149
@savaga can you look into adding support for `MSP_VTX_CONFIG` to the Sirin target?

[2016-09-22 01:41] savaga commented on #149
@lazd, I will take a look and send you a test build

[2016-09-22 02:16] lazd commented on #149
@savaga excellent! Also please see if `MSP_SET_VTX_CONFIG` is something we need to store the values. Thanks!

[2016-09-23 08:16] riquezjp opened #297 "backup file date formating"
Date formatting convention used in backup file names could be improved.
OLD: cleanflight_backup_8.29.2016.17.9.txt
(august 29th 2016, 17:09hrs)

Suggestion: cleanflight_backup_2016.08.29.17.09.txt
(august 29th 2016, 17:09hrs)

I suggest the date should be formatted as big-endian to avoid confusion & be numerically hierarchical when sorting files on your computer.
Single digits without a leading 0

[2016-09-23 08:19] mikeller commented on #297
Yep, good point.

[2016-09-23 14:27] nathantsoi commented on #218
It can be hidden now

[2016-09-23 14:27] #218 closed

[2016-09-24 09:35] nathantsoi opened #298 "oneshot125 cannot run over 2khz"
limit this in the ui or suggest switching protocols?

[2016-09-24 22:56] dropax opened #299 "Mixer QuadX1234 not selectable"
The option "QuadX1234" is not in the dropdown list but still can be set in CLI with the mixer command.
I vaguely recall it was in the GUI back then we used cleanflight configurator. Very handy when converting a CC3D quad from openpilot to betaflight.

Is it betaflight configurator not showing or betaflight not telling via MSP? Had a quick glance at both but couldn't spot anything.

[2016-09-25 10:48] mikeller commented on #299
It looks like it is a configurator problem. `QuadX1234` should be the last entry in `mixerList` in `js/model.js`, right below `Custom Tricopter`. But it could also be an oversight in the CLI code that this mixer type has never been removed from the CLI when support for it was removed from the firmware.

Can you please confirm if this still works as it should when configured from the CLI?

[2016-09-25 11:01] mikeller commented on #298
Probably best to limit the loop rate based on protocol, since protocol can not be switched without changing ESC settings / firmware.

Also, this way the same limiting can be implemented in the firmware.

[2016-09-26 02:33] chipkaye commented on #292
Line 49 in README.md mentions this for Linux users, but I am running OS X 10.11.6, had the same problem and enabling this switch in Chrome fixed the problem:

"If you have 3D model animation problems, enable "Override software rendering list" in Chrome flags chrome://flags/#ignore-gpu-blacklist"

[2016-09-26 08:40] mikeller commented on #292
@chipkaye: Thanks, amended `README.md`.

[2016-09-26 13:06] etracer65 commented on #292
I can confirm this fixed it for me as well.  Tried everything prior to this including upgrading to the latest OS X 10.12 and trying the DEV channel for Chrome.  It looks like there were Chrome desktop releases on 13-Sep and 14-Sep and this fits into the timeframe when it stopped working for me.

[2016-09-26 18:20] mikeller commented on #292
Yeah, I guess this is one of the downsides of using Chrome as a distribution channel...

[2016-09-26 22:31] dropax commented on #299
It is still in https://github.com/betaflight/betaflight/blob/master/src/main/flight/mixer.c
Can't confirm it working personally (my only CC3D in a quad doesn't boot atm, guess it's offended of being ignored for too long ;)) but others had success with my advice.

[2016-09-26 23:57] mikeller commented on #299
Fair enough, I can readd it to the list. Just beat with me, I'm on holiday at the moment.

[2016-09-27 13:20] shadowjig opened #302 "Testing motors 5 & 6 on hex layout will not spin"
Blackout Hex frame with RMRC Dodo running Betaflight 3.0.0 and the latest Configurator (1.8.1).  The issue is motors 5 & 6 do not spin up when testing motors via Configurator.  Motors 1-4 test fine in Configurator.

Also ALL motors (1-6) spin when it's battery powered and I throttle up via my TX, which leads me to believe this is a bug and not a configuration/hardware issue.  I run Boris' custom m

[2016-09-29 01:00] Hawkers opened #303 "Load backup without connecting to board for review"
I think it would be helpful to open the interface up when not connected to a board.  For example when somebody shares their backup with me, I'd like to look it over without plugging my board in.

[2016-09-29 03:11] mikeller commented on #303
I've thought about this before, and it would be a very useful feature indeed. 3.1 will introduce a completely new way of how the configuration is represented, and the right thing to do is to wait with this feature and then implement ort based on the new configuration format. Doing it now would mean basing it on something that is due to be deprecated in 3.1.

[2016-09-29 15:38] Hawkers commented on #303
This is good to know.  I'm the developer at RotorBuilds.com and plan to implement BF backup uploads to let users share their rates and PIDs.  If the backup file format is changing I may want to wait until 3.1 is released before I write my parser.  Will it still be in the json format?  Will a CLI "dump" still look essentially the same?

[2016-10-02 15:09] kaefert commented on #200
I see an issue similar to this but for me I get "open", "detect" and "close" all within the same second of pressing the "Flash Firmware" button. Afterwards the status line will read "Erasing ..." forever.

[code]

The board I'm trying to flash is this one: https://www.aliexpress.com/item/SP-RACING-F3-EVO-Brush-Flight-Control-Board-For-90mm-120mm-125-mm-FPV-Mini-Micro/32712751945.html
And I'm not s

[2016-10-02 15:11] nathantsoi commented on #200
Something similar happened to me last night and I just hit the flash button
again, without changing pages or reloading firmware and it worked. Does
that work for you?

On Sun, Oct 2, 2016, 8:09 AM Thomas <notifications@github.com> wrote:

[2016-10-02 15:16] kaefert commented on #200
Hey there Nathan, thanks for the reply!
Sorry to say but I already tried around a dozen times. It does not seem to change. I also shutdown and rebooted my laptop, did not help neither..

[2016-10-02 15:19] kaefert commented on #200
when I press the "Flash Firmware" button again, it simply prints the same 3 lines with the current timestamp again and counts up the USB device ID (2 instead of 1):
[code]

[2016-10-02 15:47] AndersHoglund commented on #200
Just to confirm. Do you have "Full Chip Erase" enabled or not?

Also, the SPRF3EVO binary is about 146kByte. When this is encoded into a human readable .hex text file it becomes about 3 to 4 times larger. Still exactly the same binary content and size, only in another file format.

[2016-10-02 17:18] kaefert commented on #200
I tried both with and without "Full Chip Erase", the result does not change.
Thanks for the explanation about the hex file size.

[2016-10-02 17:19] kaefert commented on #200
I tried both with and without "Full Chip Erase", the result does not change.
Thanks for the explanation about the hex file size.

[2016-10-05 19:15] sebastianha opened #309 "Problem with OSD configuration"
I enabled OSD in the configurator but I cannot use the OSD tab as it is not properly displayed (see screenshot):

![screenshot16](https://cloud.githubusercontent.com/assets/420807/19127734/97529144-8b40-11e6-92d1-31af31da419c.png)

I am running betaflight 3.0.0 with configurator 1.8.1 (master had the same problem) on a naze32 and a micro-minimosd with the latest software. The OSD is connected thro

[2016-10-05 19:16] nathantsoi commented on #309
Yeah, that's not going to work. The osd tab only works with the betaflight
osd (max7456 integrated via spi)

I'm surprised the osd tab was visible at all?

On Wed, Oct 5, 2016, 12:15 PM Sebastian Hammerl <notifications@github.com>
wrote:

[2016-10-05 19:18] sebastianha commented on #309
Ah, ok. I thought it will also work with minimosd. I had to enable OSD to use the OSD-Mode (see #251)

Thanks for the quick answer!

[2016-10-05 19:18] #309 closed

[2016-10-05 20:38] mikeller commented on #309
@nathantsoi :

I think this is caused by configurator not understanding the format of the OSD related MSP commands for firmware that was compiled without OSD support, and throwing exceptions. Probably better make the commands entirely conditional in the firmware (giving you 'unknown MSP command' instead of an exception), or make the configurator understand the syntax.

[2016-10-06 01:40] improvisingjazz opened #311 "macOS Sierra work with Betaflight 3.0"
Anyone know for sure if the new macOS Sierra work with Betaflight GUI yet?

[2016-10-06 01:47] nathantsoi commented on #311
Works fine for me.

On Wed, Oct 5, 2016, 6:40 PM improvisingjazz <notifications@github.com>
wrote:

[2016-10-06 02:10] improvisingjazz commented on #311
ok, great! thanks!

Sent from my iPhone

[2016-10-06 02:44] #311 closed

[2016-10-09 21:43] mikeller commented on #200
@kaefert: Boards that are using VCP often run into problems with the drivers used on the host PC side, since they change their USB device type between ACM and DFU mode. What host OS are you using?

[2016-10-09 22:53] mikeller commented on #303
It will still be json, but the structure of the json will most likely change, since the json is nothing but a dump of the internal data structures that are used to hold the FC configuration in the configurator.

CLI `dump` line ordering will likely change too, but probably in an easier to deal with fashion, since the individual settings will still be called the same, so line by line parsing will s

[2016-10-10 05:24] kaefert commented on #200
when I wrote about my problem here I was using Linux Mint 18 (=Ubuntu 16.04). Since Then I also contacted the seller of the flight-controller who sent me a PDF with instructions for flashing on Windows. I tried to follow these using a borrowed Windows 10 laptop, but the result was exactly the same as with my Linux machine (those 3 lines from 4 comments above appear instantly and nothing happens af

[2016-10-10 11:00] mikeller commented on #200
I can't help you much for Windows, since I am not using it (at least as much as I can avoid). In linux, problems with VCP devices seem to often come from `modemmanager` running in the background, and claiming the device as soon as it becomes available. You could try disabling modemmanager `systemctl disable modemmanager`, and then try again under linux.

[2016-10-11 22:01] fgrano commented on #200
I'm having this exact same problem. Feels like I've tried everything...
All the zadig stuff, different usb ports, different computers, windows 10, linux (debian).
Nothing helps, still stuck at "Erasing ..."
This is all I get in log:

2016-10-12 @ 00:54:14 -- Loaded release information from GitHub.
2016-10-12 @ 00:54:23 -- USB device successfully opened with ID: 33
2016-10-12 @ 00:54:23 -- Detected

[2016-10-11 23:32] skaman82 commented on #200
Having exact the same problem with a SPF3racingEVO brushed board on OSX. Tried everything but still can't flash the board. It connects without problem to CF configurator (CF 1.13 installed). When I try to flash betaflight the status bar hangs on Erasing… (erase is not not selected btw). The log says:
<img width="1400" alt="bildschirmfoto 2016-10-12 um 01 24 04" src="https://cloud.githubusercontent

[2016-10-11 23:54] mikeller commented on #200
@skaman82 When bridging the boot pins, did you enabling 'No reboot sequence'? (That's how it is intended to work.)

Also, I've had success in the past with difficult cases by enabling 'No reboot sequence' and 'Flash on connect'. (The process will start immediately after the boot pins are released, so do a couple of tries of connect boot pins - plug in - release boot pins - watch progress bar...

[2016-10-11 23:55] skaman82 commented on #200
@mikeller yes also tried that without success

[2016-10-12 08:27] #299 closed

[2016-10-12 16:32] kaefert commented on #200
@mikeller I disabled and stopped the ModemManager like this:

    $ sudo systemctl disable ModemManager
    Removed symlink /etc/systemd/system/multi-user.target.wants/ModemManager.service.
    Removed symlink /etc/systemd/system/dbus-org.freedesktop.ModemManager1.service.
    $ sudo systemctl stop ModemManager
But the result does not change

    2016-10-12 @ 18:29:44 -- USB device successfully op

[2016-10-12 19:38] mikeller commented on #200
Hmm, sounds like something is seriously wrong with this board. (Wouldn't be the first thing I've seen on aliexpress that is broken by design.) I assume there will be a way to flash the MCU via ICSP, but that would probably require soldering onto the chip's pins...

[2016-10-12 21:50] AndersHoglund commented on #200
Have you checked what Windows device manager has to say about the STM32 DFU device and the drivers? Probably no issues there as it shows up as "DFU" in BFC, so it seems to be detected and enumerated OK. But just to check in any case....
Do we have some other F3 VCP targets to compare? LUX for example. Are all F3 VCPs broken or just some? I only have two Revo (F4) clones, and those are only "semi b

[2016-10-12 22:00] skaman82 commented on #200
@kaefert yes it flies quite good on CF 1.13. Config is also working fine.
@AndersHoglund I am using OSX

The strange thing is: I tried to flash this board (from aliexpress) with all three configurators without success so I don't think we have a bug in the configurator. I also got the same board from banggood before and had no difficulties to flash it with betaflight - to sad that I gave it away, s

[2016-10-13 16:32] david54001 commented on #200
I also have this problem on Flip32 F4 Flightcontrol
Connect with boot short, and BF config show DFU mode correctly.
I try to select full chip erase and not select it, the problem exist both.
Using Zadig and select WinUSB(7600.16385).

[2016-10-13 22:13] jaisor commented on #200
Same issue with a Readytosky (?!) F4 board that recognizes as REVO. It came flashed with BF3.0. Tried to reflash and it hangs in Erasing with DFU selected. I'm running OSX.

[2016-10-14 20:49] FlyinMikey opened #317 "Not able to Config OSD"
I'm not able to configure my OSD with betaflight. Quadcopter is the Spedix S250 PRO and it has a Naze Rev6 with built in(I think) MinimOSD.  Is there some setting I need to enable?  All I see is Elements, Preview and Video format but there is no picture or display underneath.  Have tried with and without the battery connected.  Recently switched from cleanflight to betaflight 3.0 and Betaflight 1.

[2016-10-14 21:17] marcroe commented on #200
It appears that write and/or read protection is active for the memory of these boards. Checking the console output of BF configurator, the DFU command for erasing the memory returns an error code. Chip erase should normally not result in an error, even if write protection is active (bootloader just doesn't execute the erase operation). This would mean read protection is enabled, which is also cong

[2016-10-14 21:29] blckmn commented on #200
Good find. We should add this to Configurator to advise the user. We should probably fix the full chip erase for F4 so as to ensure flashing can occur.

[2016-10-14 21:38] mikeller commented on #317
Are you trying to use the 'OSD' tab in the Betaflight configurator to configure your minimOSD? This won't work, as the OSD tab does not (yet) support the minimOSD hardware.

[2016-10-14 21:55] FlyinMikey commented on #317
Thank you for the reply. When do you think the update will be available?

Mike N

On Oct 14, 2016 2:38 PM, "Michael Keller" <notifications@github.com> wrote:

[2016-10-14 22:11] mikeller commented on #317
@FlyinMikey: I don't think there is work being done (or even planned) to add support for minimOSD, the '(yet)' was more in the sense of 'I won't say it's not possible'. Sorry for that, but feel free to add it if you want to contribute.

[2016-10-15 14:30] marcroe commented on #200
I agree. If it's only level 1 read protect, we can disable it by setting the right option bytes in memory. I'll have to delve more into ST's docs on the F4...
I have two Revo clones lying around and I want to upgrade them to BF3.0.1 or RF to make the buzzer work. Without flashing they are stuck at BF3.0.

[2016-10-15 16:49] danielolsman commented on #200
I had the same problem, think i found a solution:

http://www.rcgroups.com/forums/showpost.php?p=35965420&postcount=384

[2016-10-17 13:16] marcroe commented on #200
Thanks a lot. I will try your method. Maybe we can add a 'read un-protect' routine to the configurator?

[2016-10-17 13:33] nathantsoi commented on #200
Cool, this is the same thing I had to do for the kissfc. Like this:
https://nathan.vertile.com/blog/2016/07/29/betaflight-kiss-flight-controller/#flashing

On Mon, Oct 17, 2016, 6:16 AM mrroe <notifications@github.com> wrote:

[2016-10-17 13:48] RadioC commented on #200
Confirmed Daniel's method works. Just to expand on what you have to do:

**1.** Connect the board to an FTDI adaptor using the UART pins on the board. Make sure tx and rx are reversed (so tx on the FCB connects to rx on the FTDI, etc)
**2.** Check you can connect to the board in betaflight via the FTDI ataptor to confirm you have it wired up correctly. If you cannot connect using the FTDI's comm p

[2016-10-17 13:57] marcroe commented on #200
Yes - it works.
I wrote a little script that 'unprotects' the chip via USB (no FTDI adaptor required). Planning to add this to the configurator.

[2016-10-17 14:13] skaman82 commented on #200
@marcroe great, really looking forward to that one! I leave my board as it is (for now) so I can test your script later.

[2016-10-17 15:01] AndersHoglund commented on #200
Great. But just to clarify. Does this solve the original problem of flash hanging only when "Full chip erase" is enabled, and when disabled flashing works OK ? I.e. Chip is not totally locked.

Or do we have two different problems here? 1. Only erase locked as of above 2. Total locked chip.

[2016-10-17 22:12] marcroe commented on #200
I added some support to remove the read protection here:
https://github.com/marcroe/betaflight-configurator
It's very rudimentary, but I tried to make sure it won't brick any boards (can't give any guarantees, of course). I believe removing read protection via DFU is slightly safer than over serial.
The way it works is by trying to read the option bytes sector of the memory. If it fails it assumes

[2016-10-18 10:16] AndersHoglund commented on #200
@marcroe ,Finally tested your variant of BFC on Win10. Still disconnects within 5sec and hangs in "Erasing" with my RTFQ Revo Acro . I will leave it "Hanging", if it is a sloow erase.... Tried that before though, no luck then.

    2016-10-18 @ 12:06:20 -- USB device successfully opened with ID: 3
    2016-10-18 @ 12:06:20 -- Detected device with total flash size 1024 kiB
    2016-10-18 @ 12:06:20

[2016-10-18 10:36] skaman82 commented on #200
@marcroe tested your branch today. After I clicked the flash button the status bar said to reconnect the board but the board does not connect anymore to the configurator and seems to bee in DFU mode. So it is bricked for now.

[2016-10-18 11:18] marcroe commented on #200
@skaman82 When read protection is removed, everything on the board except for the bootloader is erased, it automatically performs a reboot and remains in an "unknown" state (http://www.st.com/content/ccc/resource/technical/document/application_note/6a/17/92/02/58/98/45/0c/CD00264379.pdf/files/CD00264379.pdf/jcr:content/translations/en.CD00264379.pdf).
Have you put the board manually in DFU mode ag

[2016-10-18 11:34] skaman82 commented on #200
@marcroe It is a F3 EVO bushed board btw. I assumed it was already in DFU mode after I clicked the flash button first time. Now the configurator can not find the device if I connect via USB. I will try to short the boot pads later when I am back at home.

[2016-10-18 12:23] AndersHoglund commented on #200
OK, here are the console log:

    Loading file from: E:\Users\andho\Documents\Modellflyg\cleanflight\FirmWare\borisb\betaflight_3.0.1-30-e630de9_BUZZERM6 Release\betaflight_3.0.1_REVO.hex
    firmware_flasher.js:234 File loaded
    hex_parser.js:106 HEX_PARSER - File parsed in: 0.0560 seconds
    stm32usbdfu.js:93 USB DFU detected with ID: 7
    stm32usbdfu.js:132 Device opened with Handle ID: 6

[2016-10-18 14:39] AndersHoglund commented on #200
Found an interesting statement in ch 3.4 : www.st.com/resource/en/application_note/CD00167594.pdf

    Some products don’t support Mass erase operation. To perform a mass erase
    operation using bootloader, two options are available:
     – Erase all sectors one by one using the Erase command
     – Set protection level to Level 1. Then, set it to Level 0 (using the Read protect
     command and

[2016-10-18 16:00] marcroe commented on #200
I didn't know that some chips don't support mass erase. Thanks! According to your logs it could also be the USB connection timing out. I added a timeout of 60 seconds when waiting for the reply of the mass erase operation (only works in Chrome v43 or higher). It takes between 10 to 18 seconds for my boards (Revo and Revo clone) to erase the entire memory. The measured time is displayed in the GUI

[2016-10-18 22:36] skaman82 commented on #200
@marcroe flashing again in configurator with boot pins shortened was a success for me! Finally I can flash the board with firmware of my choice! Thanks

[2016-10-19 09:47] marcroe commented on #200
Awesome. Glad to hear that :)

[2016-10-19 10:45] kaefert commented on #200
@marcroe your mod worked for me!

first step:

    2016-10-19 @ 12:26:49 -- USB device successfully opened with ID: 1
    2016-10-19 @ 12:26:49 -- Detected device with total flash size 256 kiB
    2016-10-19 @ 12:26:49 -- Chip seems read protected. Initiating read unprotect
    2016-10-19 @ 12:26:49 -- Unprotect memory successful. Unplug and re-plug flight controller please!
    2016-10-19 @ 12:26

[2016-10-19 13:47] marcroe commented on #200
Rethinking this, I figure that my unprotect routine seems to be quite safe. The only exception could be a user disconnecting the board while it is still erasing the memory. The bootloader actually performs a mass erase after read protection is removed and then reboots into some "unknown" state.  Therefore, I now introduced a pseudo-delay of 20 seconds to make the user waits after initiating the un

[2016-10-20 13:52] domi1988 commented on #200
I tried to remove the protection with ftdi adapter, but the stm32 flash loader allways says: "no response from the target, the boot loader can not be started..."
my F3 evo brushed is in boot mode, and betaflight configurator detects it as com4.
what did i do wrong?
how does the second method with the usb port work exactly???
PLZ HELP!

[2016-10-20 17:02] marcroe commented on #200
@domi1988 Git clone the branch from here: https://github.com/marcroe/betaflight-configurator
and install it following the instructions found here: https://github.com/betaflight/betaflight-configurator/blob/master/README.md
using the "alternative way".
Let me know if it "unprotects" your board successfully :)
@AndersHoglund It would be awesome if you could try reproducing the USB timeout with my ne

[2016-10-20 17:55] domi1988 commented on #200
@marcroe thank you sooo much! it finaly flashed the f3 evo brushed and i dont have to buy a new one!

[2016-10-20 21:15] AndersHoglund commented on #200
Can't see much change in behaviour. Here are the inspect log:

    Loading file from: betaflight_3.0.1-30-e630de9_BUZZERM6 Release\betaflight_3.0.1_REVO.hex
    firmware_flasher.js:234 File loaded
    js/workers/hex_parser.js:106 HEX_PARSER - File parsed in: 0.0570 seconds
    stm32usbdfu.js:93 USB DFU detected with ID: 8
    stm32usbdfu.js:132 Device opened with Handle ID: 10
    stm32usbdfu.js:1

[2016-10-21 21:58] mascaras35 commented on #200
@marcroe  im waiting for a Raceflight F4  CC3D revo  so if i undertsand and my FC its read protected and i dont have a FTDI i should use this steps :

Connect board in DFU mode. Try flashing. Protection will be removed if present. Board reboots. Re-connect board in DFU mode. Try flashing again.

???

Did i understand well?

thanks for your help

[2016-10-21 23:34] marcroe commented on #200
@mascaras35 Hi ! Yes this is pretty much it. Actually, if your board is a "genuine" one, there shouldn't be any read protection. At least mine wasn't protected. Some of the clones apparently are protected though.

Thanks @AndersHoglund . Somehow the timeout parameter is not implemented correctly in the chrome.usb API. I did set the timeout to 60 seconds, but yet flashing terminates just after 5 se

[2016-10-25 19:30] mikeller opened #323 "Free up MSP_SPECIAL_PARAMETERS, remove hack for 2.9.0"
This needs to removed, so that the MSP ID for MSP_SPECIAL_PARAMETERS is not tied up for the sole reason of supporting Betaflight 2.9.0.

[2016-10-25 19:36] mikeller opened #324 "Rearrange boxes in the 'Configuration' tab"
After some tidying up in the Configuration tab. some of the boxes have been removed or shrunk, leaving empty spaces on the page. The remaining boxes should be rearranged to make it look tidy and compact.

I was hoping for @skaman82 to give me a hand with this. ;-)

[2016-10-25 19:37] skaman82 commented on #324
@mikeller I will have a look at this

[2016-10-25 19:59] mikeller opened #325 "Add hint to increase connection speed to the blackbox logging tab"
Since speeds faster than 115200 do not work reliably for all boards, this should hint users to try faster speeds in order to increase the download speed of onboard data flash.

[2016-10-25 20:34] #317 closed

[2016-10-25 20:35] mikeller opened #326 "Hide 'PID Controller' dropdown for firmware >= 3.1"

[2016-10-25 21:38] #324 closed

[2016-10-25 21:48] mikeller commented on #324
Wow, that was quick, thanks a lot @skaman82.

[2016-10-25 22:00] mikeller opened #327 "Add 'Update Firmware' button to top bar, change 'Connect' button text to 'Configure'"
This is to give users a more intuitive way to get into the firmware flasher, and remove the confusion around the 'Connect' button being visible when in the firmware flasher.

[2016-10-25 22:21] skaman82 commented on #327
I think just renaming "Firmware flasher" into "Update Firmware" and hiding the "Connect" button would be better. I don't think that moving the buttons in the topbar is a good idea.

[2016-10-25 22:43] mikeller commented on #327
Why do you think it is not a good idea?

In general, having to change tabs on order to update firmware, and having to click 'Connect' in order to configure the FC seems to be inconsistent. Hiding the 'Connect' button while in the firmware flasher tab will just force users to first click on some other tab and then click 'Connect', in order to get to the configuration, so it actually makes the user

[2016-10-25 23:40] skaman82 commented on #327
@mikeller The connect button is pretty much the most important und most used button in the configurator. The firmware flasher not so much and having the two buttons side by side gives it the same importance in the GUI and that is why I think that is not such a good idea.

[2016-10-25 23:59] mikeller commented on #327
I can see your, but I think having the two main functions side by side doesn't detract from that (and the 'Configure' button stays in the same place for existing users).

Also, getting more users to regularly check for the availability of firmware updates would help reduce the number of 'why do i not get feature X?' => 'because you need to update your firmware.' support requests.

Would your conce

[2016-10-26 09:27] mikeller opened #329 "Use serial port settings to preselect features"
When the user sets up a port for Blackbox / Telemetry / Serial Rx / GPS on the 'Ports' tab, enable the corresponding feature on the Configuration tab.

[2016-10-26 10:12] mikeller opened #330 "'Flash on connect' stops working after early disconnect"
When flashing a bricked board by using 'No reboot sequence' / 'Flash on connect' and the boot pins, if a reboot sequence that fails to jump into the boot loader is interrupted by the board being disconnected before its end, subsequent reboot sequences will fail with 'previous device still flashing, please replug to try again'. This can only be reset by restarting the configurator.

[2016-10-26 10:46] borisbstyle commented on #330
not a high prio at all. It is advised everywhere to not disconnect your board during flash.

[2016-10-26 11:09] mikeller commented on #330
It's not during flash. It is when the flash never starts, because the boot loader pads deep inside the craft are not properly bridged. This should not cause the configurator to hang.

[2016-10-26 11:12] mikeller commented on #330
But if this is not a priority, we should remove this functionality, since it is clearly broken.

[2016-10-26 13:52] AndersHoglund opened #331 "Strange defaults in Motor Test when DSHOT is used."
Referring to betaflight PR 1389, there are still a few problems in BFC motor test.
If DSHOT150 is enabled and min_command is set to 990 the defaults in the motor tab is a bit off.
1. Motor Test enabled by default.
2. Throttle min values follow min_command for inactive motors.
3. Throttle min values follow min_command if slider is moved for active motors. Default OK.

Nb. Only tested with DSHOT150,

[2016-10-26 15:39] skaman82 commented on #327
The connect button is pretty much the most important und most used button in the configurator.
The firmware flasher not so much and having the two buttons side by side gives it the same importance in the GUI and that is why I think that is not such a good idea.

[2016-10-26 16:22] AndersHoglund commented on #327
Comeon. Try to look at the gui as a noob. The layout of buttons and tabs are not very user friendly.
I know a few that selected the "Firmware Flasher" and then hit the "Connect" button. And get stumped by what happens.....
If one function is more important or not, or how frequently used, has nothing to do with the case. There has to be some clear and unambiguous selection between the two use cases

[2016-10-26 21:01] mikeller commented on #331
Will look into fixing these once the internal DShot data format has been finalised, and a decision made re adding an 'arm' command. (No point allowing 'disarmed' input from configurator if the ESCs have to be armed to get them to run.)

[2016-10-30 19:56] Copter38 opened #333 "3D model animation defaulting to generic box - Windows 7"
I recently (couple days or so) bounced into the exact same issue as described by etracer65.
The model animation is showing the generic Cleanflight box instead of the quad and this, of course, is with a standard Quad mix.

Have tried the fix proposed by chipkaye of changing the "Override software rendering list" flag in Chrome but to no luck. I can also confirm that reinstalling the 1.8.1 version o

[2016-10-30 19:58] mikeller commented on #333
Most likely it's something to do with a Chrome update. You could try to uninstall / reinstall Chrome.

[2016-10-30 22:06] Copter38 commented on #333
I have fully uninstalled Chrome and reinstalled latest version of Chrome. Still no luck!

[2016-10-31 13:14] atomiclama opened #334 "Feature request: pre pend craft name to black box log file."
It would be great if the craft name parameter could be read from the FC and used to distinguish between blackbox log files by prepending it to the blackbox log file name.

[2016-10-31 17:23] mikeller commented on #334
Good idea.

[2016-10-31 17:38] borisbstyle commented on #334
Could also print the logfile number to OSD so you can find it easier
afterwards!

[2016-10-31 17:52] mikeller commented on #334
Yeah. We'd have to add that to MSP though.

[2016-10-31 17:55] borisbstyle commented on #334
No msp needed on internal osd

[2016-10-31 18:07] mikeller commented on #334
Should be done in the code that supports those two boards then, it can read file numbers directly from microSD. Maybe could even implement file management...

[2016-11-02 07:17] mikeller opened #335 "Rename feature 'Display' to 'Dashboard'"
To keep in alignment with changes from https://github.com/betaflight/betaflight/pull/1443

[2016-11-06 14:01] Sybalau opened #336 "Could not connect Chrome OS"
I can no longer connected to betaflight with Chrome OS.

I tried 3 different FC which works fine under Windows 10.

When I press the "connect" button, everything is blocked and the mouse does not move. I am forced to remove the USB cable, so that it works again.

[2016-11-06 18:52] mikeller commented on #336
Looks like there is a problem with the configurator under the latest ChromeOS release. Will look into it.

[2016-11-14 07:52] oranzs opened #338 "Rates and Throttle graph width-to-height ratio"
In the "PID Tuning" section, "Rates" and "Throttle" graphs' width and height should be same. Scaling the window affects the graphs' width-to-height ratio. Since these graphs' purpose is visualization, this way it wouldn't be as confusing.

[2016-11-14 20:39] KiteAnton commented on #293
Are you referring to a wiki? https://github.com/betaflight/betaflight/wiki

[2016-11-17 12:03] blckmn opened #341 "Full chip erase on targets with large flash fail"
@mikeller its actually the chip erase takes longer than the USB time out. The chip erase doesn't actually take too long (a few seconds) BUT in stm32usbdfu.js

[code]

In the case 2, the self.request.GETSTATUS (after the setTimeout) comes back with the data undefined. This is because the USB times out - whilst the chip is erasing there are no packets. Increasing the value of "delay" doesn't work. H

[2016-11-17 17:23] marcroe commented on #341
I could have a look at this. There seems to be a bug/problem with the crome USB API preventing the USB timeout from working properly on some platforms/OSes. Full chip erase can take up to 18 seconds on some boards, as measured with my modified configurator under https://github.com/marcroe/betaflight-configurator.

[2016-11-17 19:04] blckmn commented on #341
Thanks. If we could allow for 20 seconds and update the progress bar say 5% each second, going to 100% when idle... or overall timeout.

Just to show some progress to user.

[2016-11-18 00:01] mikeller commented on #341
Yeah, I've seen some cases in JS where OS calls caused timeouts to run short. One possible workaround is to note time before the call, and when the timeout callback is called compare time to ascertain that the timeout has really elapsed, otherwise reschedule it.

Happy for you to have a look at this, please submit a PR if you have got a solution.

I am not seeing this problem with my BLUEJAYF4 on

[2016-11-19 12:15] AndersHoglund commented on #200
OK, re-test with PR #344. Ref issue #341 also.

Now I see erase progress bar updates 3 times. Then it goes "Flashing" with progress bar fully right. No restart of progress bar. USB is however closed, and it seems to hang in this state. Disconnect and re-connect USB, nothing is actually flashed. App log:

    2016-11-19 @ 12:53:49 -- USB device successfully opened with ID: 21
    2016-11-19 @ 12:53

[2016-11-19 23:52] mikeller commented on #341
Fixed by #344.

[2016-11-19 23:52] #341 closed

[2016-11-19 23:53] mikeller commented on #200
@AndersHoglund did you try again without the full console log? Did it still work?

[2016-11-20 07:57] ridgeracer commented on #200
I had the same issue with my F4 Revo. To get the flash to work I only selected manual baud rate of 256000 in DFU connection. All other options I left off. Worked fine afterwards however every time I save a change in the GUI it disconnects the serial port.

2016-11-20 @ 02:39:40 -- Running - OS: Windows, Chrome: 54.0.2840.99, Configurator: 1.8.4
2016-11-20 @ 02:39:48 -- Please use the Firmware Flas

[2016-11-20 11:51] AndersHoglund commented on #200
@mikeller When running without logging it still hangs. Sorry. I should have mentioned that of course. Will test some more, as it might be marginal timing. But still, failure seen when running without logging.
 @ridgeracer , There is no baudrate on DFU or other USB generic devices, only on USB-serial (RS232 emulation) stuff. This case is all about the "Full Chip Erase" setting. And now logging.

[2016-11-24 15:21] estauss commented on #200
@marcroe, fantastic work. I have been struggling to find a solution for the last few hours to flash BF/RF. Unpacked and loaded your branch and it removed the read protection and then flashed; FINALLY.
Libre pilot was working fine with the read protection enabled.

Aliexpress Revo clone,
Windows 10

FIX: Git clone the branch from here: https://github.com/marcroe/betaflight-configurator
and install

[2016-11-24 22:43] mikeller commented on #200
@AndersHoglund Have you tested recently with stock Betaflight configurator? #344 might have fixed it.

[2016-11-24 23:18] AndersHoglund commented on #200
Oh yes, that is old. Tested that 5days ago. Scroll up a bit and you see it. Last tests was done with 347 merged, the current HEAD.

[2016-11-25 13:05] limhyon opened #349 "Jerky data vizualization on beta configurator."
Hi,
The 3D visualization on the first page of configurator looks jerky also accelerometer graph on motor page.
However, cleanflight configurator is not.
Have you found issue like this?

[2016-11-25 13:44] marcroe commented on #200
@estauss Thanks. Glad to hear it worked!
I rebased my branch to include #344, i.e. the manual timeout when erasing.
@AndersHoglund If I understand correctly, the manual timeout works for you when your console is open (chrome inspect)? Very strange indeed.

[2016-11-27 22:40] mikeller commented on #349
This is often caused by problems with the installation of the WebGL framework that is used to display the animations.

In most cases, uninstallation / reinstallation of the Chrome browser and the Betaflight configurator will fix this.

[2016-11-28 00:25] mikeller commented on #200
@marcroe Would you be interested in submitting a pull request for your changes?

[2016-11-28 19:25] marcroe commented on #200
Sure, just made a request. See #350

[2016-11-29 10:04] borisbstyle opened #352 "remove pid controller selection for >3.1 version"
there is no legacy pid controller anymore and selection can be removed

[2016-11-29 10:16] mikeller commented on #352
I assume you mean >=3.1?

[2016-11-30 17:25] danarrib opened #354 "Feature request: Touch friendly interface"
Hello. I use Betaflight configurator in the field, and I have a Windows 10 tablet (Full Windows, X86 processor), but I do not have mouse or keyboard. I use only touchscreen and on-screen keyboard that takes half of the screen.

I was wondering if it's possible to rethink the UI to a "responsive" one, that is touch friendly, with larger interface components, and without textboxes... Because every t

[2016-11-30 22:23] mikeller commented on #354
Hi @danarrib. There is an effort under way to remake the configurator into a 'next generation' version that will be having a more multi - platform approach, and won't be limited to a chrome app any more. Part of this will be looking into mobile support.

In the meantime, if you want to contribute and have suggestions on how to make the configurator more mobile friendly, please feel free to bring y

[2016-12-01 07:14] nathantsoi commented on #354
Who is making this 'next generation' configurator @mikeller? Or where is development happening?

[2016-12-01 13:08] Linjieqiang opened #356 "Feature request:the design of multi-language support"
Hello guys,I have a idea long time ago.Why do not support multi-language in betaflight-configurator.I can provide the Chinese translation of documents and pull request on this repertory.As I know,the chrome can support multi-language perfectly.So how do you think this idea?Anyway,thanks for your great work in bf development.

[2016-12-01 13:52] Wind0r commented on #356
The configurator already "supports" some kind of multi-language, but currently there is only english.
https://github.com/betaflight/betaflight-configurator/tree/master/_locales

Also there isnt any way to change the language, but it should be hard to add,
but the big Problem is that multi-language support isn't just simply replacing some string.
Also on fast moving Projects some translation may ge

[2016-12-01 14:56] mikeller commented on #356
I think the way this works for Chrome apps is that chrome uses the language that matches the one that is set in Chrome automatically, if available.

And yes, while we are not specifically putting effort into getting the configurator translated, it can be done easily enough by translating `messages.json`, and we'd happily accept community contributions for this.

One thing that I think we'd probabl

[2016-12-01 16:33] Linjieqiang commented on #356
OK,I know your meaning.

[2016-12-02 06:37] mikeller commented on #354
It's a community effort, like all of Betaflight, @nathantsoi. And it's in https://github.com/betaflight/betaflight-configurator-ng .

[2016-12-02 07:07] nathantsoi commented on #354
sweet!

[2016-12-05 20:44] Chadster commented on #200
I confirmed the DFU flashing protection solution worked on a LHI branded F3 EVO brushed board.  Thank you so much for this fix!  I was going crazy trying to get my board to flash.

[2016-12-05 22:50] mikeller commented on #200
@Chadster Can you please test with #350, to confirm that nothing went wrong in the PR itself?

[2016-12-10 13:20] handsomejackuk opened #361 "Rates Preview window behaviour"
Just a thought is there anyway the rates preview window could be made to more accurately reflect the models behaviour... i.e. in horizon, angle, or rate, it would autolevel on angle and horizon...?

 i just been experimenting with a delayed switch on the roll axis so i get a 0.5 seconds of max roll and wanted to see if it would replicate the rate of 720 degrees per second...i.e. 360 degrees of rot

[2016-12-13 07:00] #356 closed

[2016-12-15 21:37] JaYp247 commented on #200
I have a CC3D Revo F4 Acro board and I used the method below to Flash Betaflight 3.0.1. I need others to confirm.
1. Solder/Jumper boot pads
2. Plug in USB, run Zadig as administrator, Go to Options list all Devices.
3. Select STM 32 Bootloader from the drop down, click Install
4. Open Betaflight, where the com ports are listed, mine read DFU
5. Click Firmware Flasher
6. Set your options to those

[2016-12-16 00:03] AndersHoglund commented on #200
Almost complete, just a few extra steps.

3. Select the STM32 BOOTLOADER device.
3.1 Select the "WinUSB (v6.1.7600.16385)" as a replacement for the default STM DFU Driver.
3.2 Click "Re-install Drivers".

9.1 Download and install the "STM32 VCP driver", http://www.st.com/en/development-tools/stsw-stm32102.html

11. Optional. Do a "Reset Settings" in the the BFC GUI. Or the "defaults" command in CL

[2016-12-16 00:50] JaYp247 commented on #200
Ahh. Thanks for the help.

[2016-12-20 18:09] Copter38 commented on #333
The issue disappeared as it came. Now the 3D model is showing properly again :)
I guess it really had something to do with a Chrome update.

[2016-12-20 18:09] #333 closed

[2016-12-24 09:56] TheAngularity opened #364 "connect to fc failed"
@mikeller
after merging #363 i can not more connect to fc

[2016-12-24 12:16] mikeller commented on #364
Doesn't look like #364 is the culprit.

Question: What OS are you having the problems on? I noticed that after a chromium update yesterday on ubuntu, the configurator often stops connecting until a reboot. Chrome on Windows still works fine (but maybe just because the update is still pending).

[2016-12-24 13:52] 636stunter opened #365 "quad graphic disabled"
does not effect configuration but I just noticed after flashing an spracing f3 to 3.0.1 the quad graphic in the gui had been disabled.

[2016-12-24 14:14] TheAngularity commented on #364
i think it is ... using latest chrome on windows 10 ... here a screenshot:

![zwischenablagebild](https://cloud.githubusercontent.com/assets/20139767/21467375/8c50dd48-c9eb-11e6-8076-1f56411b8e3d.jpg)

[2016-12-24 21:25] TheAngularity commented on #364
#366 fixed this for now ... closed

[2016-12-24 21:25] #364 closed

[2016-12-25 11:14] JohannesKn commented on #200
Hi, with my F3 evo I can`t do anything.
Tried the solution of marcroe butr does not work.

2016-12-25 @ 12:08:24 -- Please use the Firmware Flasher to access DFU devices
2016-12-25 @ 12:08:25 -- Using cached release information.
2016-12-25 @ 12:08:35 -- USB device successfully opened with ID: 15
2016-12-25 @ 12:08:35 -- USB device successfully closed

Get nothing more than this.
Sometimes it shows

[2016-12-26 11:54] mikeller commented on #365
What mixer type have you selected?

Most commonly, when this happens with mixer type not being custom, it is because WebGL in Chrome is not working properly. Check the console output for errors, and try reinstalling Chrome.

[2016-12-31 06:21] jflyper opened #369 "OSD element additions breaks configurator OSD tab"
I raised this in the betaflight repo.

OSD element additions breaks configurator OSD tab betaflight/betaflight#1956

[2016-12-31 06:23] rafl commented on #369
I think https://github.com/betaflight/betaflight-configurator/pull/370 addresses this.

[2017-01-03 14:26] jflyper commented on #369
🎆

[2017-01-03 14:26] #369 closed

[2017-01-04 14:56] pfriedel opened #373 "Feature Request: Auto identify board for flasher"
So the board (usually) knows what it is if you ask it with 'version', is there any reason the firmware flashing interface needs to have the end user choose which of fifty three different targets they're using?  This worked back in the baseflight days when we had like eight targets, it's getting a little difficult to keep track of these days.

It seems like the configurator could connect and interr

[2017-01-04 18:44] mikeller commented on #373
@pfriedel: There is an effort under way to add exactly this. Thanks for showing interest in it.

[2017-01-05 16:50] jflyper opened #376 "MacOS X Flash fails when connected to UART by FTDI"
Non-fatal, just a reminder.

OMNIBUS F4, UART1

With BOOT0 originated DFU mode:
[code]
With firmware flasher originated DFU mode:
[code]

The symptom has been reported for F3 (PIKO BLX UART1) also in RCG.

[2017-01-05 17:02] jflyper commented on #376
F4 case can be explained:
https://github.com/betaflight/betaflight-configurator/blob/master/js/protocols/stm32.js#L305-L307
[code]
Should set up `this.available_flash_size` and  `this.page_size`.

F3 case can't be explained:
https://github.com/betaflight/betaflight-configurator/blob/master/js/protocols/stm32.js#L314-L318
[code]

[2017-01-08 23:18] Gaz-B opened #378 "Beeper knocks out video"
This is on build #913 Using Kiwi F4 FC even with quad unarmed the beeper completely knocks out OSD and Video

[2017-01-08 23:32] mikeller commented on #378
That sounds like a hardware problem. Have you been able to confirm that this actually works with any other build / beeper?

[2017-01-09 18:15] TheAngularity opened #380 "reodered dshot and pid loop"
@mikeller
pls can you check latest #379 ... when i choose dshot600 i can not select a pid loop of 8k or higher only 4k is posible ... but when i choose dshot150 i can select up to 16k

[2017-01-09 18:19] wind0r commented on #380
the problem is that https://github.com/betaflight/betaflight/pull/2059 did get merged before https://github.com/betaflight/betaflight/pull/2058 was merged

@mikeller is allready working on it. see https://github.com/betaflight/betaflight/pull/2068

[2017-01-09 18:27] Gaz-B commented on #378
I just flashed #924 and all is back to normal.

[2017-01-09 18:27] #378 closed

[2017-01-09 20:50] mikeller opened #382 "Hide unused fields on configuration tab"
- unsynched PWM if DShot is enabled;
- voltage / current calibration if ESC feedback is used.

See comment in #375.

[2017-01-09 21:13] TheAngularity commented on #380
working now ... bf api is bumped to 1.26 ... closed

[2017-01-09 21:13] #380 closed

[2017-01-10 11:05] Gaz-B opened #384 "32kHZ wont activate Kiwi F4"
I think the gyro type used has been missed looking at the specs seems it should be plenty fast enough (low noise, vibration resistant MPU6000 gyro chip on SPI-bus).

[2017-01-10 11:12] mikeller commented on #384
No it has not been missed. The MPU6000 does not support 32 kHz mode. Sorry.

[2017-01-10 11:12] #384 closed

[2017-01-11 15:07] riquezjp opened #385 "Yaw RC Rate forced to zero, MaxVel = NaN"
Using bf2.9.0 & Config: 1.8.7
Yaw PID RC Rate is broken.
It is set to 0.00 & cannot be changed. PID graph doesnt show due to this error.
Max Vel cannot be calculated.
![screen shot 2017-01-11 at 11 37 46 pm](https://cloud.githubusercontent.com/assets/10734045/21853570/057c7268-d85b-11e6-9f73-c4b88fee5e27.png)

[2017-01-11 15:29] borisbstyle commented on #385
Please upgrade to 3.0 or 3.1 version.

Older versions than 3.0 will not be maintained in the configurator. Especially the yaw rc rate was a workaround to get it working.

[2017-01-11 15:29] #385 closed

[2017-01-11 15:29] #352 closed

[2017-01-11 15:33] riquezjp commented on #385
Ok. I understand you have to focus on the new versions. I have downloaded 1.8.5
I dont wish to update any further on this quad as its taken 6 months to get it just right, I cant keep up :-0 :-D

[2017-01-11 20:44] mikeller commented on #385
Ok. You can still use the CLI to set your values. Or upgrade to 2.9.1, which only fixes some bugs present in 2.9.0.

[2017-01-11 21:02] borisbstyle commented on #385
You can indeed also use cli. The configurator only doesnt display it correctly

[2017-01-16 14:43] DeepnineRC opened #392 "two new osd fonts..."
I made two different font for the internal osd.

The first is a extralage font, i looks like the EZOsd font. I found it some years ago, i don't know where the file came from. I modified it to fit betaflight osd.

The second one is from me. I tried a "betaflight" font but is very small. I don't think its good for flying.

![btfl_extralarge](https://cloud.githubusercontent.com/assets/16404343/219868

[2017-01-16 20:47] mikeller commented on #392
I like the first one, it's got a very good readability.

[2017-01-16 22:39] DeepnineRC commented on #392
Thats the one i'm using for mwosd for years. :-)

Can someone add them to the configurator? I can't get the git stuff working.

[2017-01-20 03:53] aowi7280 opened #400 "Cannot save Angle/Horizon values through GUI"
Configurator 1.8.9. I can change the values and click save. I get the EEPROM saved message in the log. But if I refresh or go to a different tab, it reverts back to the last value.
Changing them and saving through the CLI works.
RTFQ Flip32F3OSD board with BF3.1.0 unreleased .hex.
Not sure if it is a Configurator issue, a board issue or a BF issue.
2017-01-19 @ 20:47:15 -- MultiWii API version rec

[2017-01-21 12:22] RipperDrone commented on #200
I tried @marcroe 's version of BFC, it didn't change the issue. In my log, there was a status "not read protected" anyway, so I don't think this is the problem in my particular case. The USB connection seems to be closed just after mass erasing the flash memory. And then there is no way to USB connect. Must be hardware / port failure...

[2017-01-23 10:08] arnoz26 opened #403 "No Betaflight FC in Firmware Flasher on Configurator 1.9.1"
Hi
There is no Betaflight FC in list in Firmware Flasher on Betaflight Configurator 1.9.1

[2017-01-23 10:16] AndersHoglund commented on #403
Oh yes there is. Select "Show Unstable releases".

[2017-01-23 10:58] arnoz26 commented on #403
Oup's... Sorry...

[2017-01-23 10:58] #403 closed

[2017-01-23 15:44] AndersHoglund commented on #200
STM32 F4 chips has asymmetric flash sector/page sizes, 16k, 64k and 128k while BFC assumes all pages equal. Could be the reason for problems.
F1 flash pages are all equal in size, also F3.  F7 flash is asymmetric too.

[2017-01-23 20:27] mikeller commented on #200
Good finding, @AndersHoglund!

[2017-01-24 04:11] remzak opened #405 "F3 Femto: Unknown USB Device, Zadig Drivers: None"
I am trying to connect my F3 femto board to my Windows PC, I connected it once before and got the thing flying, but now after 3 weeks it will not connect to betaflight, nor will the PC recognize it at all. When I connect it I immediately get a message saying USB deice not recognized, and then in zadig it is referred to as Unknown USB Device (Device Descriptor Request Failed) and the drivers tab sa

[2017-01-24 08:56] AndersHoglund commented on #405
In boot loader mode, what does Windows Device Manager say? And Zadig?
Still nothing, broken FC, broken cable, wrong cable, charge only cable, broken PC, broken Windows. Surely not a BF firmware issue....

[2017-01-28 11:13] DanNixon commented on #392
Added them in #410.

Love the extra large font, much easier to read when wearing goggles for me.

[2017-01-29 03:32] mlopyrev opened #411 "Save blackbox file from dataflash freezes mid-download in recent versions of configurator"
Target: X-RacerSPI (tried two boards with different configurations)
Betaflight version: 3.1.1; also tried earlier ones with same result
Configurator version: 1.9 (freezes); tried 1.8.4 (freezes), 1.7 (works), 1.3 (works)

Other symptoms: if aircraft is plugged in to power, at a random point during the dataflash download, there is a restart / ESC re-init - at that point, the download progress bar s

[2017-01-29 10:21] mikeller commented on #411
Can you check if you get any error messages in the console (right-click into configurator, click 'Inspect', console is at the bottom of the window that opens) when you get the freeze / reboot?

[2017-01-30 13:34] mikeller commented on #411
Also, can you try with a different / shorter USB cable?

[2017-01-30 13:45] borisbstyle commented on #405
Try also impulse drivers.

[2017-01-30 20:12] Jenseng2020 opened #413 "3D graphic of quad disabled"
After flashing an spracing f3 with 3.1.0 the graphic of the quad was missing on the setup and rate pages. The box with the grid is now there but it is empty.

[2017-01-31 04:02] mlopyrev commented on #411
hi @mikeller  - sorry I haven't had the chance to get the console output. I've ended up wiring up both quads with OpenLog loggers instead (which is fantastic!).

As for USB cables - tried regular coiled and 1' length, to no avail. Also tried on two different laptops and a fresh reinstall of the VCP drivers. It only occurred to me to roll back the configurator after I've eliminated all other factor

[2017-01-31 04:33] mikeller commented on #411
@mlopyrev: Fair enough. Fyi, the XRacerSPI does not use VCP, it requires the CP2102 USB to serial drivers.

[2017-01-31 04:40] mlopyrev commented on #411
ok cool. I'll try a fresh install of the drivers as well. Thanks for checking in on this.

[2017-02-01 07:40] mlopyrev commented on #411
Ok, here is the console dump.

`Libraries: jQuery - 2.1.4, d3 - 3.5.6, three.js - 72
port_handler.js:77 Last used port wasn't saved "yet", auto-select disabled.
serial_backend.js:49 Connecting to: /dev/cu.SLAB_USBtoUART
serial.js:116 SERIAL: Connection opened with ID: 5, Baud: 115200
three.min.js:536 THREE.WebGLRenderer 72
2main.html#:1 [.Offscreen-For-WebGL-0x7fc1dd105600]RENDER WARNING: there is

[2017-02-02 17:13] MathijsG opened #414 "[Feature request] Modes auto recognize correct AUX channel based on movement"
A minor 'issue' I always encounter with this configurator is that you need to switch between the 'receiver' tab and the 'modes' tab all the time, just to see which AUX channel is mapped to which axis or switch.

Wouldn't it be possible to (maybe optionally?) possible to switch to the current AUX that has a change of value? Or maybe see the movement within the list.

![image](https://cloud.githubus

[2017-02-02 19:37] ghost opened #415 "Blackbox logging rate over 8kHz"
the blackbox logging rate selection is not supporting rates over 8kHz ... i'm using revolt f4 but the highest rate is only 8kHz, when i use 32kHz gyro frequence ... the correct calculation does not seems to work anymore ... pls can someone fix this

[2017-02-03 00:15] hhoweson opened #416 "Problem with auto connect after reboot"
On some boards, eg. the impulsercf3 (had it on others aswell), when you click save and reboot, it tries to connect before the board is ready to be connected to so it connects and then disconnects so that you have to connect manually. A 0.1 second delay would probably do the trick

Repost for this issue: https://github.com/betaflight/betaflight/issues/2259#issuecomment-277126549

[2017-02-03 03:50] etracer65 commented on #411
I can confirm this problem.  I have a friend using a X-Racer F303 v2.1 (SPRACINGF3 target) and he was having the configurator freeze while downloading blackbox logs.  I did some testing with a board of my own (same X-Racer v2.1) and was able to replicate the problem.  Using latest BF 3.1.3 (all defaults), BF configurator 1.9.1.  Downloading the logs will sometimes freeze - about 50% of the time fo

[2017-02-03 14:37] etracer65 commented on #411
@mikeller I tried reinstalling the latest CP210x drivers and the problem still persists.  Tested on another computer with OS X 10.10 and the same issue so it's not related to an OSX 10.12 problem.

The timeout is random in that it occurs at different points in the download - doesn't seem to be a pattern.  The only commonality is that the debugging reports a CRC error and then the other errors.  It

[2017-02-03 15:25] etracer65 commented on #411
I was just able to replicate this with a VCP target (Revo) on BF 3.1.3.  The behavior is the same; CRC error followed javascript errors. It doesn't look like the problem is limited to CP210x targets.  The debug console from the VCP failure:

`Connecting to: /dev/tty.usbmodemFA131`
`serial.js:116 SERIAL: Connection opened with ID: 5, Baud: 115200`
`three.min.js:536 THREE.WebGLRenderer 72`
`onboard_

[2017-02-04 13:03] mikeller commented on #411
We've confirmed the problem with the XRACERSPI, looking into reducing the block size (and speed) for this target. I've not had any other reports of download problems with REVO, so this makes me suspect that the susceptibility to these problems might be affected by the hardware that the configurator is running on.

[2017-02-04 13:47] etracer65 commented on #411
@mikeller I can consistently get the SPRACERF3 target (on a X-Racer F303 v2) to fail.  I tried lowering the block size in onboard_logging.js all the way down to 512 and still get occasional CRC errors and aborts (and much slower downloads). Tried multiple computers, multiple USB cables, etc.

Some thoughts: Shouldn't a CRC error be recoverable?  Discard the block and re-request it?  Right now the

[2017-02-04 18:23] etracer65 commented on #411
@mikeller I've been debugging all morning and haven't come up with a reason for the CRC errors, but it looks like they're real.  So instead I shifted focus on how to retry the packet and came up with a really messy fix.  From the MSP processing structure it appears like it would be really difficult to generically handle retries for CRC errors so I focused on the dataflash read messages.

Since the

[2017-02-05 19:02] waltr1 commented on #411
Just another data point:
 I consistently get the SPRACERF3 target (on a DODO FC) to always fail right from the beginning, no movement of the status bar. This is configurator 1.9.1 without the patches.

Added the patches, copied the two files into 1.9.1 folders, rename existing by adding '.old' and deleting the '.txt' from patch files. Configurator now does not show opening screen and does not Conn

[2017-02-05 19:07] etracer65 commented on #411
@waltr1 No, these patches are not the complete files - just the differences between the old and patched versions.  You can't use these files directly.  I added a second post on rcgroups with a link to a patched configurator version.

https://www.rcgroups.com/forums/showpost.php?p=36811734&postcount=44503

If you want to use this you'll have to download and unzip the directory and then in Chrome go

[2017-02-05 19:13] waltr1 commented on #411
Just saw your post and did the download from:
http://www.etracer.net/betaflight/be...nfigurator.zip
and this worked.
Thanks

[2017-02-05 20:03] etracer65 commented on #411
Created pull request 418 with the patches.

https://github.com/betaflight/betaflight-configurator/pull/418

[2017-02-06 16:14] mixMugz opened #421 "New Font"
Hi. I made new font for BF. You can use if you like.

![mugzless](https://cloud.githubusercontent.com/assets/17923916/22628760/03e157d6-ebeb-11e6-9a41-7a6e202a7486.png)

Link for download: https://cl.ly/1z1J1u02113G

[2017-02-06 17:42] DanNixon commented on #421
As this font appears to be identical to the one added in #419 I'd suggest this should just replace that one (digital.mcm`) as the battery icon does look nicer in this one.

(@basdelfos)

[2017-02-06 17:49] mixMugz commented on #421
Oh. Wow! in #419 is also my font what i make for minimOSD ;)

[2017-02-06 17:51] mixMugz commented on #421
Anyway you can rename it to anything you like and use

[2017-02-06 17:52] DanNixon commented on #421
Cool, I'll be able to get that done some time tomorrow.

[2017-02-06 17:54] mixMugz commented on #421
Okay! If you need to change something - let me know.

[2017-02-06 18:00] basdelfos commented on #421
What's the difference besides the battery level icons?
I like the battery icons from the default Betaflight font more, I left them
out on purpose. But that's just suggestive. It's possible to just upload
the font you like in the BFC.

@mixMugz I thought you wouldn't mind sharing this font as you requested it
on RCG a while ago.
Op ma 6 feb. 2017 om 18:54 schreef mixMugz <notifications@github.com>

[2017-02-06 18:35] mixMugz commented on #421
@basdelfos Of course i don't mind sharing ;)

I didn't notice your post. If i did i wouldn't have written.

There aren't many differences.
1. Battery icon
2. 'v' and 'a' symbol for Voltage and Current
3. Correct center cross

[2017-02-06 18:36] mixMugz commented on #421
And battery icon is better. Because it is more informative.

[2017-02-06 18:37] DanNixon commented on #421
Yeah, having the individual segments would make it easier to read at a glance IMO.
Although those icons aren't even used in the Betaflight OSD (at the  moment) so for now it makes little difference.

[2017-02-06 18:40] basdelfos commented on #421
@mixMugz I will replace it with your font, it's your font anyway :)

[2017-02-06 18:43] DanNixon commented on #421
@basdelfos If you PR it then you also need to add it to the font UI, otherwise no one will ever know it's there.

See #410.

[2017-02-06 18:51] basdelfos commented on #421
Good point, didn't notice that.

[2017-02-07 18:55] jamesarm97 commented on #411
Thank you. I have been unable to download blackbox logs either. Usually stops near 0% and does show an i2c error lower left status line. I will try the patches.

[2017-02-07 19:29] etracer65 commented on #411
@jamesarm97 The patches listed here have been superseded and the final version is merged into code.  So just download the current patched version from github - no need to patch yourself.

[2017-02-08 03:21] Dracen-Knights opened #426 "Motors tab and BLheli suites passthrough not working when Dshot and 3d mode enabled."
ok so I am setting up my first Dshot quad and after many hours of test to figure out why the motors tab is not reflecting the fact I'm in 3d mode I found out that it's a glitch. I also can not get the passthrough to work when in 3d mode. now if I set it to oneshot 125 or any other non dshot the motors tab reflects 3d mode and I can use blheli suites to check the esc's . once any dshot is set then

[2017-02-08 03:57] peteoz commented on #411
on my KIWI.F4 boards I have identical issue as described above.
BF3.1.3, running latest Mac OS, download freezes at random point during download - sometimes I get 5%, other times I get to 40% or anywhere in between, I don't think I was ever able to download past 40%.
once this happen the whole configurator freezes, clicking "cancel" has no effect, need to do force quit and try again.
tried with 2

[2017-02-08 04:14] peteoz commented on #411
the patched version posted above solved the issue on my KIWI.F4 boards, I still get packet errors during download but the download continues and completes (previously it would freeze on first packet error).
thanks for the fix.
is the fix going to be included in the next release of BF configurator ?

[2017-02-08 04:48] mikeller commented on #411
Yes, #420 is already merged into master.

[2017-02-08 08:10] rotcehdnih commented on #426
Just dropping in here to sub to the issue :)