[2019-05-05 00:01] mikeller commented on #1409
@RipperDrone: Can you close this please?

[2019-05-05 03:32] mikeller opened #1419 "Autocomplete broken on 'set <parameter name>'"
When using configurator side autocomplete in CLI, using the valid syntax

[code]

![image](https://user-images.githubusercontent.com/4742747/57187979-4907f780-6f4b-11e9-9caa-78523181bcdd.png)

to get the current setting for a parameter is broken.

When hitting [Enter] on this, configurator modifies the input to

[code]

![image](https://user-images.githubusercontent.com/4742747/57187998-8076a400-6

[2019-05-05 06:00] McGiverGim commented on #1419
I didn't know you can use set in this way. I always used get for this.

[2019-05-05 09:29] mikeller commented on #1419
Yes, you can. And it's a lot more convenient, because this allows you to use the command cache to then `set <parameter name> = <new value>` in the subsequent command.

[2019-05-06 23:24] norrath93 opened #1422 "Betaflight 10.5.1 and CrazybeeF4FS 4.0.0 broke my Eachine Trashcan"
Hello,
i have a major issue with betaflight and my Eachine Trashcan:

After i flashed the firmware to 4.0.0
, my RSSI is constant under 30% (sometimes it says 101-96)
 and i get the error code Bad_rx_recovery evertime i try to launch.

I flashed back to 3.5 but it still broken and back to 4.0.3 and back to 3.5.6 and so on.
I Resetet my Jumper and done all i know.

When i try to start it just flipp

[2019-05-07 00:00] mikeller commented on #1422
@norrath93: Have you tried flashing back to the original firmware that is provided by the manufactuer?
Eachine is well known to illegally supply custom modified firmware for their boards without disclosing the sources. It looks like in this case they modified the hardware, causing it to not run reliably with an official build of Betaflight.

[2019-05-07 02:47] norrath93 commented on #1422
How to i get the orginal Firmware?

I wrote to banggood.... now i wait for an reply.

[2019-05-07 03:15] mikeller commented on #1422
@norrath93: Banggood is probably your best chance.

[2019-05-07 06:15] McGiverGim commented on #1422
I have seen sometimes the BAD RX when I power on the quad with the ARM switch enabled. I see in the capture that the ARM switch is enabled too. Do you have the TX on? If true, verify the modes tab, I'm sure something is wrong there.

[2019-05-07 06:44] McGiverGim commented on #1419
@Cleric-K have you time to look at this?

[2019-05-07 07:08] Cleric-K commented on #1419
Hi, I was on the go last few days. I'll take a look at this later today.
Thanks for mentioning my nick, I'm not subscribed to all events in the repos so I was not aware of this issue.

So basically this would be usable only for _non_-lookup values, because for lookup values you immediately get the suggestions and pressing enter will send the first in the list (or would have to press `Esc` first to

[2019-05-07 07:25] mikeller commented on #1419
@Cleric-K: Yeah, not sure what best to do here. I'd almost say add the `=` once the parameter name has been selected, but if the user then hits [Enter], strip the `=` again and send `set <parameter name>`, based on the assumption that sending `set <parameter name> =` does not make any sense, and will evaluate to sending 0 (even if this isn't a valid value).

[2019-05-07 07:40] Cleric-K commented on #1419
Yes, that's the clear part. The question is what to do in case of lookup parameters?

[2019-05-07 08:02] mikeller commented on #1419
Heh, even worse there. But I'd essentially go for not selecting one, and just to a `set <parameter name>` if the user doesn't click / type / scroll to select one - pre-selecting the first value does not add much I think.

[2019-05-07 08:10] Cleric-K commented on #1419
I'll take a look but from memory it was not easily doable to make a list with no selected item. The selected index is buried in the lib code and I didn't see provision for index _none_.

In that case maybe the solution would be to show lookup values only after `Tab` or first char in.

[2019-05-07 13:16] Winky1st commented on #1369
Same here...but for a mobula7 with f3 board to update version is mostly impossible as wont work smooth unless loaded the stock 4.0 provided by them and than cant be loaded with configuratr 10.5.1 as per auxiliarttab issue
apologise for my not native English.

[2019-05-07 14:38] norrath93 commented on #1422
Everything is correct in the mode tab, arm switch on aux 1 2way switch but like i sayed i flown it before but then this Firmware upgrade...

[2019-05-07 15:18] Cleric-K commented on #1419
I looked around and here're my thoughts:

* Variant 1 - removing `=` before sending

As we said, one way to go around the problem with the lookup values would be to show the suggestions only if at least a char is typed in or `Tab` is pressed. Unfortunately this has the following caveat: if the suggestion list is _not_ showing, then pressing `Enter` is not handled by the autocomplete lib (it handle

[2019-05-07 19:33] mikeller commented on #1419
I actually quite like the second variant. You are correct in that the current implementation simply shortcuts the `set <parameter name> version of the command, so there should be an additional step to add the `=`. Yes, it adds a step, but this is just because the current implementation is missing one. And overall the tab completion still improves the workflow drastically.

[2019-05-07 20:18] Docteh commented on #1422
Is the flight controller from happy model?http://www.happymodel.cn/index.php/2019/01/05/crazybee-f4-pro-series-flight-controller-firmware/ or did eachine clone that?

If the Crazybeef4fs firmware there works, as a customer who bought the item, you could request source code.

[2019-05-07 22:22] norrath93 commented on #1422
I flashed it and tried but no hope still broken as hell.
It must be cloned by Eachine then i hope someone has the right firmware here.

[2019-05-07 22:41] mikeller commented on #1422
@norrath93:

As I already stated in https://github.com/betaflight/betaflight-configurator/issues/1422#issuecomment-489829688, the ball in this case here is with Eachine - unless they release firmware and a target for this board, or at least provide the spec for their hardware so others can do the work of creating a target for their hardware, there is nothing anybody else can do.
So instead of pest

[2019-05-07 22:42] #1422 closed

[2019-05-07 23:26] serran0 opened #1423 "Installing BFC on Windows after building a release takes forever"
All of the resources in node_modules (640 modules) seem now to be included with the client.
Which means installing a compiled release now takes forever (3+ hours).

![image](https://user-images.githubusercontent.com/18603833/57339047-22ef7c80-7130-11e9-8f6d-5b11c486e5da.png)

Built with Yarn as per new instructions.

[2019-05-08 00:27] mikeller commented on #1423
@serran0: Can you please supply some more information to help narrow this down, like what version you are trying to build, and if there is an older version that built without this issue?

[2019-05-08 04:52] Docteh commented on #1423
I've been wondering about that. For reproducing the error I just did `git pull` directly followed by  `yarn gulp dist --win32` and when I look in dist/node_modules there is a fair amount of stuff in there.

Installed 10.5.1 configurator node_modules (7 items according to windows explorer)
![image](https://user-images.githubusercontent.com/190571/57350156-c715fb00-7111-11e9-9cd2-8a2c4c21c72b.png)

[2019-05-08 07:00] McGiverGim commented on #1423
I have observed the same problem with the Blackbox Viewer. The Blackbox compress the content into a file, so the installer time does not increase but when executing, I suppose it decompress it because it takes forever.
[code]
This `zip`: `true` or `false` makes it compress or not the nwbuilder output.

Conclusion:
- If we compress the nw-builder, the execution takes forever under windows, like the

[2019-05-08 07:15] Docteh commented on #1423
I don't know anything about yarn, but for some reason it looks like its just ignoring the flag to only grab production dependencies when sticking stuff into dist/node_modules

Workaround of sorts:
Go into dists, remove ` "gulp": "^4.0.1",` from package.json,
`rm -rf node_modules` then finally
`yarn --ignore-scripts --production`

9958 tiny files vs 146 tiny files

If you could get it to respect th

[2019-05-08 07:44] Docteh commented on #1423
I'll give this a go again tomorrow, with a cleanly clean repository. Hopefully its not something that only works for me...
[code]

[2019-05-08 08:01] serran0 commented on #1423
I have a task that is pulling down the latest dist from GIT and builds it once a day overwriting the release installer from the day before.
Sometime between 2019-05-01 and 2019-05-06 the installer file size jumped from ~78Mb to ~90Mb and the issue with node_module folder started to occur at installation. Sorry i dont have any more info than that.

[2019-05-08 08:33] McGiverGim commented on #1423
@Docteh tried your changes with the Blackbox and it seems to fix the problem too. I don't know if it is the correct way or not (I don't have `yarn` knowledge neither), but it seems to work. The `node_modules` contains only what it must.
The only problem is that I needed to start the debug with `yarn npm debug` and before that the `npm debug` worked for me. Not a problem to me.
@mikeller what do yo

[2019-05-08 19:26] RipperDrone commented on #1409
sure, sry.

[2019-05-08 19:26] #1409 closed

[2019-05-09 02:18] Docteh commented on #1414
"proper" way would be to figure out a set of character to filter on all OS and see if filtering all those characters cause complaints. I can run down a list for windows and Linux. Maybe someone reading this runs OSX?

On windows I thought it properly complains when you try and hit save.

What craft_name are you using?

[2019-05-09 02:26] mikeller commented on #1414
I can help you for linux: The list is `\0`. :stuck_out_tongue:

[2019-05-09 09:05] bizmar commented on #1374
I have had this happen frequently on macOS 10.14 and 10.13. On all versions of the Configurator to date. I probably use it more than the typical user, and run into it more frequently. Now that I know how to get to the console I'll bring back some data. :)

[2019-05-09 21:31] #1423 closed

[2019-05-09 21:54] gee4z opened #1427 "Can't flash Fortini F4 OSD Ver 3 on MAC"
Been trying to flash 4.02 onto a Fortini F4 OSD Ver3 on my Mac. last version was 3.5.5 but I updated the configurator to the latest and now can't flash even using the boot button - which, btw, I have never had to use. Mackbook Pro 2017. just keeps saying that the flash fails to connect with the board- also when it shows it's in DFU- it does nothing at all when I click the flash firmware button????

[2019-05-09 22:20] mikeller commented on #1427
@gee4z: At least stating what version of the configurator you are using would go a long way towards others being able to help you.

[2019-05-10 00:12] gee4z commented on #1427
Sorry @mikeller it’s 10.5.1

[2019-05-11 06:46] Shaolin24 opened #1432 "Betaflight 10.5.1 Does not open Modes or OSD on Windows 8"
**Important: This is not the right place to get help with configuration issues. Your issue will be closed without further comment.**

Please get help from other user support options such as asking the manufacturer of the hardware you are using, RCGroups: https://rcgroups.com/forums/showthread.php?t=2464844, or Slack (registration at https://slack.betaflight.com/) or other user support forums & gro

[2019-05-11 10:39] mikeller commented on #1432
Duplicate of #1362.

[2019-05-11 10:39] #1432 closed

[2019-05-11 17:19] Shaolin24 commented on #1432
Thank you..new to this

[2019-05-12 18:52] ianrmurphy commented on #1364
Closed following merge.

[2019-05-12 18:52] #1364 closed

[2019-05-13 20:08] Docteh commented on #1414
`filename = filename + '_' + CONFIG.name.trim().replace(/[<>:"/\\|?* ]/g, '_');`

[2019-05-13 23:36] #1427 closed

[2019-05-13 23:47] gee4z commented on #1427
Solved it... or... just followed instructions more closely-which i don't often do... and with all previous versions all I ever had to do was plug the board into my mac and connect -no boot button or screwing with anything- now in this version I have to press boot button, plug in, close configurator and then reopen (with board still plugged in) and then I can flash new firmware. Weird how the newer

[2019-05-15 13:29] 0crap commented on #1331
@McGiverGim Is it OK to reopen this issue?
4.0 is out the door and it would be great if this issue can be fixed on the next release.

[2019-05-15 18:43] McGiverGim commented on #1331
At this moment the changes that incremented this value are not in master of Betaflight, if I'm not wrong. Are the changes in master?

[2019-05-17 11:54] McGiverGim commented on #1419
This was fixed in #1424 and https://github.com/betaflight/betaflight-configurator/pull/1436 so I suppose that we can close this issue? Is something pending?

[2019-05-17 13:36] McGiverGim commented on #1403
As far as I know, this is fixed. I close the issue.

[2019-05-17 13:36] #1403 closed

[2019-05-17 16:55] kevinjones4642 opened #1442 "No attitude feedback after Windows update"
My computer just updated Windows 7 pro, and now I can't see attitude changes in BF configurator. Has anyone else experienced this?

[2019-05-17 17:55] McGiverGim commented on #1442
Try to remove the graphs and add them again. I think remember other user with the same problem fixed it in this way.

[2019-05-17 23:22] kevinjones4642 commented on #1442
This gets more interesting. After the Windows update, I tried 2 different quads, and in the main tab in BF configurator, the animated quad will not move, although info in all the other tabs seems to work. On the RC tab, the RC sliders move with stick/switch inputs, and on the rates tab, the animated quad moves with stick inputs. To make things more interesting, I just plugged someone else's quad i

[2019-05-18 00:37] kevinjones4642 commented on #1442
I'm not sure what you mean by "removing the graphs and adding them again."
How do you do this? I can't find any way in the configurator to add or
remove objects.

--Kevin

On Fri, May 17, 2019 at 10:55 AM Míguel Ángel Mulero Martínez <
notifications@github.com> wrote:

[2019-05-18 01:00] kevinjones4642 commented on #1442
OK - I officially feel stupid. On the quads I had trouble with, I had
disabled accelerometers, and this is the problem. The spare board and the
other person's quad had accelerometers turned on. Doooh! It's always the
stupid things.

Thanks for your help.

--Kevin

On Fri, May 17, 2019 at 5:32 PM Kevin Jones <kevin.jones4642@gmail.com>
wrote:

[2019-05-18 01:43] #1442 closed

[2019-05-18 06:06] #1419 closed

[2019-05-18 08:10] mikeller commented on #1331
Yes, this is still an `uint8_t` in the firmware:

https://github.com/betaflight/betaflight/blob/197796873d31bfebb25f305ecec962ca13a28c33/src/main/pg/rx.h#L58

[2019-05-18 11:13] fLYINGfRANK1701 opened #1445 "i need to have betaflight 10.4.0 and10.5.1 installed on my computer. currently instillation of one version removes the other version."
i need to have betaflight 10.4.0 and10.5.1 installed on my computer at same time. currently instillation of one version removes the other version. the F3 chip will only run o n version10.4.0 of betaflight while F4 chip is compatible with 10.5.1.

[2019-05-18 11:17] McGiverGim commented on #1445
10.5.1 is compatible with F3. But you can copy the installed folder to another location and then install the other version. Both will work.

[2019-05-18 11:17] mikeller commented on #1445
@fLYINGfRANK1701: Configurator should be backwards compatible. If you describe what the problem is with your F3, and what hardware / firmware it is we can probably fix it and make it work with the current configurator.

[2019-05-18 11:43] #1401 closed

[2019-05-18 16:21] fLYINGfRANK1701 commented on #1445
I put each version in it's own folder. when I installed one version of betaflight the other version would be deleted.  I have a modula 7, betaflight 10.4.0 works,  betaflight 10.5.1 locks up when I try to access the mode page. ill try the install again and ensure the folders are in completely separate directories. the instructions for mobula 7 say it is only compatible with betaflight 10.4.0. due

[2019-05-18 16:49] McGiverGim commented on #1445
I don't say that you install each one in different folders. Install one, COPY the folder with the files to other place and the install the other. You will have the two.
Your mobula does not work because it uses an unofficial/nightly version. If you update the firmware to an official version it will work with the newest Configurator.

[2019-05-18 23:37] mikeller commented on #1445
@fLYINGfRANK1701:

Looks like this is just a case of Mobula being full of sh*t and throwing their customers under the bus by shipping their products with unlicensed and broken firmware.
Install Betaflight (and not the crap that Mobula claims is Betaflight) on your hardware, and it will work just fine with all versions of configurator.

Duplicate of #1335.

[2019-05-18 23:37] #1445 closed

[2019-05-19 08:02] smaugfm opened #1446 "SD card: Startup failed on MATEKF722SE"
The card is SanDisk Ultra 16GB, I am successfully using it on another board Matek F722-STD, so the card itself is fine.
I tried clean flashing 4.0.2, 4.0.0, the earliest one available 3.5.3, 4.1.0 #1647 from development, and also tried 4.0.0 from matek [website](http://www.mateksys.com/Downloads/FW/betaflight_4.0.0_MATEKF722SE.hex) - same results.
Tried turning sdcard_dma = ON - no luck, and teste

[2019-05-19 08:09] McGiverGim commented on #1446
I have this board and it works perfectly, at least with others micro sd. Have you tested others?

[2019-05-19 08:10] McGiverGim commented on #1446
One thing more: I suppose your problem is with the firmware, not the Configurator, so maybe this issue is in the wrong place.

[2019-05-19 08:46] smaugfm commented on #1446
I haven't actually test others, will try that. And of course this issue is not for the configurator:) I am sorry. Closing it.

[2019-05-19 08:46] #1446 closed

[2019-05-19 10:47] apoc commented on #1375
There is already some mmix custom calculator online: https://www.iforce2d.net/mixercalc/

[2019-05-19 10:56] pkruger opened #1447 "Feature OSD Profile Names (Planned for Betaflight 4.1)"
Please add support for OSD Profile Names.
See:
https://github.com/betaflight/betaflight/issues/8107 and
https://github.com/betaflight/betaflight/pull/8272

This feature adds a new OSD element (OSD Profile Name) and the ability to name each of the 3 OSD Profiles.

[2019-05-19 13:07] mmakam2 commented on #1375
I force calculator works extremely poorly if you have ever tried it

[2019-05-19 13:27] mmakam2 commented on #1375
I guess I'm the only one who actually mixes motors? 😂 It seems to get me a good result when I do it, pid controller knows exactly what force each motor will add to the bird.

[2019-05-19 14:52] RipperDrone opened #1449 "BFC 10.6 + SPRACING F3 - starts flashing but timeout at beginning of verify phase"
BFC 10.6 nok, BFC 10.0 ok. Seems to do with MSP / protocol changes? BF FW version does not matter. CLI BL does not put FC into bootloader anyway, so I had to short BOOT Pins to get it flashing. Std flashing didn't wrk either then, so it needed 'flash on connect' to start the process...

[2019-05-19 17:55] apoc commented on #1375
I tried it with my squashed X frame and it worked good, I did not try any exotic one :)

[2019-05-19 19:48] mikeller commented on #1449
Not really. But different versions of NW.js, with changes in the serial stack. Telling us what operating system you are running on would help.

How can you tell?

One thing about flashing boards with a CP210x is that they often need 'Manual Baud Rate' to be set, 256000 seems to be working in most cases. Have you tried reducing that?

[2019-05-20 06:25] McGiverGim commented on #1449
@RipperDrone  are you able to build a debug version of the Configurator yourself? Sometimes in the developers console appears the error that is happening.

[2019-05-20 06:42] McGiverGim commented on #1447
To have this in the Configurator, first, it needs to be in the MSP protocol in the firmware part. Is the only way the firmware and the Configurator communicate.
Usually this can be done one version later than introduced (so in theory for 4.2).

[2019-05-20 07:54] mikeller commented on #1447
@McGiverGim: What you are referring to is setting the profile names in the GUI - and your statement is correct.
What can and should be done now is adding the OSD elements for these names as OSD elements to the OSD tab.

[2019-05-21 04:06] #1366 closed

[2019-05-21 05:06] #1371 closed

[2019-05-21 11:47] pkruger commented on #1447
PR: https://github.com/betaflight/betaflight-configurator/pull/1453

[2019-05-21 13:53] #1447 closed

[2019-05-21 14:07] #1379 closed

[2019-05-22 05:00] #1334 closed

[2019-05-22 10:03] pkruger commented on #1447
PR: https://github.com/betaflight/betaflight-configurator/pull/1453

[2019-05-22 11:42] attomic opened #1455 "[FR] Virtual Flight Controller for Configurator"
Have a virtual FC that can be connected in the configurator to sandbox some settings or be able to view the configurator tabs without physically connecting a real FC.

[2019-05-22 11:45] #1455 closed

[2019-05-22 11:45] attomic opened #1456 "[FR] Virtual FC for Configurator"
Have a virtual FC that can be connected in the configurator to sandbox some settings or be able to view the configurator tabs without physically connecting a real FC.

[2019-05-22 11:56] mikeller commented on #1456
@attomic: You can build the SITL target. This runs on a workstation, and can be connected by configurator on port 5761.

[2019-05-22 12:00] #1383 closed

[2019-05-22 13:28] McGiverGim commented on #1374
I've suffered this too from time to time, but usually with a release version and not a debug version. I'm trying to reproduce it now with a debug version to see if I can get some error message or something... but until now without luck.

[2019-05-22 13:48] McGiverGim commented on #1374
I have reproduced it once... there is no error in the console, but I have observed that the function that writes the last tab to the chrome storage has registered itself for a click more than once...

![image](https://user-images.githubusercontent.com/2673520/58179711-02cfc980-7ca9-11e9-8f4f-7ed225809237.png)

Maybe the problem is here. I will try to keep investigating.

[2019-05-22 14:53] McGiverGim commented on #1223
@bujarek have you tested the latest Configurator 10.5.1 to see if the problem persists? Some fixes to the way the rate of the 3d quad were merged. I don't think it is related with your problem, but perharps...

[2019-05-23 01:44] robomaniac opened #1458 ""modes" and "OSD" tabs does not show any content"
for some reason the "modes" tab does not show up in 10.5.1 and also the "OSD" tab.

I also tried 10.5.0

here is a picture
also, when I click the "modes" tab, I can't do anything else after that, I am stuck, can not click other tabs. I disconnect and reconnect to start over.
![modes_tabs_not_working](https://user-images.githubusercontent.com/5814871/58219466-08dd9e80-7cd9-11e9-9985-a6cc6db9f90a.pn

[2019-05-23 01:49] mikeller commented on #1458
Duplicate of #1356.

[2019-05-23 01:49] #1458 closed

[2019-05-23 21:39] beeb commented on #1427
I can reproduce with Fortini OSD rev. 2 and Configurator 10.5.1 on macOS. Board does not actually go into DFU through the command or the "Flash firmware" button (although it says it does in the ports dropdown). The use of the boot button is required.

[2019-05-25 04:01] #1391 closed

[2019-05-25 09:00] McGiverGim commented on #1374
The PR has been merged into master. Please test master to see if you can reproduce the problem or it is fixed. Thanks!

[2019-05-25 11:06] #1370 closed

[2019-05-25 11:45] mikeller opened #1460 "Test missing information 3."

[2019-05-25 23:08] Jetrell opened #1462 "OSD hide logo message stays active"
When ever the `hide logo` tab is checked on the OSD setup page. A message will appear to instruct on this tabs use.
The problem is, that the message does not go away once the `hide logo` tab is checked. It just stays there on any of the pages in the configurator.
The message usually stays in the same location that it appears on the OSD page. But occasionally will move to the top left hand corner o

[2019-05-25 23:43] mikeller commented on #1462
@Jetrell: It would help if you at least specified what operating system / version you are using. I suspect that this is something Chrome / NW.js related, but I cannot get it to reproduce in Ubuntu, the tooltip disappears as soon as i move the mouse pointer from the 'Logo' switch over to the tab list.

[2019-05-25 23:56] Jetrell commented on #1462
@mikeller It does it on Windows 7 32 and 64bit systems. With both Chrome and Windows applications.

[2019-05-27 06:32] McGiverGim commented on #1462
It happened to me. I disabled the logo pressing the switch, and changed the tab and the tooltip remains. I will look into it further, but the tooltip is a external library without almost configuration.

[2019-05-27 15:20] #1462 closed

[2019-05-27 19:56] #1397 closed

[2019-05-28 10:21] bizmar opened #1468 "Save button moved places in Mac dev builds"
Heads up, if this was not an intended change.

Save used to be the right most button, at the bottom right, of the window. Now in a lot of tabs it is has been swapped around. Not sure what commit did this, I noticed it in PID tuning after repeatedly refreshing my old settings instead of saving. (muscle memory is hard to brake even if you know the button moved 😅) I'm guessing it's like this on other

[2019-05-28 12:28] #1460 closed

[2019-05-28 12:31] McGiverGim commented on #1468
I will look into it. Thanks for reporting!

[2019-05-29 14:17] dahicastillo opened #1470 "al descargar betefly me da error de red"
preoblemas de red al instalar betafly

[2019-05-30 11:04] oliverherdener opened #1471 "gps_rescue_min_sats"
**Use case:**
If flying indoors or testing on the bench or waiting for a GPS fix, I want to fly the quad even if failsafe is set to "GPS Rescue" (while being aware of the consequences)
Before BF 4.x, this worked
`set gps_rescue_min_sats = 0`

**Bug**
In BF Configurator (10.5.1), it's possible to set `Minumum satellites` to "0".

Diff in CLI:
`set gps_rescue_min_sats = 0`
`###ERROR: CORRUPTED CONFI

[2019-05-30 20:35] #1468 closed

[2019-05-30 22:41] #1470 closed

[2019-06-01 09:33] manjubssp commented on #1362
Thanks. For the solution to my problem...

[2019-06-01 14:29] rolo95 opened #1472 "copy profiles values do not work for profile 3"
Dear Betaflight Team,
im using BFC 10.5.1
on the PID Tuning Tab TAB if i want to copy profiles values to profile 3, nothing get copied
profiles 2 and 1 works when you copy from other profiles

But if i am on Profile 1 or 2 i canot copy to 3, seems like it works, but when you switch to profile 3 ,original values remain, so you need to move them manually

Also if im on profile 3 , i canot copy to 1

[2019-06-01 18:19] McGiverGim commented on #1472
This is a known issue and has been fixed for version 4.0.3 of the firmware: https://github.com/betaflight/betaflight/pull/8331

[2019-06-04 16:59] alaskatraz opened #1476 "Gyro Notch Filter cutoff below 100Hz reverts to Center Frequency -1 when saving"
BF 3.5.7 - if I set a Gyro Notch Filter and the cutoff is less than 100Hz, it will save once, but thereafter, if I save ANYTHING, the Cutoff gets reset to the Center Frequency -1.  e.g if i set Center Freq of 150Hz and Cutoff of 90Hz, the Cutoff will revert to 149Hz if I save anything, anywhere in BF.
I tried setting it in the CLI but the result is the same.  This only seems to happen if the Cutof

[2019-06-05 06:46] McGiverGim commented on #1476
I'm not too sure that this is a Configurator bug, he says in CLI the problem is the same.

I'm trying to reproduce the bug without luck. I enter Notch 1, center 150, cutoff 90. Save. All ok. I navigate for other tabs, save several things, return to filters, and all ok. Tested with 3.5.7 and with latest master.

The cutoff is changed to center - 1 when the value of the cutoff is invalid (for exampl

[2019-06-05 09:45] #1472 closed

[2019-06-05 17:15] alaskatraz commented on #1476
I am using configurator 10.5.1.  I only recently started tuning with Blackbox logs, so, this is my only experience settings notch filters, but it does occur on my other quads, all Tempest F4 flight controllers.  What happens is the cutoff value changes in the GUI but it is not changed in the CLI unless/until a Save operation is made in the GUI, then it saves the new cutoff value.  I did recently u

[2019-06-05 17:19] McGiverGim commented on #1476
I need to reproduce it to be able to fix it. Maybe I did something wrong. Can you post a step by step what you do?

[2019-06-05 17:26] alaskatraz commented on #1476
I just tested another board CLRacing F4.  It does the same thing.  Also, i tested Notch2 and D Term Notch and they all do the same thing.  Here are the steps:
Set Gyro Notch Filter 1 to 150 (this value is arbitrary, so far)
Set Gyro Notch Filter 1 Cutoff to 90 (or anything less than 100Hz)
Save
Click on another menu option, like "Power & Battery"
Go back to PID Tuning > Filter Settings
Cutoff Valu

[2019-06-05 17:32] alaskatraz commented on #1476
Update:  If i set the center frequency to 950 and then set the cutoff to 90 it does not change.  So, there is something that is reading 90hz as 900Hz in the cutoff field, i think.

[2019-06-05 17:43] McGiverGim commented on #1476
I think it is comparing values in ascii and not in numeric form. I'm out of the computer, I will try to reproduce it tomorrow.

[2019-06-05 17:48] alaskatraz commented on #1476
OK. Thank you.

Here is a video of it.
https://youtu.be/YHqT_lVfYYc

Rick Dennis
The I.T. Department
907-243-8001

From: Míguel Ángel Mulero Martínez [mailto:notifications@github.com]
Sent: Wednesday, June 5, 2019 9:44 AM
To: betaflight/betaflight-configurator <betaflight-configurator@noreply.github.com>
Cc: Rick Dennis <rick@it-ak.com>; Mention <mention@noreply.github.com>
Subject: Re: [betafligh

[2019-06-05 21:17] Hawxxer opened #1478 "Modi Tab is empty"
Connecting the Eachine Trashcan to Betaflight 10.5.1 the "Modi" page shows only Arm also the gui getting unresponsive, so I need to reconnect to the quad.
Version 10.4.0 works fine.
![betaflight bug](https://user-images.githubusercontent.com/46371370/58991203-f3dc3180-87e7-11e9-851b-7b28730863c9.PNG)

[2019-06-05 21:18] Hawxxer commented on #1478
Tested on Windows and MacOS

[2019-06-05 21:49] binlan commented on #1478
https://www.youtube.com/watch?v=slmUbB-dZsw

[2019-06-06 02:01] mikeller commented on #1478
Duplicate of #1335.

[2019-06-06 02:01] #1478 closed

[2019-06-06 06:33] McGiverGim commented on #1476
Finally I have reproduced it. It only happens with version 10.5.1, with code in latest master it does not happen (it was fixed at some point).

@mikeller I don't know if it is enough important to release a hotfix version or better wait until next official release.

[2019-06-06 13:24] mikeller commented on #1476
Not sure if this merits getting all users to update configurator just for the few who are using a deprecated firmware version.

Also, if we want to release a patch version, we'll first have to identify which change(s) are involved so that we can pull them into the maintenance branch.

[2019-06-06 16:37] alaskatraz commented on #1476
It doesn’t matter to me.  I just wanted to report the bug.  If it has been addressed/resolved, that is fine.

Is there something I can do to get a version that doesn’t have this issue?  I’m not clear on that part.

Thank you.

Rick Dennis
907-243-8001

From: Michael Keller [mailto:notifications@github.com]
Sent: Thursday, June 6, 2019 5:24 AM
To: betaflight/betaflight-configurator <betaflight-conf

[2019-06-06 17:09] McGiverGim commented on #1476
If you use Windows, you need to compile yourself from master. If not you can get it from here https://ci.betaflight.tech/

[2019-06-06 17:14] alaskatraz commented on #1476
OK. Thank you.

Rick Dennis
907-243-8001

From: Míguel Ángel Mulero Martínez [mailto:notifications@github.com]
Sent: Thursday, June 6, 2019 9:10 AM
To: betaflight/betaflight-configurator <betaflight-configurator@noreply.github.com>
Cc: Rick Dennis <rick@it-ak.com>; Mention <mention@noreply.github.com>
Subject: Re: [betaflight/betaflight-configurator] Gyro Notch Filter cutoff below 100Hz reverts to

[2019-06-06 17:21] McGiverGim commented on #1476
Just a video: https://youtu.be/OpE7E89ftHY

[2019-06-07 16:14] bizmar opened #1481 "[FR] Autocomplete refinements"
Two things that annoy me in everyday usage:

1. Leaving the mouse above the input field, highlights an item on the popup menu, that appears underneath it. if you move the mouse away the last option stays active. [Example](https://v.usetapes.com/C3DZ771I6Q).
Proposed solution: Only select option under mouse if mouse has moved. Or adapt how Intellisense works, and only highlight on a mouse click, an

[2019-06-07 16:51] Cleric-K commented on #1481
1. I'll have to check about that one. It is behavior coded in the library that we use. The question is whether we can modify the behavior without having to patch the library itself.

2. Can you make a detailed example for this? (like the screencast for 1).
Currently the input is _disabled_ (it should look grayed out) while the list is being built. I don't see how it is possible to enter any comman

[2019-06-07 22:15] GB509 opened #1482 "Firmware fashing still fails on Mac OS X"
Using  the betaflight configurator 10.5.1 (a769d38) on Mac OS 10.13.6 still fails to flash firmware upgrade in my case of the CLRACING F4

[2019-06-07 22:32] bizmar commented on #1481
2. I figured out what's happening...  first part of the command is lost due to the field being disabled, and remaining part is invalid. So this is user impatience. 😅 Probably the right way to fix it, is to "cache" what is written and only "let it through" once building is done. No idea how feasible this is.

I love the feature, but it's also a bit in my face all the time. If I "invoke it", and the

[2019-06-08 17:47] alaskatraz commented on #1476
Thanks!  That did the trick – all good now.

Rick Dennis

From: Míguel Ángel Mulero Martínez [mailto:notifications@github.com]
Sent: Thursday, June 6, 2019 9:22 AM
To: betaflight/betaflight-configurator <betaflight-configurator@noreply.github.com>
Cc: Rick Dennis <rick@it-ak.com>; Mention <mention@noreply.github.com>
Subject: Re: [betaflight/betaflight-configurator] Gyro Notch Filter cutoff below

[2019-06-08 18:17] #1476 closed

[2019-06-09 00:41] #1471 closed

[2019-06-10 14:10] erakli commented on #477
Found this issue closed but information in it is a truly treasure.

I agree with @AndersHoglund that information about flashing firmware through UART on F4 controllers could not be performed through BetaFlight Configurator (BFC) at the moment (even with latest version – 10.5.1) and **STM Flasher** have to be used.

Recently I broke micro USB port on my FC (clone of OMNIBUS F4 Pro) and it was real

[2019-06-10 14:15] erakli commented on #1482
As a workaround, take a look at [`stm32flash`](https://sourceforge.net/p/stm32flash/wiki/Home/).

[2019-06-10 14:24] erakli opened #1484 "Flashing STM32F4 via UART still fails."
Found #477 issue to be closed but information in it is a truly treasure.

I agree with @AndersHoglund that information about flashing firmware through UART on F4 controllers could not be performed through BetaFlight Configurator (BFC) at the moment (even with latest version – 10.5.1) and **STM Flasher** have to be used.

Recently I broke micro USB port on my FC (clone of OMNIBUS F4 Pro) and it was

[2019-06-12 00:09] Jetrell opened #1486 "Home Distance symbol preview lenght"
Hi guys.
The configurator OSD symbol preview for Home Distance, has an extended possibility of character length.
This prevents the Home Distance readout from being place any closer than 4 character spaces from the right side of the screen. This would give it a distance range of 99.9999km/Mi. Which is a long distance to be away from yourself with a quad :-)

![20190612_094206](https://user-images.g

[2019-06-12 06:11] McGiverGim commented on #1486
In an earlier version of Betaflight we add padding with spaces to "erase" the possible earlier value of the element. Now it has changed and we don't need it. I will fix the firmware (there are elements where we have the padding because nobody has removed it) and I will fix all the previews.

@mikeller what is the best approach for this in the preview?
- Use a typical standard value (for example, f

[2019-06-12 08:37] Jetrell commented on #1486
@McGiverGim Just an observation from earlier. The Total Distance value wasn't padded at all.  Yet its displayed value will always be higher than the Distance to Home value.

[2019-06-12 10:58] McGiverGim commented on #1486
Done the firmware part: https://github.com/betaflight/betaflight/pull/8416

When approved I will do the Configurator part.

[2019-06-12 11:00] mikeller commented on #1486
@McGiverGim: I think a good approach for fields like this is to try and go for a number of significant digits, and not total number length. So if we limit to 3 significant digits and use m up to `999m`, then go for `1.00km` up to `9.99km`, and then go for `10.0km` up to `99.9km` this would limit the length to 4 digits (including the decimal dot). Not sure if this is also feasible for imperialistic

[2019-06-12 11:17] McGiverGim commented on #1486
My question was about the preview in the Configurator only, not how to do it in the firmware. ;-)

The iNav code does that, but the function is huge and very complicated. I don't know if we want to get there.

[2019-06-12 11:37] etracer65 commented on #1482
There are no problems with the Configurator. I flash dozens of times a day using the 10.5.1 configurator on MacOS 10.13.6.

You need to better describe "fails to flash" and give a detailed description of what happens and any error messages.

If the flight controller fails to enter DFU mode and just appears to disappear from the ports when starting to flash, then that's a problem with the devices y

[2019-06-12 12:00] mikeller commented on #1486
Hehe. But then I guess the preview should reflect how the real thing looks, and the core of the problem is that the real thing _can_ look quite pointless if it is `12.3456km`. So getting the OSD element into a more useful form, and then making the preview match it, will solve the problem.
I can look if I can come up with a new format for this OSD element that uses a fixed number of significant dig

[2019-06-12 12:06] etracer65 commented on #1486
The "fixed number of significant digits" approach in the firmware would be useful I'd think for more than this. Also thinking about the battery voltage and current as possibilities.

[2019-06-12 12:09] mikeller commented on #1486
@etracer65: These are significantly simpler - at least as long as we do not get batteries in the kV range. :stuck_out_tongue_closed_eyes:

[2019-06-13 07:28] Docteh opened #1489 "Bottom bar has moved down"
![image](https://user-images.githubusercontent.com/190571/59411142-6cef0200-8d6f-11e9-8e99-06c1a44daff4.png)

Some sort of CSS issue.  `div with class of content_toolbar` is being tucked underneath the `status-bar` instead of above.

My suggestion would be to add more padding to the bottom, like `padding: 10px 0 24px 0;` But that doesn't fix whatever caused this, and doesn't fix the cli tab.

http

[2019-06-13 07:51] Docteh opened #1490 "OSD element "RSSI DBM Value" needs to be added to configurator"
https://github.com/betaflight/betaflight/pull/8309

That commit adds an element `OSD_RSSI_DBM_VALUE`, an alarm, and a warning.
`OSD_STAT_MIN_RSSI_DBM` an item for Flight Stats. not sure why that one isn't showing up on the OSD tab as an Unknown

`preview: FONT.symbol(SYM.RSSI) + '-130'`

default alarm appears to be 60, which would display as -60

[2019-06-13 08:06] McGiverGim commented on #1490
Yes, I saw it yesterday. Any OSD element that has not been added to the Configurator appears as unknown. Is a way to not forgot any before the next release :)

I didn't add it yesterday because I prefer to merge first this: https://github.com/betaflight/betaflight-configurator/pull/1487 if not it will conflict.

But is good to have it here as an issue to not forgot about it 😄

[2019-06-13 09:55] McGiverGim commented on #1489
I'm trying to reproduce the problem without luck. Using the minimum size that the Configurator lets, my buttons are in place:
![image](https://user-images.githubusercontent.com/2673520/59423190-f46d5d00-8dd1-11e9-8f85-4644c8ba4ec7.png)

Can you explain step by step how to get to this issue?

[2019-06-13 11:48] mikeller commented on #1490
#1487 has been merged.

[2019-06-13 13:52] McGiverGim opened #1492 "Some previews are broken in the OSD"
It seems I have broken some previews in the OSD when refactoring the fonts here: https://github.com/betaflight/betaflight-configurator/pull/1477

I tested it but is clear that I did it wrong. I open this issue to let others know about it. I will try to fix it asap.

[2019-06-13 13:56] McGiverGim commented on #1490
I created the PR with the preview and the warning. I can't add the alarm because it needs to be added to the MSP first.

[2019-06-13 17:20] Docteh commented on #1489
Thanks. I'll look into it and let you know. It could be

~~1) extra files~~
~~2) I'm using the x64 development version of NWJS 0.38.2~~
3) A [Byte order mark](https://en.wikipedia.org/wiki/Byte_order_mark) in main.html that gets stripped somewhere in the gulp process. But wont get stripped if someone were use rsync or robocopy.

[code]

[2019-06-13 23:53] bosbefok opened #1495 "[FR] Add functionality to get motor noise value"
In the motors tab of the configurator, add functionality to test an individual motor and receive a calculated noise value/score.

This would be useful as it would allow a user to test new motors and receive a baseline value, and then monitor how the value degrades over time after crashes and normal usage.

[2019-06-15 04:48] mikeller commented on #1495
@bosbefok: Can you describe a bit more what data you would be using to calculate the noise value, and how you would collect this data?

[2019-06-15 05:09] #1490 closed

[2019-06-15 05:42] #1489 closed

[2019-06-15 07:11] #1492 closed

[2019-06-15 09:25] bosbefok commented on #1495
Based on my limited knowledge, I'd assume it would be capturing gyro data, as well as variations to the axes. I understand this data can already be seen in the profile graph on this screen, but my suggestion is more of a standard and repeatable test - for example a 2 second test running at 50% power, 75% power, 100% power and then a score generated by some sort of average of the values.

This is d

[2019-06-16 01:23] dannydel opened #1498 "Unable to use on Win 7"
Hello,

I'm writing this for my father who is currently trying to setup betaflight onto his windows machine. He installed 10.5.1 and it was working well. But he moved some files around by mistake and it caused a weird issue where it would load up but no items and no tabs would load. All the buttons do not work either. We uninstalled it and reinstalled it to no avail. Still dead pages appeared.

Is

[2019-06-16 05:53] McGiverGim commented on #1498
Uninstall it, delete the remaining files (or the entire folder) manually and install it again. It uses only the files from the install folder, so it is doesn't work the problem is in another place.

[2019-06-17 12:22] mikeller commented on #1486
We could probably get most of what we need for 'fixed number of significant digits' 'for free' if we switched `tfp_printf()` for a more fully fledged printf implementation like https://github.com/mpaland/printf/, which would allow us to simplify a bunch of other places where we are using `tfp_printf()` now.
@etracer65, @jflyper, @ledvinap: Thoughts?

[2019-06-17 12:41] ledvinap commented on #1486
@mikeller : I created some PRs against https://github.com/mpaland/printf. I'm using it in my project too, so I'll keep it supported for some time. The changes will reduce code footprint a bit a remove some minor bugs.

One possibility is to fork the repository and use that version until it gets merged upstream ...

[2019-06-17 18:42] DieHertz opened #1500 "[Windows] Stuck at connect for FC with empty signature/manufacturer_id"
I have an FC here which multiple users (including myself can't connect to on Windows. Problem doesn't occur on macOS, and it seems to be related to these FCs having empty strings as both signature and manufacturer id.
When configuring the same FC as a unified target everything works on both Windows and macOS.

I localized it to being related to board info since configurator gets stuck at `MSP_BOAR

[2019-06-17 19:22] mikeller commented on #1500
@DieHertz: Hey, welcome back, long time no see. :-)

What target is this happening with?

Also, do you happen to be able to capture a console log of when this is happening (requires the debug version of configurator)?

[2019-06-17 19:25] mikeller commented on #1486
@ledvinap: Sounds like an even better option. Which repository / branch are these changes in?

[2019-06-17 19:33] ledvinap commented on #1486
@mikeller : I have 2 versions in my github account, one is quite minimal fixup, second is a bit deeper rewrite, but I need to think about it a bit, I'm probably overengineering it..

Give me few days ...

[2019-06-17 19:36] ledvinap commented on #1486
@mikeller : I'd prefer to remove the defines and use standard stdio names. Library functions are weak, so it should not cause any problems. And last mpaland version is almost fully standard-conforming, so it should be interchangeable for standard one  ...

[2019-06-18 06:39] DieHertz commented on #1500
It's a not yet released AIKONF7, defined in a branch here:
https://github.com/DieHertz/betaflight/tree/aikon-f7-target
https://github.com/DieHertz/betaflight/commit/37b8c0bc1cde0e1382c90d84f2ce6daad408b475

I've double and triple-checked the target files and couldn't spot the mistake, but maybe I'm missing something.

Will capture the log when I'm home.

[2019-06-18 10:17] mikeller commented on #1500
Interesting one. I have flashed your target (which looks completely ok) to a stand-in board, and this connects just fine to configurator in linux and Windows - so there seems to be at least some hardware dependency at play.

[2019-06-19 21:20] #1414 closed

[2019-06-21 08:43] Beerotor opened #1501 "MSC on mac"
I am trying to use the MSC on the beerotor f4 chip, but when I use the MSC in the CLI or even select it in betaflight, I never get to see the storage device in my mac devices, is there something I am doing wrong or is it not possible on mac? thank you

[2019-06-22 12:39] mikeller commented on #1501
This is not a configurator issue, transferring.

[2019-06-23 09:55] bizmar opened #1502 "[FR] Add Blackbox debug modes to the Blackbox tab."
Add Blackbox debug modes to the Blackbox tab. Probably as a dropdown menu. Maybe incorporate or link to[ this wiki article](https://github.com/betaflight/betaflight/wiki/Debug-Modes). And maybe order the list the same way as it's in the article, but if that prevents it from being auto generated, then go for the least amount of future maintainability. :)

Maybe make Gyro_scaled the default, instead

[2019-06-23 09:55] MichaelManz commented on #1482
@etracer65 thanks! Great advice, helped me with my DFU problems

[2019-06-23 11:49] mikeller commented on #1502
This will first have to be added to MSP in the firmware.

[2019-06-23 11:50] etracer65 commented on #1482
Closing due to lack of response for information requests.

[2019-06-23 11:50] #1482 closed

[2019-06-23 19:49] yo8aiv opened #1503 "motor direction switch in latest win GUI missing !!!"
as title says motor direction switch in GUI is missing
the interface is supposed to make life easyer right.

its annoying because when i fly low all the grass get's thrown as a salad in the camera lens so i prefer reversing motor rotation to avoid it.

![BFmotor_direction](https://user-images.githubusercontent.com/24196117/59981290-7561fb00-9601-11e9-9ae4-2ae0dff898da.jpg)

meaning i prefer having

[2019-06-23 20:01] McGiverGim commented on #1503
This is Betaflight, not iNav. Maybe wrong place to put the issue?

[2019-06-23 20:44] yo8aiv commented on #1503
sorry corrected .. sort of my way of expressing the issue (not my main language eng!!). But no its related to BF since the image is BF gui.

[2019-06-23 21:04] mikeller commented on #1503
@yo8aiv: As your screen shot shows, the option is clearly there in Betaflight configurator. I suspect that you are trying to use it with firmware that is too old, and does not support setting this option through the GUI. You have to update the firmware, or use the CLI to set this option `yaw_motors_reversed`.

[2019-06-24 16:59] etracer65 commented on #1503
Maybe you're confused by the function of this switch? It just tells the firmware that you have reversed the direction of the motors. It does not cause the motors to be reversed.

[2019-06-24 17:01] etracer65 commented on #1502
We don't want to set a default `debug_mode`. Doing so will increase the log size and cause a performance hit (particularly for things related to the gyro).

[2019-06-24 18:12] bizmar commented on #1502
Yes, it uses more resources but it also gives valuable data, and if logging with it enabled, actually affects flight performance... well, that raises big questions...

Having debug modes in the same tab will be enough for now. 😄

[2019-06-25 19:29] #1375 closed

[2019-06-25 20:37] Docteh commented on #1306
Not sure if you got a notification about PR #1473 but its added to the current development version.

Side thought: can the check-boxes be recolored? I know they could be back in the ugly days of the internet.

[2019-06-26 06:46] #1449 closed

[2019-06-26 12:34] BradB111 commented on #1139
Almost a year later and I think this would still be a brilliant idea. under the pid tuning tab there could be a 'sub tab' for community presets from https://github.com/betaflight/betaflight/wiki/Community-Presets
where a brief description of the preset can be included and its intended use case.

At the very least it could become a good base tune for similar quads. e.g. a 2" micro tune preset may n

[2019-06-27 17:38] yo8aiv commented on #1503
hello. thanks for your answers.
 yes i admit i got a bit confused with all the versions ... win and chrome.
the fw wasn't too old was 3.5.3 wich had this enabled at the time i had everything configured.
i will properly test everything and report back.

[2019-06-28 07:37] Docteh commented on #1498
Maybe clear out
`%LOCALAPPDATA%\betaflight-configurator\User Data`

Not sure about variables and Windows 7, might need to manually look for like
`C:\Users\Docteh\AppData\Local\betaflight-configurator\User Data`

[2019-06-28 13:24] #1456 closed

[2019-06-29 13:44] #1306 closed

[2019-06-29 13:47] mikeller opened #1510 "Battery calibration broken"
Reproduction:

- open the battery tab

Experienced behaviour:

The battery tab is shown, but at the bottom of it elements of the battery calibration tab are showing as well:

![image](https://user-images.githubusercontent.com/4742747/60385036-e8bfad00-9ad8-11e9-809f-4937ced4921e.png)

Expected behaviour:

The battery tab is shown without extra elements.

@IvoFPV: Can you look into this please?

[2019-06-29 15:38] IvoFPV commented on #1510
I'll have a look right now

[2019-06-30 19:57] TheIsotopes opened #1513 "'Load from file' preview window has no mouse scroll function"
As the title says, does not work the scrolling with the mouse in this preview window.

[2019-07-01 10:22] #1510 closed

[2019-07-02 06:32] Jetrell commented on #1486
@ledvinap  Do what this left open to work on the above mentioned. Or can I close it now that this issue has a fix?

[2019-07-02 07:13] TheIsotopes opened #1519 "Abortion while loading hex file"
I always have problems loading hex files.
Loading is interrupted very often, only after repeated loading the hex file is released for flashing.

In the console, I then always find this error message:
`firmware_flasher.js:385 File limit (1 MB) exceeded, aborting`

https://github.com/betaflight/betaflight-configurator/blob/c167f48c7311d77e0bbb1a675187171e3f4537fb/src/js/tabs/firmware_flasher.js#L382

[2019-07-02 08:35] McGiverGim commented on #1519
Ah! Interesting. A lot of F7 files are greater than 1Mb now... what I don't understand is that trying again it works :)

[2019-07-02 08:54] TheIsotopes commented on #1519
I did not understand either ... loading the hex file several times or restarting the configurator solve the problem

[2019-07-02 11:48] #1513 closed

[2019-07-02 12:52] TheIsotopes commented on #1519
Here you can see an complete console output ... you can see three tries then a reconnect and also three tries until it works

[code]

[2019-07-02 13:44] McGiverGim commented on #1519
Is strange, this code is only executed when loading a local file (not an internet one) and it lets to me flash it after all...

[2019-07-02 13:54] McGiverGim commented on #1519
Ok, it seems that this is readed by chunks, so sometimes it reads the file completely, it detects the file is bigger than expected, and aborts too late, the file is in memory. The flash process only detects if the file has been readed completely or not to start flashing.
Maybe in your case, the chunk is different each time and sometimes it aborts and sometimes not.
I will try to fix it, giving mor

[2019-07-03 22:50] Docteh commented on #1264
`console.error(info);`

This isn't happening whenever I want it to :(
Instead of a nice json object I get this to play with in the console:
![image](https://user-images.githubusercontent.com/190571/60629339-3292e680-9daa-11e9-99d4-b9ca5984a585.png)

[2019-07-04 06:49] McGiverGim commented on #1264
It shows the complete object, including methods, definition, etc. What does the `info.toString()` method print?

[2019-07-04 07:05] Docteh commented on #1264
Turns out the complete object details are available there if you open the console before having a serial error. I was consistently opening the console after having a serial error.

Console open before typing save on CLI, works first time:
![image](https://user-images.githubusercontent.com/190571/60645834-ad7df080-9dee-11e9-8ae7-f69c19f4ed18.png)

I get this if I `save` twice in the CLI, and then o

[2019-07-04 19:51] #1519 closed

[2019-07-04 20:42] moge11 opened #1524 "How to flash BF on STM32F411 Discovery"
Hello,
I'm in possession of a STM32F411 Discovery board and I saw that there exists a  BF firmware for it, so I thought why not try to use it as a FC, but I'm now trying since two days to upload BF on my board without success. I always get the same error: No response from the boot loader. Programming failed. I followed the official instructions on how to flash it, which are a bit spare for this bo

[2019-07-04 23:56] mikeller commented on #1524
@moge11: You will have to flash with the ST-Link utility (https://www.st.com/en/development-tools/stsw-link004.html) at least for the first time, or you will have to put the STM32F411 into DFU mode by connecting the BOOT0 pin to VCC, and then use the Betaflight configurator.

[2019-07-05 06:21] moge11 commented on #1524
@mikeller: and where do i get the .hex or binary file,whuch is needed for flashing?

[2019-07-05 07:06] McGiverGim commented on #978
This issue is closed but I only want to let a message to say that this was fixed by Crowdin.

[2019-07-05 08:51] jflyper commented on #1524
Goto Betaflight github repo, and select Releases under code.

[2019-07-06 05:55] edfeeoc opened #1527 "Accelerometer trimming for Tricopter by stick command"
Accelerometer trimming for Tricopter by stick command not responding while other stick command do.

[2019-07-08 19:57] #1264 closed

[2019-07-12 19:52] #1524 closed

[2019-07-12 19:56] moge11 opened #1532 "Connect F411 to iA6"
Hello,
I'm new to drones and my drone parts arrive in a couple of weeks, but I'd like to train in the meantime. I saw that you can install Betaflight on the F411 Discovery board and because I had one lying around, I thought I, why not try it. But I'm not able to connect my iA6 receiver to the board.

Thanks in advance

[2019-07-13 01:33] mikeller commented on #1532
@moge11: GitHub is for discussion and bug reports around _development_ of Betaflight. For help with configuring it, join our [Facebook group](https://www.facebook.com/groups/betaflightgroup/), [Slack](https://slack.betaflight.com/), or search in online resources like RCGroups.

[2019-07-13 01:34] #1532 closed

[2019-07-14 08:09] laurentopia opened #1535 "rssi_channel resets to 0"
The receiver is a FS-A8S, soldered to a CLRacing f4 mini via rx4 set in ibus mode.
RSSI_ADC is on
The receiver tab shows that Aux10 is at rssi.
When I toggle RSSI Channel to 10 with the UI or the CLI, after 'save' it reverts back to 0

status and diff all
https://pastebin.com/Fb0EfnzL

[2019-07-14 08:21] laurentopia commented on #1535
solution switch RSSI_ADC to off
I suggest either providing feedback for the conflict or removing RSSI_ADC from the configurator and doing it cli only as it seems far less common

[2019-07-14 08:21] #1535 closed

[2019-07-17 19:36] #1484 closed

[2019-07-18 04:15] spatzengr opened #1538 "Gyro Notch Filter cutoff to 100Hz Cutoff reverts to Center Frequency -1 when saving"
Related to https://github.com/betaflight/betaflight-configurator/issues/1476.  If you set the Notch Center to 99 or below, all is well.  However, if exactly 100hz for the center, it switches the cutoff to 99hz.

This is with BF 4.0.4 and Master as of July 2019.

Another reference (not sure if applicable): https://github.com/betaflight/betaflight-configurator/commit/e9d83f62a2b4f0a3ef72cf2ec6c0961f

[2019-07-19 09:26] Docteh commented on #1538
Hi, I forgot to ask on slack if you had tried anything newer than the 10.5.1 configurator.
I'm pretty sure this got fixed in the master build of the configurator back in april.

Since there is no windows build and I'm not a fan of forcing the chromeos version to run as an extension I gave the following a shot:

* https://nwjs.io/ Grab a normal build, unzip it somewhere
* https://ci.betaflight.tech

[2019-07-22 12:08] yo8aiv commented on #1503
Just a suggestion.  I knew that .. but may of my friends didn't . so can a HINT be added to that switch with this/your  phrase :

[2019-07-22 12:08] #1503 closed

[2019-07-22 18:55] RRAlex opened #1541 "10.5.1 on Ubuntu 18.04: Firefox goes to 100% CPU, on many process, as soon as betaflight-configurator starts"
This one sounds crazy and doesn't make sense to me, but is 100% reproducible here:

If I start betaflight-configurator 10.5.1 via sudo (as root), my normal user's Firefox's (68.0) process start acting up and consume a lot of CPU for like 5 minutes, on like 10+ sub-process.
This happens even if I have quit betaflight-configurator right after starting it...

I tested repeatedly and same result.
I'm

[2019-07-22 19:58] mikeller commented on #1541
Some questions:
- can you specify a bit closer what OS / version you are using;
- what version of configurator (.zip / .deb / .rpm / Chrome Web app) are you using;
- why are you trying to run configurator as root - this seems to be wrong in any case.

[2019-07-23 12:41] mikeller commented on #1538
@Docteh:

Any reason for that?

Albeit Google has announced the sunsetting of Chrome web apps for non-ChromeOS a while back, and has stopped accepting new Chrome web apps for non-ChromeOS in their web store, support for them in Chrome itself is still going strong. Seeing that they managed to get some foothold with Chromebooks in schools (and taking a chunk out of a segment previously often ruled b

[2019-07-23 14:22] RRAlex commented on #1541
[code]
And I'm running as root to access ttyACM0 in a lazy manner (yes I could add myself to the right group) :)

[2019-07-24 03:12] jaysfann opened #1543 "Cannot get into receiver tab with Crossfire"
I upgraded my Betaflight Configurator and since I cant get the receiver tab to work with battery plugged into my quad using crossfire.
Im using a DYS F4 and F4pro board. Odd thing is that it worked on an older configurator and I cant remember which one it was.
I also tried reflashing to the latest firmware and it didnt help.
Another odd thing is that I have a quad with a different board that runs

[2019-07-24 20:00] Docteh commented on #1538
Two things really bothered me
* Chrome complained about having a developer extension loaded every time I opened it.

* I had to save a bookmark to chrome://apps because they took away other references to it.

Although looking again I could have saved a link to the app on my desktop. But maybe one day they'll break those :-/

On a related note, there has been some recent movement on accessing seria

[2019-07-25 10:46] #1500 closed

[2019-07-25 11:39] mikeller commented on #1541
Tried running Firefox while starting Betaflight configurator (not as root), and this is working just fine.
Running anything that does not need privileged access as root is wrong, much less something potentially as exploitable as a NW.js application, you should just fix this, and run stuff the way it is supposed to be run.
Closing this.

[2019-07-25 11:39] #1541 closed

[2019-07-25 11:51] mikeller commented on #1538
@Docteh: I am using Chromium (on Linux), and it seems to have none of these two issues. :grin:

[2019-07-25 18:43] RRAlex commented on #1541
@mikeller ok, but how come the package is not working as a user then?
What is needed that it's not doing on install?

[2019-07-25 23:49] Docteh commented on #1543
Are you able to load the receiver tab without a battery?

What is the version of the betaflight configurator that you are using right now, like are you running `10.5.1` or did you upgrade to the `10.6.0` version that is currently under development?

Also what is running on the board? the output of `version` what is needed there.

[2019-07-26 22:54] mikeller commented on #1541
@RRAlex: The package is working just fine as a user.
If the user you are using does not have the permissions required to access the device that the flight controller is connected as then the system you are using isn't properly configured for this to work, but this is not a problem of the configurator package.

Maybe you should read the instructions first, and then complain: https://github.com/beta

[2019-07-28 15:59] dogjutsu opened #1546 "feature request: P/D ratio link control for pitch/roll axises"
The current consensus on PID tuning is that once you "find" a good P/D ratio you keep that ratio then raise both in proportion to deal with propwash and such (re: UAV Tech tuning videos).

It would be quite convenient if there were a GUI control for Roll and Pitch that would "link" the current P/D ratio so as you change one, the other also changes to maintain the ratio at which the ratio link was

[2019-07-29 15:16] RRAlex opened #1548 "10.5.1 on Ubuntu 18.04: Not getting left side menu nor welcome screen content"
As a follow up to #1541, I'm attaching what happens when I start betaflight-operator as a user that has the correct dialout group setup:

![betaflight-operator-user-issue](https://user-images.githubusercontent.com/3272818/62059657-a382be00-b1f1-11e9-9bf6-2082e9288a5f.png)

Knowing that it works as root, there has to be something else missing in term of access or other setting that makes the menu a

[2019-07-29 17:55] mikeller commented on #1548
@RRAlex: Can you please post logs in text form instead of as screenshots? Nobody wants to type your error messages in order to google them.

[2019-07-30 03:22] Docteh commented on #1548
Where exactly did you get that from? Is this the .deb or .rpm on the releases tab?

I get a screen like that when I break the javascript files, or forget to provide a version.json.

[2019-07-30 20:27] mikeller commented on #1481
@bizmar: Has this been addressed in the updates to autocomplete?

[2019-07-30 22:27] bizmar commented on #1481
i'm not aware that any of these have been adressed.

[2019-07-31 07:04] Cleric-K commented on #1481
No, sorry, I haven't had the time to experiment with this yet.

[2019-08-01 10:36] Cleric-K commented on #1481
About problem "2" I think it is not worth the effort. Trying to cache keystrokes while the input being disabled could turn out to be quite an adventure :D

[2019-08-01 13:41] bizmar commented on #1481
Using it now again for a few days. The mouse position issue gets me a lot. I'm fine with the second one. Thanks for looking into it.

I use Debug modes a lot. Having them not be in the same order is slightly confusing. But what would really make this feature awsome, would be, if it would weigh the results based on frequency of use. So the long debug list would have my most used modes up top. I app

[2019-08-01 14:39] Cleric-K commented on #1481
@bizmar I guess you have seen #1552 that addresses the mouse thing. You can give it a test.

About the debug modes - sorting by use will add a ton of complexity and I don't really see the point.

Wanting the modes to be on top makes sense only if you want to reach them more quickly with `down` arrow. But writing just 2-3 letters of _any_ part of the mode name will usually filter the list up to the

[2019-08-01 15:08] bizmar commented on #1481
The thing is, that the debug names are often confusing and hard to remember for me, I actually kinda remember them by Location in the get command readout. I know this is specific to me, so feel free to ignore. Thanks a lot for fixing the mouse position edge-case.

[2019-08-01 17:54] #1481 closed

[2019-08-02 15:30] RRAlex commented on #1548
It's the deb from github, nothing out of the ordinary and didn't modify anything.

[2019-08-02 23:39] Docteh commented on #1548
When I do
/opt/betaflight/betaflight-configurator/betaflight-configurator --password-store=basic

I only get an error about the component_loader, but the app does load.

![image](https://user-images.githubusercontent.com/190571/62403629-76147800-b543-11e9-912f-c929ca838b6e.png)

I'd try removing the following
`~/.config/betaflight/betaflight-configurator`
`~/.cache/betaflight/betaflight-configurat

[2019-08-03 00:06] mikeller commented on #1548
@RRAlex: Googling your error message returns https://simpleit.rocks/linux/ubuntu/fixing-common-google-chrome-gpu-process-error-message-in-linux/ as the top result. I'd try using the advice given there, and run `/opt/betaflight/betaflight-configurator/betaflight-configurator --disable-gpu --disable-software-rasterizer`. It looks like your hardware does not have a GPU.

[2019-08-04 08:40] #1498 closed

[2019-08-04 22:32] RRAlex commented on #1548
That didn't work, but interestingly I have the same behaviour (user not working, root working) on a Mint 19 machine. There must be something beside the dialout group that is missing...

[2019-08-04 23:30] Docteh commented on #1548
Does chrome itself work on these computers?

If I had this happen, I'd copy /opt/betaflight/betaflight-configurator to somewhere in my user dir

Then grab an SDK build of NWJS https://nwjs.io/downloads/ and drop that on top of the copy of the configurator, and then try running the binary. I'm on windows today and its `nw.exe` so I'd guess it's just `nw`. Then when you're looking at that screen tha

[2019-08-05 02:23] RRAlex commented on #1548
Thanks for the trick :)

So, I'm getting this on the nwjs console:
`main.html:1 Error handling response: TypeError: Cannot read property 'userLanguageSelect' of undefined at chrome-extension://ajdoecjhplhoahggfmgflfnlechcljoc/js/localization.js:122:20`

... and:
`main.html:1 Unchecked runtime.lastError: IO error: .../000007.log: Unable to create sequential file (ChromeMethodBFE: 7::NewSequentialFi

[2019-08-05 05:36] McGiverGim commented on #1548
It seems the problem is here:
https://github.com/betaflight/betaflight-configurator/blob/0f04022b0c027930b6d662c76377b82f03c82605/src/js/localization.js#L122

But I don't know why exactly.

[2019-08-05 05:39] McGiverGim commented on #1548
You can change this for

`if (result && result.userLanguageSelect)`

And it will work. Can you test it?

[2019-08-05 08:03] mikeller commented on #1548
@RRAlex: This is highly odd. Can you describe what hardware (CPU, graphics adapter) it is that you are experiencing these problems on?

[2019-08-05 08:05] mikeller commented on #1486
@ledvinap: Is https://github.com/mpaland/printf now ready to be pulled into Betaflight?

[2019-08-05 16:45] bizmar opened #1557 "[FR] Display Motor RPM in the Motors tab"
Use ESC telemetry or Dshot RPM Feedback to display the current RPM per motor.
Useful for diagnostics purposes, and for determining a good idle RPM for the new Dynamic Idle feature.

[2019-08-05 17:21] McGiverGim commented on #1557
Is there some MSP command that returns this value? If true, I can add it without problem.

[2019-08-05 19:09] joelucid commented on #1557
I don't think there is but it could be added easily. The info is available in rpm_filter.c where it gets set as rpm_filter debug. Would only need to get inverted into rpm from rps - if that's what we really want.

[2019-08-05 21:51] mikeller commented on #1557
I think this could be valuable as a verification that bidirectional Dshot is working correctly outside of CLI.

[2019-08-05 22:42] RRAlex commented on #1548
So... I managed to fix it.
One of the file in ~/.config/betaflight-configurator/ wasn't owned by my user because of previous attempts.
But I still thing there is something to fix:

When it started I was seeing a popup go under the (then broken) loading window and it didn't stay open long enough to be readable. It wasn't there when I alt-tab or minimized the other window.
So using a desktop recorde

[2019-08-05 22:59] mikeller commented on #1548
@RRAlex: Ha, glad to hear that it's working. Getting messed up permissions on shared user-level config / cache files is one reason why it is not advisable to run pretty much anything as root in unix.

The disappearing error message that you are getting is usually caused by your preferences having been written by a newer version of NW.js, probably when you were trying out things in order to get thi

[2019-08-06 18:18] RRAlex commented on #1548
Now that I know, I'll fix my other machine by chmod-ing it.
But that said, if someone else hits a corrupt/permission problem in that folder, (Which I had before the NW.js installation) they also might not be able to read the popup in time?
I'll close the issue, but this might need some testing for the warning to work as intended.
Cheers! :)

[2019-08-06 18:18] #1548 closed

[2019-08-07 10:21] mikeller commented on #1548
@RRAlex: The warning is generated by NW.js, so you'll have to raise this with the NW.js maintainers to get it fixed.

[2019-08-07 16:42] Mode-1 opened #1562 "Configurator hang up since build #247"
Hi, i'm using the betaflight-configurator_10.6.0_chromeos.zip-content with Chrome running at Win 7  64. No problem untill build #246. Since then the configurator hangs up showing only parts of the starting screen :
![Configurator not working V247](https://user-images.githubusercontent.com/36391977/62640918-d9871700-b942-11e9-9bef-9627c9d86b0a.PNG)

It looks like this when working until Build #246:

[2019-08-07 18:50] ledevpole opened #1563 "Failed to open serial port window10"
*Hi!*
# Failed to open serial port
## Trying to update my firmware i have this error happennig: Failed to open serial port
* For normal configuration everythings fine and works.

* Here are the logs:( sorry it's in french)
[code]
![logo](https://user-images.githubusercontent.com/34954485/62648783-6635d300-b94b-11e9-885e-857299ef93d8.png "2019-08-07 18_41_24-Betaflight Configurator")

### If someon

[2019-08-07 19:52] Docteh commented on #1562
Hi, I'll get that fixed in https://github.com/betaflight/betaflight-configurator/pull/1560

[2019-08-07 19:53] McGiverGim commented on #1563
I don't see any port selected. When you connect the FC it must appear in the list of ports and you only need to select it and connect. I don't see that you have selected it

[2019-08-08 09:43] ledevpole commented on #1563
Hi!

When clicking on the flash firmware button it tries to connect to
"dev/000something.." but fail to open it when i ask for update. when
connecting for config it finds all alone the port.
I can send you a screenshot tonight if needed :P
Thank you for your quick response!

Yours sincerely

Paul

Le mer. 7 août 2019 à 21:53, Míguel Ángel Mulero Martínez <
notifications@github.com> a écrit :

[2019-08-08 10:11] mikeller commented on #1563
@ledevpole: It looks like the device drivers were not installed on your PC. Did you follow the instructions shown on the page when you start Betaflight configurator?

[2019-08-08 10:28] ledevpole commented on #1563
Witch instructions? Nothing showed up. It asked me to download the
firmware, so i did it. it asked me to update my version of
betaflight-configurator so i did so.
 Do you mean that i have to download the drivers CP210XP and STM USB VCP
and ZADIG? If that so no i didn't. 😥
..

Le jeu. 8 août 2019 à 12:11, Michael Keller <notifications@github.com> a
écrit :

[2019-08-09 05:51] Docteh commented on #1563
Are the CP210x Drivers just for F1 and F3 boards? I wonder if we can word that without being too confusing.

[2019-08-09 07:17] McGiverGim commented on #1563
If we do it, maybe is better to divide the text into several little texts. Maybe something like text_X being X a number and the code only has to look in a loop until the message does not exist.

This text is very big, with a lot of HTML, and each change makes a headache to all the translators to let the HTML tags in place without forgot any.

[2019-08-09 12:51] kenkamm commented on #1134
@dthubereng any luck yet? This would be really helpful. ;)

[2019-08-09 13:24] dthubereng commented on #1134
@kenkamm I am so sorry! Life got the better of me these last few months and I've started doing a lot of extra programming at work (so home time has been spent with the family). I haven't forgotten about this, though. Still in my inbox reminding me on an almost daily basis. Let me see if I can get back into it this weekend and try to make some headway on it. I may have some questions about implemen

[2019-08-09 13:27] kenkamm commented on #1134
@dthubereng certainly no need to apologize. Not like I can code it myself! I don’t have those kinds of skills. So, thanks in advance if you do find some time to implement it. If you don’t have time, no worries.

[2019-08-09 23:35] #1562 closed

[2019-08-09 23:43] mikeller commented on #1563
@Docteh:

[code]

So amongst the supported boards in 4.1, there is only the KISSFCV2F7 left that does not use VCP (and that one is not included in our releases as it uses a custom boot loader).
I think it is time to rework the wording make it clear that the CP210x drivers are only needed for legacy targets and the KISSFCV2F7.

[2019-08-10 14:56] atomgomba opened #1572 "Receiver tab is broken"
I'm using the Configurator on Ubuntu from the sources and cannot get the Receiver tab to work after commit 426e753b538103c94f8d92d228b24985d1850fd7. Channel values are not displayed and the bars aren't moving either. The things I've tried:

Complete rebuild:

[code]

Complete rebuild and deleting contents of the local storage:

[code]

Only dropping back to commit 28d9bc36ecd71c2b1f9935d8ed03705e3

[2019-08-10 19:26] Docteh commented on #1572
Hi, I've got a pending PR for this: https://github.com/betaflight/betaflight-configurator/pull/1570

Can you double check for me? if you scroll down to the bottom, and select a different refresh rate, the tab should start to update, no need for the patch.

#1570 moves the initial kickoff of updating the graphs to be below where they are defined.

[2019-08-15 00:47] #1502 closed

[2019-08-18 17:34] m4R-T1n opened #1586 "Led Overlay, Larson Scanner reversed direction label:"Feature+Request""
please can someone add an option to invert the running direction.
so you can adress 2 led strip next to each other running running mirrored.
like this :
![grafik](https://user-images.githubusercontent.com/54242887/63228061-4fff0100-c1ee-11e9-9b42-243898aa13bc.png)
thanks

[2019-08-19 11:22] mikeller commented on #1586
@m4R-T1n: I really can't see why there would be need for this, if you can simply wire your strips the right way to make this work:

![63228061-4fff0100-c1ee-11e9-9b42-243898aa13bc](https://user-images.githubusercontent.com/4742747/63261706-39cd6f80-c2d8-11e9-9cbe-ee4becec2c30.png)

[2019-08-19 11:37] m4R-T1n commented on #1586
not really, i can wire it like your drawing but then you have to rotate the led strip 180° to run the other way. but then the led stip has the mounting holes/ and chips mirrored.
hope you understand the problem.
and if i wire like this booth strips will run starting from right to left

[2019-08-21 14:31] dthubereng commented on #1134
Well, it doesn't look like I'm going to be able to get to this for a bit. It'll stay on my radar and if I get a free weekend, I'll def look at it if someone else hasn't done something. I just can't seem to etch out a solid segment of time to give it the attention it needs. I'll let you know for sure if I do.
    On Friday, August 9, 2019, 08:27:09 AM CDT, kenkamm <notifications@github.com> wrote:

[2019-08-21 19:08] hydra opened #1592 "Sections on VTX page not correctly aligned."
![image](https://user-images.githubusercontent.com/57075/63460161-42e44b00-c456-11e9-87bd-050bd3e2e670.png)

I had a quick look at the HTML and it seems that the html is using a table layout inappropriately.

It should be using the be using the `.cf_column` and related classes, refer to the gps.html / help.html / etc.

The two divs inside the first row have percentage widths which do not use 100%

[2019-08-21 19:27] hydra opened #1593 "Storage related exceptions on firmware flasher."
With recent code and latest master as of today I'm seeing this stacktrace which needs investigation.  It happens when clicking on the firmware flasher button.

[code]

OS: Windows 10 x64.

[2019-08-21 19:34] hydra opened #1594 "Refresh rate settings on 'Sensors' page are lost."
Usual behaviour:
* Refresh rate settings for Gyro, Baro, Debug, etc are changed from their defaults.
* Going to another page/tab and then back to the sensor shows the recently changes refresh rates.

Current behaviour in `master`:
* Refresh rate settings for Gyro, Baro, Debug, etc are changed from their defaults.
* Going to another page/tab and then back to the sensor shows the _default_ refresh r

[2019-08-21 19:36] McGiverGim commented on #1592
I'm not too sure about all but I will look into it when I have some time.

[2019-08-21 19:42] hydra commented on #1594
I `git bisect`ed this:

[2019-08-21 19:43] hydra commented on #1594
@Docteh can you investigate?

[2019-08-21 20:39] McGiverGim commented on #1593
@Docteh seems again https://github.com/betaflight/betaflight-configurator/pull/1568 ?

[2019-08-21 20:47] Docteh commented on #1593
@McGiverGim I thought I got that in the follow up #1583

[2019-08-21 20:53] Docteh commented on #1593
Yeah, line 107 is no longer `.error`
https://github.com/betaflight/betaflight-configurator/blob/c3a492f9b8ac7abc755ecb273040838bb8e76a6e/src/js/jenkins_loader.js#L107-L110

[2019-08-21 21:04] McGiverGim commented on #1593
@hydra are you sure you are using the latest master?

[2019-08-21 21:20] mikeller commented on #1593
@hydra: When reporting a bug against a development build, can you please post the changeset id that is giving you the bug? As we've discussed before, not doing so means you are wasting others' time by making them guess at what version is reproducing the problem.

[2019-08-22 18:25] hydra commented on #1593
@McGiverGim yes, as of the exact time/date that i posted the issue.

@mikeller sure, will try and remember.

[2019-08-22 18:25] hydra commented on #1593
finger slipped on mobile.... reopened

[2019-08-22 18:59] McGiverGim commented on #1593
@hydra does not seem possible. Four days ago was committed a code that changed the error method for a fail method. Can you look at the line posted by @Docteh to see if you have a error (that appears in your stack trace) or a fail (the correct code)?

[2019-08-23 21:50] #1593 closed

[2019-08-24 14:56] awolf78 opened #1596 "Use MSP_MULTIPLE_MSP in configurator for faster connections"
With `MSP_MULTIPLE_MSP` you can retrieve multiple MSPs at once which greatly speeds up communication - versus a lot of ping pong when requesting and receiving MSPs slowed down by the BF scheduler. My Java script skills and knowledge about the configurator are probably not sufficient to implement this change myself, but should be easy enough for @McGiverGim ;)
If you request too many MSPs in the `M

[2019-08-24 15:11] IllusionFpv opened #1597 "Motors stop after entering in CLI while running (for check dshot telemetry)"
The issue seems related https://github.com/betaflight/betaflight-configurator/pull/1329, `dump` and `get` commands stop motors.

[2019-08-24 22:14] mikeller commented on #1597
@IllusionFpv: Good point - #1329 introduced probing of CLI commands that is run when opening the CLI tab - looks like this probing is now causing the motors to stop. There are two possible workarounds:
- disable 'Advanced CLI AutoComplete' in the gear menu top right in configurator;
- when in CLI, use the `motor <motor number> <value>` command to spin the motors (`<motor number>` 0 based, 255 = al

[2019-08-24 23:12] #1594 closed

[2019-08-25 19:53] atomgomba commented on #1572
It is fine now. Thanks!

[2019-08-25 19:53] #1572 closed

[2019-08-26 06:39] McGiverGim commented on #1596
It seems a good idea, but I can't see an easy way to do it if we don't know the buffer size. There is always a solution, but it will be a complicated wrapper about the actual code and I don't know if we will note some benefit. I will give it a test when I get some time, or maybe others can see a better solution.

[2019-08-26 12:10] awolf78 commented on #1596
Well that is the trick with `MSP_MULTIPLE_MSP`: You don't need to know the buffer size. It will simply return as many MSPs as it can fit in the TX buffer. On the client (configurator side) you would have to send another request for the missing ones. As the buffers on the BF side get larger you won't have to do this anymore.
I'm using `MSP_MULTIPLE_MSP` in ImpulseOSD and it has sped up things signi

[2019-08-26 20:19] mikeller commented on #1548
@RRAlex: Please read https://github.com/betaflight/betaflight-configurator/issues/1548#issuecomment-519036808.

[2019-08-26 20:24] mikeller commented on #1596
@McGiverGim: I don't think that the additional effort required to make this work will be worthwhile for the one-off MSP requests when opening a new tab, but it might be attractive for the periodic update calls when connected, like the ones to get load, battery voltage, motor speed...

[2019-08-26 22:20] serran0 opened #1601 "Building a release with Node 11.X fails"
When running yarn install and/or yarn gulp release --win32 the following error started recently to occur:

Seems it should work if engine node in package.json was allowed above 10.x
Like this:

"engines": {
    "node": ">=10.x"
  }

[2019-08-26 22:23] mikeller commented on #1601
The tested node version for this 10. Just use this version.

[2019-08-27 08:22] serran0 commented on #1601
OK

[2019-08-27 08:22] #1601 closed

[2019-08-28 05:28] mikeller commented on #1603
Looks like the existing warning is not strong enough:

[code]

Maybe we could check if the flight controller reports that a battery is connected, and if so display a warning pop-up before entering the CLI tab?

[2019-08-28 10:53] McGiverGim commented on #1592
@hydra I've taken a look to this. It is not as easy, at least in the way it is now.

The 60% / 30% is a way to give it a little of room. I like to give some space if possible to the elements in the page. I think it looks better. I can use some margin or similar but this is another way to do it.

About the minimum for the table is necessary because it is a hack to allow the table be bigger than the

[2019-08-28 13:18] McGiverGim commented on #1596
Yes, this will be a useful place. But I don't know how to integrate it in a clean way... the command will return a chunk of data, and they must be dumped in the MSP data structures that we use for each command (and they are unique for the app, not for the command). All of this having in mind that the actual system works in an asynchronous way, so other commands can ask for info at the same time.

[2019-08-29 08:04] McGiverGim commented on #1596
@awolf78 I'm trying to implement "as experimental feature" the MSP_MULTIPLE_MSP command, but looking at the firmware code I'm not too sure what data is sent and received.

If I'm not wrong, it sends a list of MSP codes as input, nothing more, as uint8 values.

What do I receive? The chunk of data for all commands one after other in the same chunk? Is there some prefix byte with the size of each co

[2019-08-29 11:26] awolf78 commented on #1596
@McGiverGim

1. You send a list of MSPs with no separator to BF as uint8_t values
2. You receive in the payload: the length of the corresponding MSP followed by the payload of the corresponding MSP
3. If the MSP does not exist it will return 0 as the length
4. If all the MSPs you requested do not fit in the TX buffer on the BF side it will only return the ones that fit.

[2019-08-29 13:25] mikeller commented on #1596
@McGiverGim: Before you put too much more work into this now, I am not sure if now is a good time to look into making a fundamental change like this, considering that we are relatively close to a release - it's probably better to postpone this until after we've released configurator. This is even more so the case for the next configurator release as this will already bring Unified Target and VTX t

[2019-08-29 13:28] McGiverGim commented on #1596
I'm only playing a little with it.. I think I will push a PR with the command added but without using it, for a future. And add this use after the release.

[2019-08-29 14:56] McGiverGim commented on #1596
First version created, PR pushed... :)

[2019-08-29 15:53] spatzengr opened #1606 "Blank Fields in Video Transmitter tab"
See https://www.screencast.com/t/tekdJgh8KE for details on the issues I'm having.

![image](https://user-images.githubusercontent.com/25570978/63955907-7bd28000-ca53-11e9-8be8-23ffe87f46c8.png)

[2019-08-29 15:55] spatzengr commented on #1538
This issue appears to be resolved as of commit 9d6f35c7 (Configurator 10.6.0 nightly build testing).

[2019-08-29 17:23] McGiverGim commented on #1606
Are you on latest master? If yes, can you post the diff that produces the problem?

[2019-08-29 17:32] IvoFPV commented on #1606
@spatzengr Could you try setting the vtx table via CLI before setting your smartaudio port? There seems to be an issue here. One guy on Slack had this happen and that fixed it.

[2019-08-29 17:42] IvoFPV commented on #1606
@spatzengr Oh, you are running the firmware nightly that doesn't have MSP support for this. You must run nightly build >1817

[2019-08-29 18:03] awolf78 commented on #1596
Glad to hear you could make use of it @McGiverGim!

[2019-08-29 18:03] #1596 closed

[2019-08-31 17:58] atomgomba opened #1608 "Video Transmitter tab shows "Not configured" when SA enabled on SS port"
On the Video transmitter tab I get the "Device not configured" notice when SmartAudio is enabled on soft serial. When I use a hardware UART it shows up okay.

[2019-08-31 20:56] McGiverGim commented on #1608
I think this is a firmware issue. The Configurator shows the info that the MSP command returns.
@mikeller, can you move this to the firmware part?
@atomgomba can you attach a diff of the problem?

[2019-08-31 21:14] atomgomba commented on #1608
Yes, so in this config UART3 is mapped to SERIAL_TX 12 and SmartAudio is enabled on SOFTSERIAL2:

[code]

[2019-08-31 23:04] mikeller commented on #1608
@atomgomba: So just to make sure I understand you right: You are saying that when you configure SmartAudio on softserial with the configuration above, it is working, but it shows as 'Device not configured' in the Video Transmitter tab?

@McGiverGim: Not yet sure if this is firmware or configurator, leaving it here for now.

[2019-09-01 00:27] #1543 closed

[2019-09-01 06:54] McGiverGim commented on #1608
Maybe I must start with the basic. @atomgomba the SmartAudio is working in softserial out of the Configurator? You can change channels with the OSD, lua or CLI commands?

[2019-09-01 11:48] atomgomba commented on #1608
No, I cannot get this Unify Pro Nano to work with my Omnibus F4 V3. I accidentally dropped this VTX into sea water, but it is working great as a VTX ever since. I'm not sure if possibly only the circuitry for Smart Audio got damaged, but this is not the point here.
The point is when I select UART3 as port for SA, I get the Video transmitter tab fully displayed, including a status box that says "De

[2019-09-01 16:56] McGiverGim commented on #1608
@etracer65 did you some test with softserial?

The message that you say appears when you not configure any VTX device. It does not matter if you have it connected or not.

Another thing is the device ready, it needs the device connected and powered if I'm not wrong.

[2019-09-01 17:07] etracer65 commented on #1608
No, I don't have any rigs set up with softserial and SA.

[2019-09-01 17:12] jflyper opened #1609 "MSP RX control sticks window does not reflect dark mode setting"
![betaflight-configurator_と_Betaflight_Configurator](https://user-images.githubusercontent.com/14850998/64079806-0a325480-cd27-11e9-95b3-5a9385e44181.jpg)

[2019-09-01 17:29] McGiverGim commented on #1608
Yes, but for example simply enabling a TX as SmartAudio, without any VTX device connected, the VTX Table appears because the MSP returns a SmartAudio device. It seems that with SoftSerial this does not happen. I'm out of home so I can test it now.

[2019-09-01 17:34] IvoFPV commented on #1609
I'll take a look.

[2019-09-02 07:05] McGiverGim commented on #1608
@etracer65 I have tried to configure it in a SoftSerial on an OMNIBUSF4SD, with this result:
- Using as softserial a TX: it work
- Using as softserial another pin (C8 in this case): the MSP command does not detect the SmartAudio configuration. Maybe the problem is the pin, that is not supported for that, but the SoftSerial port appears in the port tab and I can assign the SmartAudio to it.

[2019-09-02 07:21] mikeller commented on #1608
Ok, I found one case where I can reproduce it as not working:
If resources are configured as softserial 2, but none as softserial 1, then softserial 2 appears in the ports list, and can be assigned to SmartAudio, but the VTX tab does not work I have not tested if this will work to control a VTX, but it is broken anyway, softserial 2 should either not show up at all (like what happens for say motor

[2019-09-02 10:29] atomgomba commented on #1608
@mikeller OMNIBUSF4SD has three UART's, UART1, UART3 and UART6. Only UART6 has inverter, so I'm using it for SBUS. I have UART1 (aka. SOFTSERIAL1) configured for s.port telemetry, thus I wanted to use UART3 (aka. SOFTSERIAL2) for SmartAudio. So in my case both soft serials were set.

[2019-09-02 10:45] mikeller commented on #1608
@atomgomba: I did not mean to imply that my reproduction was what you are getting - when I try that then everything seems to be working for me. I just supplied the information that I found to help narrow this down.

[2019-09-02 10:52] McGiverGim commented on #1608
@atomgomba I tested your diff and it seems to work for me. I can see the VTX tab with the VTX Table without problem.

It appears the `Device Ready: No` but I don't have any VTX connected.

What versions of firmware and Configurator are you using? Latest master on both?

[2019-09-02 10:59] atomgomba commented on #1608
@McGiverGim A very recent CI build. It is shown in the diff above: Aug 26 2019 / 20:58:05 (2b1d25639). And I'm running the Configurator from git master using yarn.

[2019-09-02 11:06] atomgomba commented on #1608
@McGiverGim I've just noticed my diff was wrong. In it there is SmartAudio enabled on both UART3 and SOFTSERIAL2. Sorry, it is my fault! You have to uncheck SA for UART3 on Ports tab and have it enabled only on SOFTSERIAL2. I could reproduce it in this moment using same version of firmware and latest Configurator master.

[2019-09-02 11:30] mikeller commented on #1608
@atomgomba: Yes, that is expected behaviour - we do not catch / fix the problem if a VTX protocol is configured twice, but it won't work.

[2019-09-02 11:45] atomgomba commented on #1608
@mikeller Oh yes, what I tried to express was that @McGiverGim couldn't reproduce the error in question because of my badly prepared diff. It seems to me it's Monday.

[2019-09-03 09:04] McGiverGim commented on #1608
Yes, exactly. With the "new" diff the result is the same that I had before: it seems it does not detect if SmartAudio is present at some SoftSerial port.
I suppose the firmware only searchs for it at standard UART ports at least in the data returned in the MSP command. To me it seems a bug of the firmware, but @mikeller and @etracer65 must confirm that.

[2019-09-03 11:05] etracer65 commented on #1608
The `deviceIsReady` flag was already in the `MSP_VTX_CONFIG` message - it wasn't added for `vtxtable` support. So there may be some deeper problem with:
[code]
in regards to vtx control configured on softserial.

[2019-09-03 11:06] etracer65 commented on #1608
Or deeper with the `vtxDevice` not being configured.
[code]

[2019-09-03 11:49] McGiverGim commented on #1608
Maybe I have explained it too bad... sorry... the problem is not the `deviceIsReady` flag, is the `vtx_type`, that is returning Unsupported or Unknown, in place of returning SmartAudio, when the SmartAudio is configured in a SoftSerial port.

It seems to have a problem too with the `deviceIsReady` but this another problem.

[2019-09-03 11:55] atomgomba commented on #1608
I'm a total noob when it comes to the firmware code, but `vtxCommonSetDevice(&vtxSmartAudio);` is called here in [vtx_smartaudio.c](https://github.com/betaflight/betaflight/blob/master/src/main/io/vtx_smartaudio.c#L720) and before that is a condition for the serial port:

[code]

Is it possible that `smartAudioSerialPort` is not allowed to be a soft serial port? Sorry again if this sounds like non

[2019-09-03 14:53] McGiverGim commented on #1608
I can confirm that MSP sends a 255 (Unknown) and not 3 (SmartAudio) when the SmartAudio is configured over SoftSerial, at least with the diff provided.

[2019-09-04 04:30] smitty97 commented on #1538
Also happening to me with center at 120hz, cutoff at 60hz.  Might not be dependedn on being exactly 100hz.  Cutoff is becoming 119 in user interface only, if i don't click 'save' there it stays at 60 when i inspect in CLI

[2019-09-04 17:19] Ozzy33 opened #1620 "Add Degree field to ACC sensor page"
Would be nice to add accelerometer degrees to the sensor page (next to the G's numbers), like -90 to 0 to +90 degrees. Also add a calibrate ACC button on this page (like the setup tab has). TIA!
![BFC ACC Degree wanted](https://user-images.githubusercontent.com/10664034/64276568-2982da80-cefd-11e9-9a52-b5122ced6561.jpg)

[2019-09-05 13:06] mikeller commented on #1620
@Ozzy33: Ok, I can understand the 'degrees' output. But I am not sure about the 'calibrate ACC' button - having this in one place seems to be enough.

[2019-09-05 18:45] unipheas opened #1624 "Future update requirements"
https://developer.apple.com/news/?id=09032019a‬

[2019-09-05 20:11] mikeller commented on #1624
Thanks for letting us know, @unipheas.

[2019-09-06 08:11] TheIsotopes opened #1625 "10.6.0 - Gyro selection is not saved"
Found this on testing with SPRACINGH7Extrem ... If i put from `Both` to `First` or `Second` and then press `Save and Reboot` after the reboot it stays again on `Both`
Only `set gyro_to_use = xxx` is working

EDIT: same found with MATEKF722MINI ... imho an configurator issue

[2019-09-06 15:39] Ozzy33 commented on #1620
Hi Mike, that would be fine!
It would be nice to have 0.1 degree resolution if the numbers are not jumping all over (filtered data), if its moving around to much, then 1 degree would be fine too.
Thanks.

[2019-09-07 03:35] mikeller commented on #1625
@TheIsotopes: What firmware version are you using?

[2019-09-07 06:50] TheIsotopes commented on #1625
@mikeller just again tested with latest 4.1.0 firmware build#1861

[2019-09-07 14:01] McGiverGim opened #1630 "CLI AutoComplete missing some options"
Using it, I usually use the command `diff all defaults`, one of the most useful of them for me... the automplete suggest `diff` but it does not suggest the `all` parameter (and of course it does not suggest the `defaults` at the end).

@Cleric-K can this be fixed or the FC does not give enough information? If it does not provide them, maybe it must be added to the info of the command in the FC.

[2019-09-07 15:23] TheIsotopes opened #1631 "10.6.0 - Dynamic Notch Filter not saved"
All parameters from Dynamic Notch Filter (PID Tuning -> Filter Settings) will not saved after editing and click on save button ... only the associated cli commands work

found on Configurator `10.6.0 (fe08a783)` with BF 4.1.0 build#1861 on MATEKF722SE Target
also tested with MatekF405Mini and SPRacing H7 Extreme/Nano

[2019-09-07 16:11] TheIsotopes commented on #1625
tested #1629 ... working again

[2019-09-07 16:20] IvoFPV commented on #1631
Confirmed. Looking into it.

[2019-09-07 16:28] IvoFPV commented on #1631
#1621 will fix it, just a problem with MSP because of addition of RPM filter related settings.

[2019-09-07 19:45] HrrrPippi opened #1632 "Debug mode not set correct in Blackbox tab"
Hi there
When setting Dshot_rpm_telemetry via the blackbox tab in configurator, it reads dyn_lpf in the cli
When setting it to rpm_filter it reads RX_SPREKTRUM_SPI in the cli
and d_min is set to dshot_rpm_telemetry in the cli.

Seems like the entire list is pushed in some direction.

Just testing configurator 10.6.0, with the new sliders added to the pid tuning tab(dont know which version)

[2019-09-07 19:49] IvoFPV commented on #1632
Are you on the latest version of firmware?

[2019-09-07 19:52] IvoFPV commented on #1632
I just tested it on the latest builds and I can't replicate the issue. It is probably your firmware version before dual gyro PR where some debug modes were removed. Please update and if you still have issues provide a `diff`.

[2019-09-07 19:54] HrrrPippi commented on #1632
Cool... Thanks..

[2019-09-07 19:54] #1632 closed

[2019-09-07 22:29] #1631 closed

[2019-09-08 05:06] Docteh commented on #1630
Looks like the FC does give enough information.
4.0.3
[code]

4.1.0
[code]

Regex is dark dark magic.

[2019-09-08 13:09] #1625 closed

[2019-09-08 13:56] TheIsotopes opened #1635 "10.6.0 - Configuration Tab help icon failure"
If i'm click on the help icon from `Motor direction is reversed` or `Bidirectional DShot` the corresponding feature is activated / deactivated.
Further by clicking the help icon of `Motor Idle Throttle Value` and `Motor poles`, the input fields are activated.
Other help icons do not do this, which I think this is correct.

[2019-09-08 14:13] McGiverGim commented on #1635
It sounds strange. I will look into it tomorrow if nobody does it before.

[2019-09-08 16:08] F2GD opened #1636 "Make paralyze also stop all servo movements"
Paralyze should do just that, stop all movement. Is it possible to lock the servo outputs at 1500 when paralyze is enabled?

You can use a disarmed, non paralyzed quad to check servos, but I want the ability to make the quad do nothing at all

[2019-09-10 08:54] #1635 closed

[2019-09-10 10:42] atomgomba opened #1640 "Make updating configuration more pleasant"
There has been discussion about making the transfer of settings across crafts easier. I was thinking of ways to do this earlier myself as I like to keep my non-specific settings consistent, ie. same OSD, same rates, same modes, etc. on all of my crafts and it is a little bit time consuming to connect, switch to CLI tab, click the button, select the file and so forth. This proposal is a potential s

[2019-09-10 10:59] atomgomba commented on #1640
The "Ask to apply after flashing" switch would show the user a confirmation dialog whether she wants to apply the selected config file after successful flashing or not. This new tab later could be extended to include community presets pulled from some network source or maybe custom URL.

[2019-09-11 14:10] finalflash1 opened #1647 "Motortab - scale < 50"
Devs

Please if possible can you add a value smaller than 50 in gyro scale?
This to attack motor noise problems better.
Due to softmounting fc's and small motors its difficult even on 50 to see noise.
Would be great to have 25 or even 10.

Would be really usefull

[2019-09-13 13:25] quadwizard commented on #1640
This is an excellent concept and one I have been manually managing in my file system and CLI for as long as I have had quads :(

If this can be pulled together it would be awesome!

[2019-09-13 16:59] cusglider opened #1655 "Build #306 does not flash firmware"
Although visibly in DFU mode, the build #306 does not flash firmware. I had to go back to vers 10.51 to achieve this.

Secondly if you work inside the PID page it sometimes happens, that you cannot leave it, only by closing and restarting the application.

[2019-09-14 12:02] #1647 closed

[2019-09-14 12:52] IvoFPV commented on #1655
@cusglider Could you please provide more information on what do you mean by "does not flash firmware". Does it go through the flashing process in the status bar?
On the PID tab lock up, could you give me some steps to reproduce the issue? Also, could you please get the latest build you check next time?

[2019-09-14 17:05] cusglider commented on #1655
Version #306 was the one available to flash the RC2 of betaflight 4.1 as of yesterday. I could connect to the quad alright, select the fc and desired firmware version, download it, however, after I pressed the "flash" nothing happened. I tried this on a Matek F405 and Matek F722 SE with the same result.

As for the PID lock up I just looked into various values and filter settings and got stuck whe

[2019-09-14 18:12] IvoFPV commented on #1655
@cusglider I can't reproduce any of the issues you've found. Flashing works as expected, pid tab works just fine.

When pressing flash firmware did your FC reboot into DFU mode? Maybe a driver issue there.

It is hard to track an issue down if it isn't repeatable and you can't provide step by step how to make it happen. It would be great if you could try to replicate the issue and find out what st

[2019-09-14 19:14] cusglider commented on #1655
Thanks for following up so closely.

I can only make you a video showing the steps, if that helps. The FC was on DFU mode as indicated by the configurator and it worked perfectly with the same FC, the same setting, the same firmware to be flashed on 10.51. So I have no indications of a driver issue. It all happened on a windows notebook.

[2019-09-14 19:25] IvoFPV commented on #1655
@cusglider That would help a lot. I assume it is something to do with your configurator installation then.

[2019-09-14 20:43] cusglider commented on #1655
Im having a bright smile as I write these lines ;-) . Just got aware of having installed when I returned from the airfield tonite the latest build #310 before I cared to check my mail. As I went thru the downloading and flashing process with that build couple minutes back and recorded all this I discovered that  n o w  it works. Thanks for your efforts and thanks for your dedication to the fpv com

[2019-09-15 22:38] cusglider opened #1660 "PID freeze in build #310"
As I moved around in the PID page I was not able to leave as shown in the video

[2019-09-15 22:48] cusglider commented on #1660
https://www.dropbox.com/l/scl/AABBn6IWhmDx00I6bDpjijmbyCd2bQWfZwM

[2019-09-15 23:28] IvoFPV commented on #1660
I've tried to replicate it but it doesn't happen when I do the exact same as you do. Can you do this always by following those steps? Or it only happens sometimes?

[2019-09-15 23:36] cusglider commented on #1660
I clicked on the PID page once, looked at the rates subpage and noticed I got stuck when I wanted to move on. That's when I started the recording to show I got stuck. I actually only work with the configurator when I need to update the quad's firmware.

[2019-09-15 23:42] IvoFPV commented on #1660
@cusglider Since you've had issues last time with firmware flashing and it fixed itself by reinstalling the configurator, could you try to install this one https://www.dropbox.com/s/6f68m033ytbv0bm/betaflight-configurator-installer_10.6.0_win32.exe?dl=0
This is the latest master release build.

[2019-09-15 23:44] cusglider commented on #1660
I am currently using the chrome app, however will follow this link

[2019-09-16 01:17] #1563 closed

[2019-09-16 03:07] evilmerlin opened #1661 "PID tuning sliders should not turn off and reset when adjusting Yaw P and I"
Currently, making changes to Yaw P and I values will turn off and reset the sliders. Can this be changed such that it doesn't? The sliders don't affect Yaw values anyway.
It's a bit tedious when tuning via the sliders and having it all go away because I made a small change in Yaw.

[2019-09-16 06:23] McGiverGim commented on #1660
I've been stuck sometimes at some tabs too, in a random way (I've not been able to replicate). I fixed some bug related with this in the past but it seems there are more.

[2019-09-16 10:10] mikeller commented on #1661
@IvoFPV: What's your thoughts on this?

[2019-09-16 10:23] IvoFPV commented on #1661
@evilmerlin Sliders do affect yaw P and I values, the master slider does that. So it is not possible to have them not disable on manual input.

What do you mean by this? Which values are you trying to change on yaw and it is not possible to do that with sliders only?

[2019-09-16 10:50] IvoFPV commented on #1660
@cusglider I just got it to lock up once. Still don't know what causes it. There is nothing showing up and it is completely random.

[2019-09-16 12:49] evilmerlin commented on #1661
Actually I was only using the PD Balance, Gain and Stick Response Gain sliders.
The PD balance and gain sliders don't move the Yaw values, well at least the version I'm using doesn't. I know the Stick Response one changes FF values for all axis which is fine.

So I tuning via the sliders and my quad has this quirk where the default Yaw P is too high. I'll be tuning the Roll and Pitch via the balan

[2019-09-16 12:56] IvoFPV commented on #1661
@evilmerlin The thing with sliders is that they should cover almost every build, but if you have something really specific like it seems it is in your case then you will have to manually tune that. Yaw P will be adjustable with PD gain slider soon, so that will probably fix your issue and give you an opportunity to tune that specific quad better.
Could you maybe post your log so we can see what is

[2019-09-16 13:04] evilmerlin commented on #1661
I see! I look forward to that then. I must say that the sliders are a brilliant brilliant implementation. Makes tuning so much easier.

Hmmm, I don't have that log anymore, deleted it after it was kinda solved by lowering Yaw P.
I did ask for some help over on the Betaflight Black box Log  group on Facebook though.
https://www.facebook.com/groups/291745494678694/permalink/652520531934520/

[2019-09-16 16:32] spatzengr opened #1664 "Motor Tab Tool Tips Persisting"
Motors tab tooltips persisting after moving off the data.  See: https://www.screencast.com/t/DsV9SaI4l for an example.

[2019-09-16 17:50] IvoFPV commented on #1664
@spatzengr Could you test #1665 and see if it solves the issue?

[2019-09-16 20:33] Anisotropic commented on #1609
"Control sticks" is absent in my bf-configurator. How can I force to show this button? The receiver is powered on my connected quad, and taranis is binded and also powered.

[2019-09-16 21:19] Anisotropic commented on #1609
@IvoFPV I found solution how to pass darkTheme variable to separate window. Now working on it.

[2019-09-16 23:56] azixaka opened #1667 "Flashing Firmware Bricks CL Racing F7"
Trying to flash any 4.1 RC3/Dev firmware via Configurator 10.60 RC1 bricks the CL Racing F7 at "flashing..." stage.

Boot mode/full erase/no boot sequence doesn't hangs at flashing stage as well. The erasing stage completes though.

Connecting via Configurator 10.51 and doing a boot mode restore works fine. Flashing any other version succeeds as well.

There seems to be a bug introduced in 10.60.

[2019-09-17 00:09] IvoFPV commented on #1667
@azixaka

Flashing other targets on 10.6.0 or other configurator versions?

What do you mean by it gets bricked? Which target did you select? CLRACINGF7 or CLRACINGF7 (Legacy)

[2019-09-17 00:17] IvoFPV commented on #1667
@mikeller Looks to me like unified config is using F745 target but CLRACING F7 is F722. Probably why it bricks in this case.
[code]
![image](https://user-images.githubusercontent.com/50072760/65001755-24585f00-d8f1-11e9-93e8-bbf20e075f4f.png)

[2019-09-17 06:36] McGiverGim commented on #1609
You must select MSP as RX protocol.

[2019-09-17 14:18] #1661 closed

[2019-09-17 14:52] gretel opened #1668 "10.6.0-RC1 on 10.15 'catalina' - “Betaflight Configurator.app” is damaged and can’t be opened. You should move it to the Bin."
i tried opening the app holding `ctrl` key and select open which worked to override the failing integrity check for some other apps like the nightly build of `openscad` .. but i just can not open this build.
the `spracing` fork one does open fine.  the `chromeos` build works too, but fails to flash any board.

![image](https://user-images.githubusercontent.com/80815/65052891-6de59000-d96b-11e9-821

[2019-09-17 16:39] IvoFPV commented on #1668
#1624 This is the problem

[2019-09-17 17:24] gretel commented on #1668
actually i have a developer version of catalina and am allowed to run interim-signed apps in general. i doubt this is actually the only reason.

[2019-09-17 17:26] richard-scott opened #1669 "Github API Limit"
Looks like issue #61 is back.

![2019-09-17 18_24_37-Betaflight Configurator](https://user-images.githubusercontent.com/5149834/65064585-b0619980-d978-11e9-90af-0a6a734a2e74.png)

[2019-09-17 18:42] Docteh commented on #1669
Github API allows 60 unauthenticated requests per hour from a given IP address. The configurator does two or three and caches the results for an hour. Issue #61 occurred because there was zero caching.

Are you reporting that the caching stopped working?

[2019-09-18 00:57] mikeller commented on #1668
@gretel: Have you tried downloading the application again - the error message you are getting suggests file corruption.

[2019-09-18 01:14] gretel commented on #1668
@mikeller yip, three times. it's a dmg which has checksums, though.

[2019-09-18 01:16] mikeller commented on #1668
@gretel: Weird - I tested running the app inside the .dmg before I uploaded the release - will test again after downloading it.

[2019-09-18 01:18] gretel commented on #1668
@mikeller can verify the image fine:

<img width="517" alt="Screenshot 2019-09-18 at 03 17 43" src="https://user-images.githubusercontent.com/80815/65095828-02c7a800-d9c3-11e9-9af0-0ae886a24a20.png">

[2019-09-18 01:21] gretel commented on #1668
what i find most irritating that the

hold `ctrl` - click application icon - select `open`

method does not allow to override.. like it does for other non-notarized apps.

[2019-09-18 01:21] mikeller commented on #1668
I'll try downloading / installing it just to make sure. But I suspect it could be related to the fact that I've built this on an older version of MacOS.

[2019-09-18 01:23] gretel commented on #1668
@mikeller i'm not so much an xcode expert but i suppose you need to build for `10.13` at least for the application to have a supported signature on `10.15` - is the build process documented? i could try..

[2019-09-18 01:24] gretel commented on #1668
wait. wasn't that a `node` app wrapped somehow? and is xcode required at all?

[2019-09-18 01:28] mikeller commented on #1668
Yes, it is an [NW.js](https://nwjs.io/) app. Xcode isn't required for the build itself, but the tool that is required to create a compressed .dmg comes only with xcode.

https://github.com/betaflight/betaflight-configurator#development has the build instructions.

[2019-09-18 01:50] gretel commented on #1668
@mikeller thank you. it compiled like a charm. did image the result up - which works fine for me:

https://svaha.jitter.eu/betaflight-configurator_10.6.0-RC1_macOS_gretel.dmg

[2019-09-18 12:17] mikeller commented on #1668
@gretel: Can you please test if this is working in Catalina:

https://www.dropbox.com/s/weo946gimcvjhkq/betaflight-configurator_10.6.0-RC1_macOS.dmg?dl=0

(Built in Mojave and provided by @ctzsnooze, thank you very much.)

[2019-09-18 12:42] etracer65 opened #1671 "Video Transmitter tab not displaying pit mode status after a change"
I found a problem in the Configurator Video Transmitter tab relating to pit mode. But it's not going to be a really simple fix. The issue is a timing problem that will cause the pit mode to not be indicated in the Configurator after enabling it and saving. The Configurator is not really at fault because it's displaying what the MSP says, but it's a timing issue. When the Configurator sends the `MS

[2019-09-18 12:46] #1664 closed

[2019-09-18 16:04] gretel commented on #1668
@mikeller does not, no observable difference. could you test the one i built on earlier osx?

<img width="1130" alt="Screenshot 2019-09-18 at 18 03 03" src="https://user-images.githubusercontent.com/80815/65165276-bfab1a80-da3e-11e9-858f-d5a46f86f5fa.png">

[2019-09-18 16:43] tarite commented on #1655
I had the same problem with build #310, updated to #311 with same results.
Spent way too much time messing with driver reinstalls, zadig and impulse fixer.
Removed chrome version and installed the windows 10.6 rc1.
Flashing is working now.
FC is the Iflight Succex TwinG
This is from the config tool log using #311:
2019-09-14 @ 15:34:57 -- Running - OS: Windows, Chrome: 77.0.3865.75, Configurator:

[2019-09-18 20:37] Etruscian opened #1673 "Battery low indicator in the configurator"
**Is your feature request related to a problem? Please describe.**
When working on the bench, I usually have a battery connected. I have set up all the settings in betaflight so that it watches my battery voltage. Since the configurator does not show these warnings, but does show a green battery bar if a battery is connected, I've almost killed a lipo because I watched the green bar instead of the

[2019-09-18 23:49] etracer65 commented on #1668
@gretel Can you try this please?

https://drive.google.com/file/d/112oudwlcxhBkU02GiSLQ_4vH6UaCdQMJ/view?usp=sharing

It's just the app removed from the .dmg and zipped. Trying to determine if the problems are related to the disk image or with the app itself.

[2019-09-19 00:42] gretel commented on #1668
the screenshot i posted shows that the disk image is fine. accordingly, the application you uploaded does not contain any valid signature and will not open.

[2019-09-19 00:43] gretel commented on #1668
can somebody please try the build i did upload above? it just works for me.

[2019-09-19 01:08] SupaflyFPV opened #1674 "Using DFU Boot configurator button crashes Aikon F4"
I have a problem where when trying to use the configurator boot/DFU button with the Aikon F4 flight controller - the configurator tries to reboot but  FC appears to crash...mouse behaviour goes weird and no more action possible on the main configurator screen...I have to unplug - replug...it won't go into DFU mode...this is on Mac with 10.5.1 and newest Jenkins build...

My physical boot button is

[2019-09-19 02:04] mikeller commented on #1668
@gretel: If you are not willing to cooperate with the developers you should not be opening issues, or expect to get help. Closing.

[2019-09-19 02:04] #1668 closed

[2019-09-19 02:07] mikeller commented on #1674
@SupaflyFPV: Do you have any peripherals connected on any of the UARTs (RX, GPS, VTX, ...) that are powered while you are trying to get into DFU mode? If so, disconnect them from the board, or disconnect the power to them, as they will probably interfere with the MCU binding to USB in DFU mode.

[2019-09-19 04:39] trojanGoat opened #1675 "can't open on mac"
I just tried installing 10.6 configurator on my mac and it seems like the os is detecting it as a damaged file

![Snip20190919_10](https://user-images.githubusercontent.com/19735035/65213965-2bf54080-da76-11e9-94fd-be497b7dffa8.png)

[2019-09-19 06:06] gretel commented on #1668
@mikeller you must be kidding me. not cooperating, by building and uploading an application to test? i was just asking for somebody to try this. better check your attitude. this is not your project, but a community one.

[2019-09-19 06:09] gretel commented on #1668
@mikeller you seem to lack respect. please check your attitude. looks like you do not know how to fix this issue and blame it one somebody else.

[2019-09-19 09:46] SupaflyFPV commented on #1674
no just the FC connected...

[2019-09-19 10:30] mikeller commented on #1675
@trojanGoat: What version of MacOS are you using?

[2019-09-19 10:33] trojanGoat commented on #1675
I'm using Mojave 10.14.6

[2019-09-19 10:54] mikeller commented on #1674
@SupaflyFPV: Can you try to download and install configurator 10.6.0-RC1 (https://github.com/betaflight/betaflight-configurator/releases/tag/10.6.0-RC1) and check if this version works?

[2019-09-19 11:01] mikeller commented on #1668
@gretel: So me telling you that you should not open issues here if you are not willing to cooperate with developers is 'lack of respect'? You really need to check your attitude. But please just stay away from here - people with your attitude are not a good match for open source projects.

[2019-09-19 11:29] mikeller commented on #1675
@trojanGoat: Can you please check if this works for you: https://www.dropbox.com/s/weo946gimcvjhkq/betaflight-configurator_10.6.0-RC1_macOS.dmg?dl=0

[2019-09-19 11:32] trojanGoat commented on #1675
No it doesn't work.  Same issue.

[2019-09-19 11:42] IvoFPV commented on #1675
Isn't this related to it being unsigned? Even though it says that it is damaged, macOS throws this exact error when you try to install unsigned apps and don't enable the option to `Allow apps downloaded from: Anywhere` which can't be done through GUI in newer macOS versions. Only way to put it to `Anywhere`, disabling "Gatekeeper", is through terminal.

[2019-09-19 11:48] trojanGoat commented on #1675
When I run 10.5 configurator I have the option to allow the app to run in the security settings.  The OS doesn't say that it's damaged.

[2019-09-19 11:57] IvoFPV commented on #1675
What does clicking on the question mark button show? It should show the reason it won't open.

[2019-09-19 12:53] trojanGoat commented on #1675
@IvoFPV  This is what it says:

[2019-09-19 13:18] mikeller commented on #1675
@trojanGoat:

That's pretty much what this is I suspect. The NW.js app runner that we are using must be signed, and obviously we modify the app by adding our code to be run. Looks like the way to fix this is to override the security settings for the Betaflight configurator on your machine.

[2019-09-19 16:26] emski0 commented on #1675
Hey i am getting also file is damaged and can't be opened (macOS Mojave 10.14.6 ). However if i build myself the app from source, it is working.
Try this , i build it from current source.
https://www.dropbox.com/s/7slm5wvdwb3qrfn/betaflight-configurator.app.zip?dl=0

[2019-09-19 20:08] SupaflyFPV commented on #1674
@mikeller unfortunately it does the same thing...the behaviour once boot mode is attempted is the same co-incidentally as I had here

https://github.com/betaflight/betaflight/issues/8840

Not sure if that is a generic 'crash' behaviour but thankfully I don't have to reflash - I just unplug the FC and reconnect it...

[2019-09-19 20:24] mikeller commented on #1675
@emski0: See https://github.com/betaflight/betaflight-configurator/issues/1675#issuecomment-533126426.

[2019-09-19 20:30] trojanGoat commented on #1675
How come it works for 10.5 configurator?

[2019-09-19 20:42] mikeller commented on #1674
@SupaflyFPV:

Not sure I understand this - betaflight/betaflight#8840 is a firmware issue, whereas in this ticket you describe a configurator malfunction.
If this is a configurator issue, is it possible to get a video of the way it misbehaves?

[2019-09-19 20:45] mikeller commented on #1675
@trojanGoat:

Not sure really. This is something that apple does to detect 'corrupted' apps, and  you'd have to ask them what rules they use for this. The 10.6.0-RC1 version in dropbox.com/s/7slm5wvdwb3qrfn/betaflight-configurator.app.zip?dl=0 was built on Mojave - so if this does not work but a locally built version does then that suggests that the detection logic is exempting locally built apps

[2019-09-19 21:00] vinc13008 commented on #1675
just disable gatekeeper with the Terminal :
sudo spctl --master-disable

[2019-09-19 21:07] SupaflyFPV commented on #1674
I just meant that in the above issue, the behaviour which boots out of the configurator (the other issue boots out after saving in CLI, and this one when pressing the software DFU button) leading to a situation where you cannot log back into the configurator, and producing a laggy, stuttering mouse behaviour...was the same...I mentioned it in case it could be connected

[2019-09-19 21:07] bizmar commented on #1660
It happens to me only with the PID tab, about once a week. There's no repeatable set of actions... Haven't caught it yet with a debug version of the config.

[2019-09-19 21:07] Docteh commented on #1675
I think one unanswered question from this, is

Has anyone recently tried installing the 10.5.1 configurator on a macbook that has NEVER touched the configurator?

[2019-09-19 21:10] mikeller commented on #1674
Well the laggy, stuttering mouse behaviour is definitely a configurator problem - I've seen similar things happen when something was messed up with the WebGL driver, but usually a complete uninstall / reinstall of configurator fixes this.

[2019-09-19 21:21] IvoFPV commented on #1675
Also one thing to add, when we were testing the sliders a few weeks ago and making builds for Mac they worked just fine. CTZ and Bizmar built them. I don't see what is different about the RC1 build...
Here is one of them, a bit outdated but maybe just to test out if this one is any different.
@trojanGoat @emski0 Could you try it out?
https://www.dropbox.com/s/pu25aau8v8w71fg/betaflight-configurato

[2019-09-19 21:32] Knifa opened #1676 "PD Balance only changes P?"
As the title says.

On the Windows RC1 build

The name and description seem to imply both should change, but only P changes.

[2019-09-19 21:43] IvoFPV commented on #1676
This is the intended behavior. PD balance slider changes the ratio between P and D. You could change either P or D to affect that ratio, we chose to only change P. Changing both would change D and we don't want that because of how D is affected by and affects noise levels. That's why there is a P and D gain slider which moves both up or down.
Description fits the slider in my opinion really good.

[2019-09-19 22:27] gretel commented on #1624
did find a solution and posted it on the issue but got muted by, well, some authority. regards

[2019-09-19 22:33] mikeller commented on #1624
@gretel: If you are not willing to cooperate with the developers please stop posting here - thanks.

[2019-09-19 22:34] gretel commented on #1624
your definition of cooperation is not to be discussed. have a nice day.

[2019-09-20 17:15] Propwosh commented on #1675
Had the same issue..but This worked for me! Thanks!

[2019-09-20 19:49] Gozzz opened #1679 "Pasting diff doesn't update settings in CLI Configurator build #318 chrome OS"
Configurator build #318 chrome OS on a mac.

When attempting to paste a diff in CLI it seems to quit after "defaults nosave" line. Pasting partial diff starting at #resources completes fine.

See attached screenshot.
![Screen Shot 2019-09-20 at 11 48 25 AM](https://user-images.githubusercontent.com/18582045/65354689-2276f000-dbbe-11e9-9250-a1ced6d8f6e8.png)

[2019-09-20 20:00] IvoFPV commented on #1679
@Gozzz If I understand correctly, `defaults nosave` causes it to reset before other settings therefore they don't get applied. I tired to replicate the issue but it doesn't happen. I tried on RC1 configurator build and F405 target.

[2019-09-20 20:04] Gozzz commented on #1679
Correct, it hangs at the point in my screenshot and doesn't process anything else. Could it be target related? This is a TalonF7v2. Diff is attached.

If I cut everything above #resources it will process it fine.

[4-1 default for A1.txt](https://github.com/betaflight/betaflight-configurator/files/3637536/4-1.default.for.A1.txt)

[2019-09-20 20:07] IvoFPV commented on #1679
Could you remove the `defaults nosave` line and try again?

[2019-09-20 20:09] Gozzz commented on #1679
@IvoFPV Removing that line it works as intended.

[2019-09-20 20:16] IvoFPV commented on #1679
Not sure, I even tried your exact diff and everything goes on after `defaults nosave`, no hang up there. So it doesn't lock up or anything, you can continue typing other commands manually after that happens?
Could you do `defaults show` and paste it here?

[2019-09-20 20:18] Gozzz commented on #1679
Odd, I will try a different mac with the same diff and see what happens.

defaults show-
`# defaults show
# Betaflight / STM32F7X2 (S7X2) 4.0.5 Aug  1 2019 / 12:29:33 (839661b20) MSP API: 1.41
board_name TALONF7V2
manufacturer_id HENA

# resources
resource BEEPER 1 B04
resource MOTOR 1 B06
resource MOTOR 2 B07
resource MOTOR 3 B08
resource MOTOR 4 C08
resource MOTOR 5 A01
resource MOTOR 6 B09
reso

[2019-09-20 20:21] IvoFPV commented on #1679
Yeah, that looks okay. Maybe try the official RC1 build, because there were some issues installation related with flashing when using Jenkins ChromeOS builds.

[2019-09-20 20:27] Gozzz commented on #1679
@IvoFPV I just tried it on a different laptop, Also mac OS with configurator build 318 same thing.

Then I tried the RC1 dmg installer and it also does the same.

So I can continue to type into cli after it hangs but it doesn't return anything. For example typing "get vtx" will not return anything.

[2019-09-20 20:31] IvoFPV commented on #1679
@Gozzz Thanks for testing it. If you have time and have a different FC or even better one with F4, try the same thing to see if it's target specific. Not sure what else could be causing it.

[2019-09-20 23:12] Gozzz commented on #1679
@IvoFPV so it works fine on the clracingf4 unified & legacy targets.

I also tested it on a clracingf7 unified target and it will hang same as the talonf7v2.

Tested on the same clracingf7 using legacy target and it imports fine.

Unfortunately those are the only f7 boards I have on hand to test with so I can't narrow it down any further.

[2019-09-20 23:15] IvoFPV commented on #1679
Thanks for confirming that it works on F4 target. @mikeller Any thoughts on what could be causing this?

[2019-09-21 04:03] trojanGoat commented on #1675
This works!! Thanks

[2019-09-21 06:06] ddckl76 commented on #1675
THIS WORKS! Had the same issue with the unsigned certs. No previous versions of configurator had this issue, mainly because there was an option to 'right click' and 'open' instead of 'double click(ing)' the icon to open the app.

[2019-09-21 08:43] mikeller commented on #1675
@ddckl76:

I am not a Mac user, so I do not know exactly what the difference between right click / 'Open' and double clicking to open is on a Mac. But this is not something that we changed - it sounds more like this was changed in the NW.js toolkit that we are using to build the configurator. As such, this is not something that we can change.

[2019-09-21 09:06] Docteh commented on #1675
I thought we are using the same version of nwjs as the last release. (10.5.1) On my MacBook I need to right click and open any app downloaded from the internet, just double clicking the first time I get a complaint from macOS. After I allow it once then everything is fine. I wonder if the beta of Catalina has trouble keeping track of where unsigned apps come from. I downloaded the rc1 configurator

[2019-09-21 10:29] mikeller commented on #1675
@Docteh: You are right, we did not update the NW.js version in the end - so that can't be the reason.

[2019-09-21 19:44] RipperDrone opened #1680 "BFC 10.6 RC1: Fonts look smashed/washed out... :-/ (Win10)"
![image](https://user-images.githubusercontent.com/12601105/65378468-01df9080-dcb9-11e9-90a9-c8601c93a5f3.png)

[2019-09-21 19:53] RipperDrone opened #1681 "BFC 10.6 RC1: Switch indicators misplaced (Win10)"
![image](https://user-images.githubusercontent.com/12601105/65378552-3ef85280-dcba-11e9-9c26-34492b66cdf0.png)

[2019-09-21 19:53] Docteh commented on #1680
Font rendering issues?

* What resolution is that monitor set to?
* Whats the DPI setting, mine is 100%
* Version of windows, I'm on 1903
* Is this the RC1 build we have posted on github, or did you build this yourself?

[2019-09-21 19:58] IvoFPV commented on #1681
@RipperDrone When opening an issue, please provide more information about what exactly is the problem and how can we replicate it. Also you should make sure it is not an issue on your side. I would suggest you completely reinstall the configurator with the RC1 release version.
This does not happen when I test it.

[2019-09-21 21:38] RipperDrone commented on #1680
Not really font rendering, screen somehow flickers when scrolling BFC window scroll bars, some areas seem a little clearer, but most content is dithered. Doesn'T happen at all with Nightlies installed via Chrome...?

DPI 100%, RC1 BFC from GitHub, Win 10 x64 1903

[2019-09-21 21:45] RipperDrone commented on #1681
I didn't reinstall but tried many times to replicate, but now any time it showed ok. Seems there is a certain sequence needed to hit that issue. I did reinstall the complete BFC package (Win32 version RC1), but at the same time the Chrome BFC was still installed. I then de-installed the Chrome version. Now all looks good...?

[2019-09-21 21:45] #1681 closed

[2019-09-21 21:58] MBoerlage commented on #1655
I have the same issue - CLRacingF4, BFConfig 10.6 RC1 that I downloaed yesterday (318?). Have it in DFU mode (using ImpulseRC driver fixer). After I click on Flash, nothing happens. In the top left corner it says "usb connection succesfully closed).

My workaround it use 10.5 to flash the firmware and then get back into 10.6 to set it up.

[2019-09-21 22:29] Docteh commented on #1680
When I looked at the screenshot on github it just looked like the text rendering was mucked up, but then I looked closer.
![image](https://user-images.githubusercontent.com/190571/65379734-d2616180-dc81-11e9-8241-deb00186ffb8.png)

The [NWJS](https://nwjs.io/) that runs the configurator stand alone, is really just a packaged copy of the chrome browser. The [build](https://nwjs.io/blog/v0.36.4/) we

[2019-09-22 00:12] Docteh commented on #1681
Should #1680 be closed as well? If we get another report of bad graphical rendering in the future we can always try and run it down then

[2019-09-22 04:32] IvoFPV commented on #1655
@mboerlage Use the release version RC1 of the configurator.

[2019-09-22 07:25] RipperDrone commented on #1680
@Docteh HAve done complete uninstall / reinstall of BFC, plus reset my GF1060Ti graphics card to 'quality' preference. PRoblems gone since. Loaded iNAV, fonts and windows stretching / scaling behavior look the same (slightly dithering the fonts while stretching/scaling but never completely wash them out...). Seems to be graphics drivers or interference of Chrome version vs. standalone version inst

[2019-09-22 07:25] #1680 closed

[2019-09-22 08:28] Docteh opened #1682 "Configurator doesn't properly error when flashing firmware that is too big."
I think we should show an error at some point when I decide to flash firmware that is too large to fit, for example a F405 unified target onto F411 chip 😎.

I did this twice, with the 10.6.0-RC1 and the current master. Just hangs in the middle, and merely states that the USB device successfully closed.
![image](https://user-images.githubusercontent.com/190571/65384151-96ef8300-dcd3-11e9-88ea-1b0b3

[2019-09-22 10:10] mikeller commented on #1682
Yep, I've been stung by this before too.

One thing I'd like to look into for a future configurator release is to add detection of the currently installed target when opening the firmware flasher tab, and then automatically pre-select the correct target, forcing the user to force-override if they want to flash a different target. This should cut down on how often flashing of incorrect firmware hap

[2019-09-22 10:21] schmou187 commented on #1675
It worked aswell for me (with a older version of OS 10.13)

thanks alot

[2019-09-23 10:08] McGiverGim commented on #1673
@Etruscian in theory, it must turn red:

https://github.com/betaflight/betaflight-configurator/blob/2395c7a216ca0302554300c5af36d290ffec0391/src/js/serial_backend.js#L649-L680

It is done in a manual way (now we have better MSP commands to do this than the old ANALOG) but it must work.

The only problem I see is that it shows a red bar when it is in warning range, but if it is under the minimum th

[2019-09-23 10:24] Etruscian commented on #1673
@McGiverGim the weird thing was that I did see a green bar that was almost full. Could this be that because the battery was empty before plugging in, it mistakenly was recognized as an over full 3s?

[2019-09-23 10:53] mikeller commented on #1673
@Etruscian: Did you calibrate the voltage meter in the firmware? They can be considerably off.

[2019-09-23 11:12] McGiverGim commented on #1673
@Etruscian the code divides the `voltagedetected / vbatmaxcellvoltage` to get the number of cells. If it detects the wrong number of cells yes, it can go wrong.

I will push a change to blink when the voltage is under minimum, but if the cell count is not correct, I can't do nothing.

[2019-09-23 14:22] mrRobot62 commented on #1675
I'm using MOJAVE 10.14.6 on a MacBook Pro with 16GB Ram - installation process worked as in the past - so no problems on my system. I didn't do anything "on top" to launch or install the software.

[2019-09-23 20:11] mrRobot62 opened #1684 "Flashing FC : can't flash (sometimes) downloaded hex file into FC via "Button Load FW local""
Configuration:
Macbook Pro, Mojave 10.14.6
BF 10.6.0RC1.
FC: BrainFPV Radix

Current BF version on FC: BF 3.5.7

Steps
1. Download BF 4.0.5 hex file from BrainFPV website with customized FW and save on local dis
2. Set FC into DFU-Mode
3. Use Button "Load FW local" and choose downloaded file (1)
4.1. a black bar on the left side appears with "Loaded Local Firmware: (454178 bytes)"
4.2 Button "Flas

[2019-09-23 20:34] Docteh commented on #1684
What sort of without any success? Is there an error message that shows? does the flashing progress bar stall in the middle?

[2019-09-23 22:53] mikeller commented on #1684
@mrRobot62: Do you have any external devices connected to your flight controller's UARTs that are powered while you are trying to flash the firmware? If so, disconnect them or make sure they are not powered.

[2019-09-24 08:19] Niek opened #1685 "Mobile support?"
Has there been any effort to port the configurator to a mobile (Android and possibly iOS) app? It seems that either Cordova or Flutter would be the best approach. It'll basically be a webview with a thin wrapper around the chrome.* calls. As far as I can see the following Chrome Apps APIs need to be ported:
[code]
For Cordova, the following plugins already exist, although most of them are not acti

[2019-09-24 08:43] McGiverGim commented on #1685
No, it has been talked several times but nobody has tried to do it. I don't have experience with it so I can't give an opinion.

It will be a great addition, but we need some requisites:
- The maintenance must be very low. We don't have too much time for it.
- It must use the sources of the standard Configurator, without the need of duplicate and modify each of them.

Do you have experience with t

[2019-09-24 10:09] mrRobot62 commented on #1684
Hi,
"..without success":
If I pressed the Flash-Button, nothing happens, no Progress bar, no error message nothing. It seems, that nothing was done "behind" the button

"...external devices":
It was a "blank" FC without anything installed (out of the box).

As I wrote:
If I don't Change anything at the top Switches or comboboxes in BF 4.1 and I use Load FW local and press than the button "Flash...

[2019-09-24 10:34] IvoFPV commented on #1684
@mrRobot62
I've just tested flashing local firmware, without changing switches like you say and it works just fine. I am on RC1 as well, running on Windows. Are you running the Chrome app?

What do you do before you go to flash? Do you connect to the FC, make some changes, then go to flash and only then it doesn't work?

[2019-09-24 10:36] McGiverGim commented on #1684
I think this has happened some times to me, but I don't know why. My solution was to disconnect and connect the FC again, after that the flash button worked for me. I have not tested with latest version so I'm not sure if the problem remains.

[2019-09-24 10:44] richard-scott commented on #1669
Yep, this error was from the first time I'd started the App that day after updating it from the Master branch.

[2019-09-24 11:19] underhog37 opened #1687 "LED strip not working"
LED strip not working after flashing (Aikon F4 legacy 4.1.0 rc4). i use the LED + Buzzer combo which works on Bf 4.0 or lower. now only buzzer works

[2019-09-24 13:55] 0crap opened #1688 "ESC/Motor protocol popup"
Is DSHOT 900 and/or 1200 still in use?
It's not in my pull-down menu.
Using BF configurator 10.6.0-RC1.

![Popup](https://user-images.githubusercontent.com/31951195/65517626-55cdbd80-dee3-11e9-80db-6fe3fd79c0c3.jpg)

[2019-09-24 14:12] Mateyhv commented on #1676
@IvoFPV the description is not bad but can be misleading as happened to Knifa. Maybe "P to D ballance" will make easier to understand why is P only moving. Just a suggestion though

[2019-09-24 14:18] Mateyhv commented on #1557
Agree, that definitely would be a very nice addition to the configurator.

[2019-09-24 14:21] Mateyhv commented on #1640
Good idea, definitely supporting it!

[2019-09-24 15:06] mrRobot62 commented on #1684
As I wrote : If I do not change anything  - it works well under my "stand alone" application (not CHRROME app).

I know it's nonsense to change anything via comboboxes (like FC-HW, BF FW version,..)  if I want to flash via local hex - but if a user do this - he/she is not able to flash because it didn't work - than -

I assume there is a bad validation algorithm implemented (or there should a vali

[2019-09-24 15:52] Knifa commented on #1676
After playing around I did figure out what was meant. :smile:
And I get what you mean --- it makes sense to just change one rather than changing one up, and the other down.

I like the suggestion of naming it "P to D Balance" instead, though we're probably splitting hairs at this point.

[2019-09-24 15:56] McGiverGim commented on #1557
This was added some weeks ago. I close this request.

[2019-09-24 15:56] #1557 closed

[2019-09-24 16:39] IvoFPV commented on #1684
@mrRobot62 Yeah, I understand now what you are saying. However, I was not able to reproduce it following your steps. I just click load local firmware and then flash firmware, I don't touch anything else and it works. Hopefully someone else can reproduce it and find what's wrong.

[2019-09-24 17:08] IvoFPV commented on #1676
We can do that. If it makes it clearer to what it does at least to someone it is a good change 👍

[2019-09-24 17:35] mrRobot62 commented on #1684
From my point of view as an ex-devleoper it should be more or less easy to solve this issue. But honestly it's an minor priority ;-)

[2019-09-24 18:02] IvoFPV commented on #1684
@mrRobot62 Reading through the whole thing I think everyone else and I have totally misunderstood you. You are not having a problem with actual flashing and are concerned about the button 'Flash Firmware' and when it is enabled/disabled.

This is exactly how it works. Flash button gets enabled only when you:
1. Load Firmware [Local] and that is successful.
2. Load Firmware [Online] and that is suc

[2019-09-24 19:01] Anisotropic commented on #1685
@niek Have you tried "Speedy Bee" application by Runcam? It does work via cable as well.

[2019-09-24 20:00] Mateyhv commented on #1685
Yep, Speedy Bee works with Betaflight, Inav and Kiss and as a bonus you can change motors spinning direction, however it won't have the latest changes in Betaflight configurator

[2019-09-24 20:05] Niek commented on #1685
I am aware of Speedy Bee, but that's closed source (CMIIW) and doesn't have the full/latest Betaflight Configurator functionality.

I'll try to build something based in Flutter (since the Cordova libs are deprecated) using the existing source and see how far it'll come.

[2019-09-24 20:54] McGiverGim commented on #1685
Waiting your news about it 🤗

[2019-09-25 03:23] Docteh commented on #1685
flutter looks like it uses a slightly different language, but this might still be worth looking at if shipping standalone apps is possible. is "flutter for desktop" a thing?

[2019-09-25 05:23] mrRobot62 commented on #1684
@IvoFPV: u're right, but it didn't. The flash button will not be gray again, if you change anything on the switches or comboboxes.

BTW: I assume the misunderstanding based on my bad english - I'm not a native english speak. Sorry for any confusions.

I can reproduce the scenario several times:

1) start FC into DFU mode - ok -
2) Flash button should be gray, Load FW local (yellow) - ok -
3) load

[2019-09-25 05:34] Niek commented on #1685
Yes, flutter desktop was released recently. It's still in heavy development though and webviews are not yet supported. Ref: https://github.com/flutter/flutter/issues/31712 https://github.com/flutter/flutter/issues/31713 https://github.com/flutter/flutter/issues/31714

[2019-09-25 10:26] IvoFPV commented on #1684
@mrRobot62

It won't be gray if you have local firmware loaded as I've said.

@Docteh @mikeller While I was looking into this I got it to apply a unified config from the selected board when I flashed Local firmware. Is this intended? I know you can load the config locally and flash it with local firmware but wasn't sure if you can mix local firmware and online config. Maybe I am wrong.

[2019-09-25 10:34] mikeller commented on #1684
@IvoFPV: Yes, that is intended. It is not well documented yet, and I am not sure there isn't a more intuitive way to do this, so I am kind of waiting for better idea.
But the use cases we are trying to cover is that a tinkerer wants to share firmware with a new feature with friends, or a Betaflight maintainer wants to enable users to test a fix. So they should be able to share Unified Target .hex

[2019-09-26 02:44] Docteh commented on #1688
Wow, I'd never even heard of DSHOT900, I saw that DSHOT1200 got removed on the firmware

https://github.com/betaflight/betaflight/pull/8806

[2019-09-26 03:00] Docteh commented on #1669
2019-09-25 @ 19:48:48 -- Using cached release information for configurator releases.

Caching works on my end, but if it doesn't ever get a good response back from github, the configurator wont cache it. If its persisting past an hour it might be worth running down. I'm curious as to what other app would hit the same API

[2019-09-26 05:11] gmumdzhiev opened #1691 "Error while trying update to version 10.5.1 - Windows 10"
![Untitled-1](https://user-images.githubusercontent.com/32012354/65659648-a0a71c80-e02c-11e9-9d13-b1ecb2d363bf.jpg)

I have tried to update my previous version , but when i download the .exe from the page it doesn't want to launch it . It throws me this error . Any thoughts ? What should i do ?

[2019-09-26 06:50] McGiverGim commented on #1691
Maybe is some antivirus or the new anti ransomware protection of Windows 10. Do you have it enabled?

[2019-09-26 07:17] 0crap commented on #1688
Me either, I think that's always been a typo and should read Dshot600.
The complete bold printed part has been removed in the fix.
Seems like the proper decision.

[2019-09-26 07:34] gmumdzhiev commented on #1691
@McGiverGim I don't use an anti-virus protection . Actually yesterday my Windows 10 had an huge update . Didn't checked out that some of the protection was enabled or not . But normally if there is something i have to recieve some kind of notification ? I mean it can be treated like a maware so Windows will detect it and let me know

[2019-09-26 07:39] McGiverGim commented on #1691
If you haven't touch it, the anti ransomware is disabled by default (because it produces some problems similar to the one you are suffering), so is not the problem.

Searching at Google, it seems that maybe the file you have downloaded is corrupted. Can you try to download it again? You can download the 10.6-RC1 too to see if it works. Is stable enough to be used.

[2019-09-26 07:41] gmumdzhiev commented on #1691
[https://github.com/betaflight/betaflight-configurator/releases/tag/10.5.1](url)
This is the only source that i found . From here i have downloaded my exe . Is there another one ?

[2019-09-26 07:58] McGiverGim commented on #1691
No, but maybe something went wrong when you downloaded it the first time, please download it again:

https://github.com/betaflight/betaflight-configurator/releases/download/10.5.1/betaflight-configurator-installer_10.5.1_win32.exe

And you can test the 10.6-RC1 from here:

https://github.com/betaflight/betaflight-configurator/releases/download/10.6.0-RC1/betaflight-configurator-installer_10.6.0-RC

[2019-09-26 08:11] gmumdzhiev commented on #1691
I ran into the same errors on both of the exe's . I even tried it out on my laptop ( running the same new version of Windows 10 ) , but still the problem is there .

[2019-09-26 08:26] McGiverGim commented on #1691
It seems some problem in your side, but I can say exactly which. We have thousands of installations and you are the first user with this problem.

If you see this link, for example (there are a lot of others similar): https://appuals.com/nsis-error-error-launching-installer/ there can be different causes:

1. The files for the software you have downloaded from the internet aren’t complete
2. The p

[2019-09-26 08:34] gmumdzhiev commented on #1691
I'am not here to blame , but how this should be from my side ? I mean i have tested it on my PC , my laptop and now on a colleague of mine ( that runs the older version of Windows 10 ) and the error is the same on 3 separate machines . I seropisly doubt  that the problem is coming from me .

[2019-09-26 08:45] McGiverGim commented on #1691
Because several thousands users installed it since the release, in April, and nobody complained aobut it.

I have downloaded it now and it works for me:
![image](https://user-images.githubusercontent.com/2673520/65673151-97c54380-e04a-11e9-8f4b-0bd7686e4d74.png)

So is clear that you have something wrong in your network, computer, configuration, etc. but I don't know why.

[2019-09-26 08:47] mikeller commented on #1691
@gmumdzhiev: This is not about blaming, this is about identifying where the problem is so it can be fixed. The thing is the binaries for both configurator 10.5.1 and 10.6.0-RC1 on the server are good - they've been downloaded by thousands of users and you are the first one to complain about this problem. So something must be corrupting these files on the way from the server to your computer. Can y

[2019-09-26 09:14] gmumdzhiev commented on #1691
@mikeller @McGiverGim  As i told in my previous posts . Yesterday i have downloaded it on my PC at home . And now i have tested it on my laptop at work and on a colleague at work . ( So seperate machines , different OS, different network ) . The error keeps poping out , so i don't know from where initially is coming the problem

[2019-09-26 09:32] #1586 closed

[2019-09-26 10:12] mikeller commented on #1688
If I remember correctly there was Dshot900 for a short time, before Dshot1200 became a thing.

[2019-09-26 10:35] #1688 closed

[2019-09-26 20:33] gmumdzhiev commented on #1691
I found the solution . I don't know why , but when i moved the installer.exe to another drive different from C:// it has launched without a problem .

[2019-09-27 18:38] RipperDrone opened #1694 "BFC 10.6 RC1 cannot flash in Chrome version, however ok in win32 version"
Win 10 x64, Chrome 77.0.3865.90 (Official Build) (64-Bit), BF versions tried: Nightly 9/27, 4.0.0, 4.0.6, 4.1.0RC5. FC: OMNINXT7

Sequence:
1. Install BFC 10.6RC1 Chrome install version
2. Connect USB (tried both with BOOT button pressed or not pressed)
3. Update Firmware - choose version
4. Load Firmware - Flash

Result: Contact bootloader - times out, doesn't start erasing / flashing.

Identical

[2019-09-27 18:44] IvoFPV commented on #1694
#1655 This has been reported by several users now, however I can't reproduce it.

[2019-09-27 18:46] RipperDrone commented on #1694
@IvoFPV - yes just found the referenced issue and your reply. Hm, what else can I share as far as setup / hardware... to help you reproduce?

[2019-09-27 18:49] RipperDrone commented on #1694
The way I installed it in Chrome is:

1. Download + Unzip BFC Chrome version into a temporary directory
2. Start Chrome / Show extensions
3. Activate Developer  Mode
4. Load app package from temporary directory
5. Launch BFC

Win10 x64 Build 1907

[2019-09-27 18:53] IvoFPV commented on #1694
I run windows build 1903. I will check on another PC with 1907. That's the only thing different from what you are describing here.

[2019-09-27 19:00] RipperDrone commented on #1694
sounds like timing issues with USB port? Configuring the FC is no problem, it only seems to happen when in DFU mode...?

I tried various UART speed settings 256000, 115k, 19.2k etc. - nope

[2019-09-27 19:05] RipperDrone commented on #1694
@IvoFPV - no need trying a different Win version - my memory served me bad. On the failing computer I have 1903 running like you. Mus be related to serial protocoll drivers / timings ...

[2019-09-27 19:07] IvoFPV commented on #1694
Not sure... Do you put it into DFU before you click Flash Firmware? Or do you let it go into DFU itself?

[2019-09-27 19:09] RipperDrone commented on #1694
U mean by typing 'BL' in CLI or by pressing Boot button while connectng to USB? Tried both, doesn't matter. Neither letting itself go into DFU mode (which it does as per header info in BFC!)

[2019-09-27 19:13] IvoFPV commented on #1694
Never mind, just reproduced it. Definitely only Chrome app version doesn't work. Going to look into it more...

[2019-09-27 20:53] RipperDrone commented on #1694
Great, getting closer! :-) What made it reproducible on your computer?

[2019-09-27 21:30] IvoFPV commented on #1694
Seems to break here. @mikeller Any thoughts on this?
https://github.com/betaflight/betaflight-configurator/blob/074bb46f788e15a552a2267f433e3f21707c7f64/src/js/protocols/stm32usbdfu.js#L218

[2019-09-28 07:46] richard-scott commented on #1669
I need a way to "authenticate" with Git so that I can use more API calls in BFC
I use VSCode and Git regularly and this is not working nicely with the BFC.

[2019-09-28 08:15] mikeller commented on #1669
@richard-scott: Feel free to open a pull request to add optional authentication with GitHub to Betaflight configurator.

[2019-09-28 08:37] mikeller commented on #1694
@RipperDrone: You should be using the version that is recommended for your platform.

Closing this as a duplicate of #1655.

[2019-09-28 08:37] #1694 closed

[2019-09-28 08:55] richard-scott commented on #1669
It's odd tho, as all my Github usage _IS_ authenticated. As far as I'm aware, BFC is the only app that has so far reported this issue with the API.

If I can sort out a patch I will, but don't hold your breath :-)

[2019-09-28 09:03] scorpakascorp opened #1697 "LedStrip ColorDefineSliders popup hides"
Hi all!
If I using a Configurator 10.6.0-RC1 and try to modify colors the big gap appears between selecting color box where I doubleclicking and popup window where color sliders are. And if I try to move mouse pointer to this popup it closes. So I can't change color settings from GUI but only from CLI.

![led_strip_colorPicker_faraway_issue_v10 6 0-RC1](https://user-images.githubusercontent.com/13

[2019-09-28 09:32] IvoFPV commented on #1697
Yeah, it seems broken. I will look into it.

[2019-09-28 09:57] RipperDrone commented on #1694
@mikeller would love to, but now both are somewhat flawed:

- Chrome version cannot flash, but has clear, feasible fonts
- win32 version can flash, but fonts are dithered / washed out sometimes / almost unfeasible

Choose hell or devil! 🤔😅

[2019-09-28 10:05] RipperDrone commented on #1694
BTW: Can't see why it has been tagged as 'user error' if everything worked till BFC (Chrome version ) 10.5.1 and is broken from 10.6. Must be something in the code itself...?

[2019-09-28 21:55] mikeller commented on #1669
@richard-scott: The thing is that the Betaflight configurator is not running inside chrome, so your cached session information for GitHub isn't available to it - you'd have to add code to log into GitHub from within the configurator.

[2019-09-28 22:08] mikeller commented on #1694
@RipperDrone:

This should be fixable. If a uninstall / reinstall of the app does not fix it then this normally means that the local application data is corrupted - try uninstalling the application, then deleting the `C:\Users\<username>\AppData\Local\betaflight-configurator` directory.

The problem with this is that running Chrome web apps outside of Chromebooks is living on borrowed time - Googl

[2019-09-28 23:18] RipperDrone commented on #1694
@mikeller makes sense, thank you for explaining. Is there another way to participate in Nightly code testing without having to build the app myself? This was the beauty of chrome versions, they are auto-built by Travis- full win32 builds are available at RC/release level only ... 🤔

[2019-09-28 23:26] mikeller commented on #1694
@RipperDrone: At the moment there isn't - the Chrome web app was a convenient way to do this, but it's entirely dependent on Google supporting this in Chrome.
One thing I want to look into is making it possible to provide pre-built nightlies for the configurator (and Blackbox log viewer), like we are doing for firmware.
One potential avenue to get this will be to leverage azure, which is work that

[2019-09-28 23:34] RipperDrone commented on #1694
ok, I'll have to try btw the 2 options then. Here is the result from deleting the bfc directory you referred me and then reinstalling:

- still dithered fonts (see example below), gets even more blurry sometimes when resizing app window and/or moving BFC window on Win10 canvas. Never happens in Chrome version. HAve tried different graphics card settings (Anti Aliasing etc.), clearView on/off - no

[2019-09-29 00:08] mikeller commented on #1694
@RipperDrone:

Not sure there is much we can do - this is something that comes from NW.js - we'll be looking into updating to a newer version after 10.6.0 has been released, hopefully this should fix it.

This is a known issue - the problem here is that the virus scanner is taking a very long time to analyse all of the 1000s of files that are copied during the current install. We'll look into inst

[2019-09-29 00:28] Docteh commented on #1694
@RipperDrone download a build from https://nwjs.io/ and unzip it somewhere (Folder on the Desktop!) and then grab a ChromeOS zip from https://ci.betaflight.tech/job/BetaFlight_Configurator/ and unzip that into the same folder.

I'd try whatever is newest, but maybe the latest version has that USB issue. If that is the case, try https://dl.nwjs.io/v0.40.1/nwjs-sdk-v0.40.1-win-ia32.zip

run `nw.exe`

[2019-09-29 08:27] RipperDrone commented on #1694
@Docteh - good input, thanks. Results as follows:

step 1 - latest nwjs and bf chrome version dumped into same folder --> no success still:

![image](https://user-images.githubusercontent.com/12601105/65829260-b5d9b080-e2a3-11e9-84a2-42d4d15d9fb9.png)

[2019-09-29 08:34] RipperDrone commented on #1694
step 2 - nwjs extract from https://dl.nwjs.io/v0.40.1/nwjs-sdk-v0.40.1-win-ia32.zip, bf chrome version extract into same folder - invoke nw.exe

--> success!

So yes, seems js version dependent :-(
![image](https://user-images.githubusercontent.com/12601105/65829332-bde62000-e2a4-11e9-8856-016bbcd63a19.png)

[2019-09-29 08:55] RipperDrone commented on #1694
Despite the USB flashing being successful, here is the catch: Dithered fonts (delayed screen updating?). Hope this video explains well what it looks like (when overlying the BFC app window with e.g. a progress bar, the fonts in BFC even start dancing / shivering permantently... :-)

Doesn't happen with BFC chromium install, though does happen with both win32 install and your new recommendation via

[2019-09-29 08:58] RipperDrone commented on #1694
One more insight: When the USB port is connected, the screen refresh seems to NOZ happen at all, window content remains like this:
![image](https://user-images.githubusercontent.com/12601105/65829662-f3d8d380-e2a7-11e9-879c-026c59c1f606.png)
When USB is connected, it seems there is a refresh every 0.5-1 seconds, re-sharpening the fonts display. Strange... 🤔

[2019-09-29 10:24] frozenskys commented on #1694
@mikeller I have a working version of this building the Mac and Windows builds in an azure pipeline and pushing them to github - is there anything I can do to help?

[2019-09-29 10:37] mikeller commented on #1694
@frozenskys: It's just a matter of sharing the link for the repository around then. If I remember correctly, your solution uses a dedicated repository to release the nightly binaries?

[2019-09-29 17:58] jcutcher01 commented on #1694
I have been out of the hobby since BF 4.0.3.  Today I installed Configurator 10.6.0-RC1 using the CHROMEOS installer for Chrome. I did this because I could not get the MacOS DMG installer to work. When trying to flash my DALRC722DUAL the board goes into DFU but after that nothing happens. I tried several times. In the past the ChromeOS version always worked flawlessly on my MAC.

[2019-09-29 21:46] mikeller commented on #1694
@jcutcher01: What version of MacOS are you using?

[2019-09-29 22:26] jcutcher01 commented on #1694
I am running the latest... Mojave 10.14.6

[2019-09-30 05:34] #1697 closed

[2019-09-30 11:09] #1691 closed

[2019-09-30 11:22] mikeller commented on #1691
@gmumdzhiev: Could it be that your C: drive is almost out of space?

[2019-09-30 12:05] frozenskys commented on #1691
@mikeller seems to be a general solution to the "error launching installer" error from the nsis installer - most of the answers just seem to be "move the installer exe to another drive and it will work". I have had this before and that worked for me (I'm wondering if it has to do with windows 10 protected folders mechanism ?)

[2019-09-30 12:18] gmumdzhiev commented on #1691
@mikeller I doubt it because i have around 150 GB free space at my C: drive . Actually I've saw so many videos on YouTube about your app guys and almost everyone is installing the installer.exe like this . Move it to the seperate drive and then install it .
@frozenskys  actually may be right . It has something to do with the new windows secure folder mechanism . Just wont let you install third par

[2019-10-01 00:50] ppporch commented on #1675
I had the same issue. RC1 installed and asked me if I wanted to open an unsigned app. RC2 gave me the error message of the file being damaged and wanted me to move it to the trash. The sudo spctl --master-disable allowed me to install it and open it. I then went back in and turned the security feature back on with sudo spctl --master-enable

[2019-10-01 00:52] #1597 closed

[2019-10-01 08:38] mikeller commented on #1675
@ppporch: Thanks for the feedback. So to clarify, after you'd installed Betaflight configurator with `sudo spctl --master-disable`, you were still able to use configurator even after you ran `sudo spctl --master-enable`?

[2019-10-01 17:07] SprytnyFPVFreestyle opened #1704 "Język"
Witam.Czy zostanie dodany język polski do konfiguratora?

[2019-10-01 17:13] IvoFPV commented on #1704
English please. Polish translation hasn't been updated and will not be added.
If you want to contribute so it gets added in future you can check out Crowdin where translations are made and join Betaflight's Slack to help you get started:
https://crowdin.com/project/betaflight-configurator
http://slack.betaflight.com

[2019-10-02 06:01] Niek opened #1708 "VTX config enhancements"
In anticipation of BF 4.1 there are some videos surfacing describing the changes, specifically the need to configure the VTX tables manually. For example: https://youtu.be/eaSmoOPk9KY

In order to lower the friction of upgrading, would it be possible to consider these enhancements?
* If no VTX tables are set, auto detect the Smartconfig version in the VTX tab (based on sensors debug)
* Present the

[2019-10-02 06:43] McGiverGim commented on #1708
Hi, thanks for your suggestions.
- The first option, detect version, can be added if the MSP returns it. Now it does not. As you say the user needs to enable the debug mode to get it, it is not very clean. I prefer that someone adds the info to some real MSP command to publish it and not to use an ugly hack that will need to be maintained version by version.
-  The other two options, I tried to do

[2019-10-03 11:36] azixaka opened #1713 "Blackbox Tab -> Erase Flash Dialog Box Stucks"
RC2 erase flash button shows dialog that stays in the erasing... state forever. FC is Matek F722 Mini and is using the unified target which I believe is the only target available now. If I cancel the dialog and check flash memory status it's empty and that is reflected by the progress bar showing full 32MB available as well.

BF 4.1 RC5

The same software and feature works fine on my FC CL Racing

[2019-10-04 07:05] #1603 closed

[2019-10-04 12:05] #1592 closed

[2019-10-05 09:10] mrRobot62 opened #1717 "Bug: Video-Transmitter page : erase all entries after "fast" clicking SAVE button several times"
MAC-OS Mojave 10.14.6
BF 4.1RC5

**Scenario**:
Loading vtx data via "Load button" -> load successfully
Save data via SAVE button -> save successfully

Clicking SAVE-Button every 2-3 secs -> no problem -> screen is refreshed after every SAVE
Clicking SAVE-Button very fast (e.g. 2-3x per second) -> refreshing is slower as clicking, than all data are reinitialized and values are 0

I can reproduce th

[2019-10-05 09:24] IvoFPV commented on #1717
Yeah, easy to reproduce. I will look into it.

[2019-10-05 10:01] ahho8018 opened #1719 "Don't spin moto when armed does't work"
10.6.0 RC2 / 4.1 RC5   Don't spin moto when armed does't work

[2019-10-05 10:18] IvoFPV commented on #1719
Don't you think you should give more information? Please explain your issue better and provide step by step to reproduce it.

[2019-10-05 11:44] trojanGoat commented on #1675
@mikeller Yes the configurator will continue to work after running

[2019-10-05 18:35] marianomd commented on #466
This would be great. It would avoid usb connector wear. This chrome example detects my HC-10 and connects to it succesfully: [GitHub.io](https://googlechrome.github.io/samples/web-bluetooth/device-info.html)

[2019-10-05 19:02] #1606 closed

[2019-10-06 16:08] SuTeCH007 opened #1720 "Unable to install Configurator on MacOS (RC1 and RC2)"
"Betaflight Configurator.app" is corrupt and cannot be opened. You should remove the install file.

Chrome downloaded this disk image at 17:59 today from github.com.

![Screenshot at Oct 06 18-01-55](https://user-images.githubusercontent.com/1297646/66271927-e56c5800-e863-11e9-8800-6a0f8b88002b.png)

I tried it multiple times on multiple access points. Nothing. I don't have a problem with 10.5.x.

[2019-10-06 16:17] IvoFPV commented on #1720
https://github.com/betaflight/betaflight-configurator/issues/1675#issuecomment-533765371 This seems to fix the issue for now. Could you try that?

[2019-10-06 17:00] SuTeCH007 commented on #1720
Yeah. That's it. Thanks. Now it's working.

[2019-10-06 17:00] #1720 closed

[2019-10-06 19:44] S-T-A opened #1721 "won't on stall on macOS Mojave 10.14.6"
i installed the latest configurator 6.0rc1 no problem and i installed 6.0rc2 and it rplaced 6.0rc1 with rc2 and i get this message when i try to open it  “Betaflight Configurator 4” is damaged and can’t be opened. You should move it to the Trash.
There is nothing wrong with my mac it was just formatted and it's clean i deleated it and reinstalled rc1 again no problem if there is something i'm doin

[2019-10-06 19:48] IvoFPV commented on #1721
Please check other issues before opening yours. #1675 (comment) This seems to fix the issue for now. Could you try that?

[2019-10-06 20:02] spuder opened #1722 "Add motor_output_limit to GUI"
Feature request:  Add ability to set `motor_output_limit` in the gui.

Joshua Bardwell - Throttle/Motor scaling https://www.youtube.com/watch?v=u2LMGDS7DFI

## Questions:

- [ ] Is this already available as a variable? or will it require a MSP change?
- [ ] Where should this be configured?

<img width="1239" alt="Screenshot 2019-10-06 19 19 53" src="https://user-images.githubusercontent.com/242382

[2019-10-07 00:25] mikeller commented on #1721
Closing as duplicate of #1675.

[2019-10-07 00:25] #1721 closed

[2019-10-07 00:51] mikeller commented on #1675
Added note to the release notes and to the README (#1723). Thanks all for helping to develop this workaround.

[2019-10-07 01:50] S-T-A commented on #1721
Alright cool I’ll give it a try thank you gentlemen 😎

On Sun, Oct 6, 2019 at 8:25 PM Michael Keller <notifications@github.com>
wrote:

[2019-10-07 04:41] #1719 closed

[2019-10-07 10:25] mikeller commented on #1722
@McGiverGim: It is actually a PID Profile setting in the firmware. So it should go onto the PID tuning tab, and if it does not go into the PID profile subtab it will need at least a note stating that it is PID profile dependent.

[2019-10-07 11:47] #1717 closed

[2019-10-07 17:43] Docteh commented on #1722
I think `auto_profile_cell_count` goes together with `motor_output_limit`, so I think it makes sense to add them both at the same time.

the rate profile has throttle limit, so I think motor limit on pid tab makes more sense.

[2019-10-08 10:58] mikeller commented on #1722
@Docteh: Yeah, the assignment of parameters to PID- and rateprofiles can be seen as 'organic' (at best). We should probably take a green field approach and define what should go where from scratch.

[2019-10-09 17:36] ianmaddox opened #1728 "macOS 10.6.0 RC2 "is damaged and can't be opened""
When opening betaflight 10.6.0 RC2, I get an error from OSX stating "Betaflight Configurator.app is damaged and can't be opened. You should move it to the trash."

This happens immediately after pulling it out of the DMG file.

[2019-10-09 18:53] jp8080nl commented on #1728
Can confirm this

[2019-10-09 18:57] IvoFPV commented on #1728
https://github.com/betaflight/betaflight-configurator#note-for-macos-x-users

[2019-10-09 19:13] hundemann opened #1729 "sudden ACC drifting / Matek F7 722SE / BF4.1.0-RC6?"
Not sure if this is an issue, but I had on two same FC using that same FW a sudden ACC drift, after connecting to BF configurator (latest release).
What happened before: I was flying both already, but I almost had a nose crash with one of them during first launch. After connecting it to the configurator I noticed the ACC degrees were way off.
The second one was flying great, but on that one I just

[2019-10-09 19:20] IvoFPV commented on #1729
This often happens in flight due to vibrations. ACC will slowly drift because of that. Some ACCs are more prone to this type of issue.
If you flash the older firmware it still happens, right?

[2019-10-09 20:29] hundemann commented on #1729
No, never happened to me on these FC, on prior FWs I did not have this. I was quite careful to raise this as an issue, but this behaviour was never observed before.

The second drift did not happen during flight, it happened while the second quad was standing still in front of me,,,

[2019-10-09 20:47] sanchosk opened #1730 "Dropping serial connection on linux, unable to reconnect"
I am using the RC2 version of the configurator (10.6.0) on Ubuntu.
When connecting to F4 (Mamba), everything works until I click save and reboot.
As soon as I do it, the board disconnects (expected), but does not reconnect (I have auto-connect on).
Even when I try to click the connect, I receive connection Failed error and in shell (where I start the betaflight-configurator) I see following error

[2019-10-09 22:24] IvoFPV commented on #1729
@hundemann It could just be a defective ACC and you didn't notice it before. It is strange for it to drift while standing still. Never had that happen.
Could you try flashing back to the previously used firmware version that you are sure you haven't had this happen and test it again? It is very unlikely for this to be a firmware issue.

[2019-10-10 00:27] mikeller commented on #1730
@sanchosk: I know it's not a fix, but I think the problem is auto-connect. From your description it sounds as if it is running into a race condition of the port still being open after the reboot.

Can you check if the problem still occurs if you disable auto-connect and connect manually after the reboot?

[2019-10-10 09:52] jflyper opened #1731 "Tooltip for RPM data occasionally remains popped up indefinitely"
10.6.0-RC1, MacOS 10.13.6
Happens very frequently (but not always).
When it happens, there's no way to make it disappear other than quitting the app.

![Betaflight_Configurator](https://user-images.githubusercontent.com/14850998/66558691-f207ed80-eb8e-11e9-999d-043b34745f81.jpg)

[2019-10-10 09:55] IvoFPV commented on #1731
Get the 10.6.0-RC2 version, it has been fixed.

[2019-10-10 09:56] McGiverGim commented on #1731
Yes. This happens with others tooltips too, but the RPM one is more frequent.

We have tried with several changes here https://github.com/betaflight/betaflight-configurator/pull/1604 and here https://github.com/betaflight/betaflight-configurator/pull/1665 it seems without luck :(

[2019-10-10 10:00] jflyper commented on #1731
Hmm. RPM tooltip seems to be fixed with RC2.

(Btw, the RPM tooltip text should be "These numbers" instead of "This number", right?)

[2019-10-10 10:15] mikeller commented on #1731
We definitely need add a translation from 'developer' to English. :wink:

[2019-10-10 18:55] sanchosk commented on #1730
I disabled auto-connect, did the same Save and reboot, after reboot beeps hit connect button, this is the result.
[Screenshot](http://sancho.sk/screenshots/betaflight-config-def1730.png)

[2019-10-10 20:16] mikeller commented on #1730
Hmm, that's odd, configurator works for me just fine on Ubuntu 19.10. What version Ubuntu are you on?
Can you build a debug version and then check what is logged in the inspector console please: https://github.com/betaflight/betaflight-configurator#development

[2019-10-11 06:04] #1538 closed

[2019-10-11 16:52] Letzrock commented on #1675
Using: sudo spctl --master-disable  didn't work for me using Catalina

10.6 config
Catalina 10.5

[2019-10-11 17:39] Letzrock opened #1735 "Cant install on Catalina"
I tried using sudo spctl --master-disable and it still won't run.

[2019-10-11 19:30] Docteh commented on #1735
Is Catalina out yet? I've been waiting for it to be fully out to investigate the signing issues we've been seeing.

[2019-10-11 19:42] Letzrock commented on #1735
Yes I installed it 2 days ago

[2019-10-12 20:31] mikeller commented on #1735
Closing as duplicate of #1367

@Letzrock: For next time, please have a look if there is an existing issue for your problem before opening a new one.

[2019-10-12 20:31] #1735 closed

[2019-10-12 22:50] mikeller commented on #1675
@Letzrock: Can you try if this makes the installation work for you:

[code]

(and if not, is there an error message when you try to run the command, and what is it?)

[2019-10-12 23:26] Letzrock commented on #1675
Yes that does work. AJ Christian gave me that info yesterday on FB

﻿
@Letzrock: Can you try if this makes the installation work for you:

sudo xattr -rd com.apple.quarantine /Applications/Betaflight\ Configurator.app
(and if not, is there an error message when you try to run the command, and what is it?)

—
You are receiving this because you were mentioned.
Reply to this email directly, view it o

[2019-10-13 07:38] RipperDrone opened #1741 "BFC 10.6.0 - slow install + unknown author Win Defender warning"
Against hopes for the official 10.6 release being packed differently in an installer package, installation still takes 5min+ on Win 10 x64 - super-slow :-(

Package can only be installed if Defender warning is overridden, it does not recognise author and blocks installation.

[2019-10-13 07:41] RipperDrone opened #1742 "BFC 10.6.0 - dithered fonts (js font rendering library?) almost unreadible under Win10"
Win10 x64, BFC install 10.6.0 --> moving BFC window on the canvas OR resizing BFC app window OR working with BFC in different tabs --> leads to dithered fonts display like this:
![image](https://user-images.githubusercontent.com/12601105/66712489-9e1f2380-ed9d-11e9-9af7-8d388fcd688a.png)

Hopes have been that this might be improved with official release, but it hasn't.

[2019-10-13 07:46] RipperDrone commented on #1742
When you overlay BFC app window with other windows on the Win10 canvas, it can go as bad as this:
![image](https://user-images.githubusercontent.com/12601105/66712532-5b118000-ed9e-11e9-90d6-73b633fdf203.png)

[2019-10-13 07:48] RipperDrone commented on #1742
In turn, Chrome install version from Nightlies (which can't flash anymore, thus became useless for another reason) always shows crisp, clear rendering:
![image](https://user-images.githubusercontent.com/12601105/66712554-9c099480-ed9e-11e9-8a74-d4111547441a.png)

[2019-10-13 07:49] RipperDrone commented on #1742
How can we get both to work: flashing capability AND rendering like the Chrome version?

[2019-10-13 08:44] #1741 closed

[2019-10-13 08:44] #1742 closed

[2019-10-13 17:49] barneyflorrick opened #1743 "SmartAudio softserila does not work on CrazybeeF4pro v1.0 no rx version"
I have enabled softserial, and remap A00 (led_strip) to softserial tx 11 , set softserial to smartaudio, it doesn't work.

[2019-10-13 17:51] IvoFPV commented on #1743
Provide the requested information.

[2019-10-13 22:24] laurentopia opened #1744 "VTX table - how to input only one band?"
I only use A4, how do I input that in the table?
![image](https://user-images.githubusercontent.com/26075468/66723402-85c6fd00-edcd-11e9-9522-c286e0284160.png)
this doesn't work, the vtx remains at R1

[2019-10-14 08:26] Anisotropic commented on #1744
You configured A band with 1 channels with frequency 4. If you want A4 = you need to input 4 channels per band and in 4 channel (last) you need to put your frequency

[2019-10-14 12:07] IvoFPV commented on #1744
You can just set the frequency of A4 channel instead of 4. Also your power values are wrong.
Please don't open an issue regarding this. This is a configuration issue and not a right place to get help. You can join our Slack where you can ask these kind of questions and get the answer much quicker. https://slack.betaflight.com/

[2019-10-14 17:01] Phiqtional opened #1745 "VTX Tab Freezing"
Hi Guys,

So I'm currently running the 10.6.0 RC2 configurator and when I select the Video transmitter tab, it freezes. Is there anyone else experiencing this? The same thing happened when I installed the new 10.6.0 alpha configurator as well.

Once I edit the VTX table, it won't allow me to save either.

![Screenshot (240)](https://user-images.githubusercontent.com/56556701/66769268-41c81b00-eee7

[2019-10-14 17:05] IvoFPV commented on #1745
@Phiqtional Get the official release version 10.6.0 of the configurator. Make sure you are running the latest firmware version 4.1-RC6 as well.

[2019-10-14 17:14] Phiqtional commented on #1745
I've already downloaded the latest configurator, AND also running latest firmware 4.1 RC6 but still experiencing this. Not sure why though.

[2019-10-14 17:17] IvoFPV commented on #1745
In the screenshot you have 10.6.0-RC2 that's why I asked. Could you provide a `diff`? Have you tried reflashing with full chip erase enabled? Can you try without the battery plugged in?

[2019-10-14 18:19] Phiqtional commented on #1745
After reflashing again, the vtx tab now works. This was so odd to experience. Thanks for the response!

[2019-10-14 19:39] #1673 closed

[2019-10-14 23:46] #1609 closed

[2019-10-15 03:21] oermenz commented on #1680
I have the exact same problem as above, and had the same problem with "Discord". What fixed it there for me was to turn off hardware acceleration, but that isn't within "Betaflight" options. I'm going to check if changing some videocard setting will change this issue. Changing DPI settings did nothing for me. Only had two programs having this issue, betaflight and discord.

[2019-10-15 05:21] RipperDrone commented on #1680
@oermenz good to have someone replicate the issue. Graphics card is Nvidia, too?

[2019-10-15 06:24] McGiverGim commented on #1745
It is fixed, so I close it.

[2019-10-15 06:24] #1745 closed

[2019-10-15 10:18] mikeller commented on #1744
@laurentopia: Try this:
[vtxtable.json.txt](https://github.com/betaflight/betaflight-configurator/files/3728668/vtxtable.json.txt)

[2019-10-15 11:20] stealthfpv opened #1746 "Modes tab freezes the configurator"
Cannot access the modes with Mobula7 - works fine with ver 10.4

[2019-10-15 11:21] mikeller commented on #1746
Duplicate of #1335.

[2019-10-15 11:21] #1746 closed

[2019-10-15 11:32] mikeller commented on #1680
@RipperDrone, @oermenz: Try the `--disable-gpu` option when starting configurator: http://docs.nwjs.io/en/latest/References/Command%20Line%20Options/#-disable-gpu

[2019-10-15 15:41] oermenz commented on #1680
@mikeller This seems to have done the trick! Ty!

[2019-10-15 16:29] oermenz commented on #1680
After some more searching it seems to be an issue with Electron.js that it also used by Discord. The problem seems to be with Nvidia FXAA setting. Another option is to add the program in the "manage 3d setting" tab within the Nvidia control panel, and set FXAA to off for the specified program.

[2019-10-15 17:28] RipperDrone commented on #1680
@mikeller @oermenz 1k kudos! Did the trick! Wow, that was a hard one :-).

![image](https://user-images.githubusercontent.com/12601105/66854644-062e5f00-ef82-11e9-897b-e2f650dfdea2.png)

[2019-10-15 17:30] RipperDrone commented on #1680
So it seems we need the command line gpu and/or 'no Anti-aliasing' preset as a default :-)

[2019-10-15 20:19] oermenz commented on #1680
That seems a bit radical since I don't think many users have ran into this problem. The solution is simple for people having to bypass it.

[2019-10-15 20:31] richard-scott commented on #1669
Maybe not. You could create an OAuth Token in the Developer Settings -> OAuth Apps section of the BFC Organisation and use that in the URL request for data:

That may not be the right way, but that URL worked for me until I cancelled the Token.

[2019-10-15 21:25] mikeller commented on #1669
@richard-scott: Feel free to open a pull request to add a facility to allow users to add their own OAuth tokens to configurator - I don't know if this will see much use though, as combined with the caching we do the GitHub IP based limits seem to be fine for most users.

[2019-10-15 22:00] Docteh commented on #1669
OAuth gives full permissions of the user that generates the key, so hopefully that linked token is actually cancelled.

[2019-10-16 06:22] fichek commented on #1675
Yes, that's a proper way to work around this for now.

[2019-10-16 09:24] mikeller commented on #1680
@RipperDrone, @oermenz: Does anybody want to collect an easy point for Hacktoberfest (https://hacktoberfest.digitalocean.com/) with a pull request to add a note to https://github.com/betaflight/betaflight-configurator#webgl telling users to try `--disable-gpu` when they run into display problems?

[2019-10-16 17:45] RipperDrone commented on #1680
@mikeller sounds simple - I registered on Hacktoberfest, then tried to open a PR here, realized that it needs me to install the whole coding environment and branching out my own branch first. Man, this is just so much overhead for doing a simple text edit PR :-/

[2019-10-16 18:24] McGiverGim commented on #1680
You can edit the text directly in Github, and create the pr directly there. You need to have a fork of the repo, press edit in the file you want to modify here in Betaflight, and you will see a create a branch button.

[2019-10-16 19:34] McGiverGim commented on #1680
You have done a PR to your own repository 😋

Select your branch, and do a new PR, and be sure to select the Betaflight repo as target for the PR.

[2019-10-16 19:43] RipperDrone commented on #1680
@McGiverGim better now?

[2019-10-17 04:43] kgustine opened #1748 "Windows 10: Configurator Solid Black Screen"
Running Windows 10 Version 1903 (OS Build 18362.418) w NVIDIA Quadro 1000m video card.

I just installed 10.6.0. When I launch it, the screen is black with a white square in the middle. After I resize the window, the entire contents are solid black. If I move my mouse around, the cursor changes and I was able to open the website by apparently clicking some link that I could not see.

I did reboot,

[2019-10-17 10:58] ApophysX opened #1749 "Languages select not available."
Hello,

okay i have no issue, sorry. plz del...

[2019-10-17 10:59] IvoFPV commented on #1749
![image](https://user-images.githubusercontent.com/50072760/67003282-e8760c80-f0dd-11e9-87cc-2c1c1b4f781c.png)

[2019-10-17 11:07] IvoFPV commented on #1748
Could you try reinstalling the Configurator and updating your GPU drivers?

[2019-10-17 11:12] mikeller commented on #1748
@kgustine: Looks like a GPU issue. Can you try if starting the application with the `--disable-gpu` option fixes this?

[2019-10-17 17:20] dako76 opened #1750 "10.6.0 Installation on Windows 10 1903 very slow took over 15min"
Installation is very slow on Windows, Reboot pc and uninstall old version. Deleted old files same issue. I use Sophos Home as virus/firewall.

[2019-10-17 17:34] IvoFPV commented on #1750
This is an already known issue. For me it takes about 5 minutes to install. There is probably nothing you can do to fix it on your side.

[2019-10-17 18:36] McGiverGim commented on #1750
Deactivating the antivirus helps, but no fixes it. We will need to test again compressing the node stuff to see if it does not produce the old problem again.

[2019-10-17 21:05] etracer65 opened #1751 "Suppress manufacturer ID in target list when unnecessary"
Having the manufacturer string in the target names is causing a lot of confusion and support questions. I propose suppressing the manufacturer ID **unless it is truly needed to prevent ambiguity for a given target**. I realize it's there to potentially allow the case where multiple manufacturers might use the same target name. But we currently have no occurrences of this and in general it's an unl

[2019-10-18 00:59] mikeller commented on #1751
Agreed. The current solution was a workaround to solve the issue of duplicate target names in the repository that is feeding into configurator.
The solution in configurator was not the best possible approach, as it was done last minute.
I think in order to get the overall best user experience with what I expect to be a rapid increase in target numbers (as boards that are currently re-using existin

[2019-10-18 05:29] RipperDrone commented on #1749
@ApophysX pls close this issue yourself then 🙂

[2019-10-18 07:02] gzhun opened #1752 "Betaflight 10.6 app won't open on mac"
I just installed the Betaflight 10.6 on my mac and won't open the app. it says "Betaflight Configurator.app is damaged and can’t be opened. You should move it to the Trash". I did went to the Terminal and put in this line "sudo xattr -rd com.apple.quarantine /Applications/Betaflight\ Configurator.app". but still the same. can't open the app. any idea what could be the problem? (I kept the old vers

[2019-10-18 08:28] gzhun commented on #1752
this vid is the key how to open that app (or any app):  https://www.youtube.com/watch?v=_gQA3RhcJuU

[2019-10-18 08:28] #1752 closed

[2019-10-18 22:40] Docteh commented on #1749
*click*

[2019-10-18 22:40] #1749 closed

[2019-10-19 23:41] mikeller commented on #1752
@gzhun: What is shown in this video is not an ideal solution, and will not work in every case. It is preferrable to use the solution that is suggested in the [release notes](https://github.com/betaflight/betaflight-configurator/releases/tag/10.6.0):

[2019-10-20 09:08] #1396 closed

[2019-10-20 19:17] oermenz commented on #1680
@RipperDrone When I searched for the problem I came across another issue you've opened about the same subject which is still open. I think you can close that one, or remove completely. No need for issue cluttering! ;)

[2019-10-20 19:19] #864 closed

[2019-10-20 19:20] RipperDrone commented on #864
resolved - NVidia Antialiasing (FXAA) needs to be switched off

[2019-10-20 20:27] rickgomez2003 commented on #859
I can help with Spanish if that helps.

[2019-10-20 23:57] mikeller commented on #859
@rickgomez2003: To get set up as a translator, join our Slack project at https://slack.betaflight.com/, and go to #team_translation and speak up in there, and you will be helped.

[2019-10-21 16:59] etracer65 opened #1762 "Receiver tab throwing Javascript errors if receiver not configured"
About once a second the follow error is generated:
[code]
Configuring a receiver type stops the errors. Tested with Configurator current master and with firmware 4.1.

[2019-10-21 19:49] McGiverGim commented on #1762
It seems to fail here:

https://github.com/betaflight/betaflight-configurator/blob/86901b931809bdee0233cc57fd9c70aee415dc63/src/js/tabs/receiver.js#L479

Because the array has no elements when there is not active channels.
If someone want to fix it, perfect, if not I will do it in the next days.

[2019-10-22 03:25] kgustine commented on #1748
I had already tried reinstalling it, but launching it with --disable-gpu allows it to display correctly

[2019-10-22 03:38] mikeller commented on #1748
@kgustine: Sounds like this is solved then. Can you close please?

[2019-10-22 06:20] #1748 closed

[2019-10-23 08:30] andreasschramel opened #1766 "Error in deb package"
Unable to install betaflight-configurator_10.6.0_amd64.deb package under Ubuntu 19.10.
The following error messages appear:
<pre><font color="#3465A4"><b>~/Downloads</b></font>$ sudo apt install ./betaflight-configurator_10.6.0_amd64.deb
[sudo] password for andreas:
Reading package lists... Error!
E: Problem parsing dependency 21 of betaflight-configurator:amd64=10.6.0
E: Error occurred while proc

[2019-10-23 10:10] mikeller commented on #1766
@andreasschramel: Try downloading the file again - AWS was having issues today, so it's possible that the file you downloaded was corrupted.

[2019-10-23 12:18] andreasschramel commented on #1766
@mikeller did not solve the problem, I still have the same output on the terminal.

[2019-10-23 23:38] ademuk commented on #994
Hey Betaflight fellows,

Good news!

I've finally gotten around integrating my (React based) PoC into the configurator, including read and write MSP communication. It works!

Check out my branch. It's not yet fit for a PR.
https://github.com/betaflight/betaflight-configurator/compare/master...ademuk:rx-calibration

And the required firmware change to support setting/retrieving rxrange via MSP.
htt

[2019-10-24 06:31] McGiverGim commented on #994
It's better to open the PR. It will have more visibility to be discussed. Simply state in the PR that it's open for discussion. In this way we can link the PR from slack too.

[2019-10-24 12:31] ademuk commented on #994
@McGiverGim Makes sense. Here it is: https://github.com/betaflight/betaflight-configurator/pull/1769

[2019-10-24 16:03] funk3h commented on #1752
doesn't work for me. terminal asks for a password

[2019-10-24 16:20] kgustine commented on #1748
This seems more like a band-aid. Is this a known issue, and is there an idea of how to fix it?

[2019-10-24 17:15] Docteh commented on #1748
It's a known issue that a few people see, but I don't think anyone here is
interested in making builds of nwjs. Nwjs is the item that uses the chrome
browser code base for stand alone programs. I think to properly fix it we
might have to determine what chrome does that nwjs is not doing.

If I had access to a computer that exhibits black screen I'd be tempted to
try a few things, see if anything w

[2019-10-24 17:16] wind0r commented on #1752
and what happens when you fill in the correct password for your admin user?

[2019-10-24 17:18] gzhun commented on #1752
than type the password into terminal and hit enter

[2019-10-24 17:19] gzhun commented on #1752
you gonna have BF 4.1 working

[2019-10-24 17:23] funk3h commented on #1752
ok got my password working, but still won't install despite putting in the command for the terminal keeps telling me its corrupt and move to trash

[2019-10-24 17:24] funk3h commented on #1752
sorry just saw your last reply, should I be trying  4.1 instead of 10.6.0?

[2019-10-24 17:26] gzhun commented on #1752
did you followed this tutorial? https://www.youtube.com/watch?v=_gQA3RhcJuU

[2019-10-24 17:40] funk3h commented on #1752
no, will give it a go, cheers

[2019-10-24 21:19] mikeller commented on #1748
@kgustine: Yes it is a band-aid that we have to apply to work around something that is broken upstream in the NW.js toolkit. So if you want to take this any further, I suggest that you report this bug on https://github.com/nwjs.

[2019-10-26 22:39] #1660 closed

[2019-10-26 22:39] #1674 closed

[2019-10-26 23:39] #1624 closed

[2019-10-27 00:15] mikeller commented on #1766
@andreasschramel: Wait a second - apt is intended to be used to install packages that are published through a repository, which betaflight configurator isn't.

Try this instead:

[code]

[2019-10-27 08:24] TheIsotopes opened #1772 "10.7.0 - does not flash firmware anymore"
bfc 10.7.0 does not flash anymore since #1763  was merged

@mikeller can you check what's wrong

![Zwischenablagebild](https://user-images.githubusercontent.com/29702171/67631802-4c958f00-f89b-11e9-96b2-d3541d4e3f3c.jpg)

[2019-10-27 08:29] mikeller commented on #1772
@TheIsotopes: Can you supply a bit more information on what operating system this is, what board you were connected to, and what firmware you were trying to flash?
I was using Betaflight configurator 10.7.0 built from latest master to flash a BEEROTORF4 with a STM32F405 target on linux just now, and it worked just fine.

[2019-10-27 08:37] TheIsotopes commented on #1772
@mikeller sry ... using Windows 10 (Version 1909 Build 18363.449)
no flashing with all my fc and the firmware does not matter

[2019-10-27 08:40] mikeller commented on #1772
Erg, looks like this the version of chrome that is bundled into 0.41.3 of the NW.js toolkit is broken in Windows:

[code]

Will need to investigate - for now use the released version of configurator.

[2019-10-27 09:44] Miloz44 opened #1773 "10.6.0 - CLRACINGF7 (legacy) 4.1.0 Target Bricks CLRACINGF7 Dual V2 Boards"
The CLRACINGF7 Dual (legacy) target no longer exists in 10.6.0 and trying to flash the CLRACINGF7 (legacy) 4.1.0 target on the CLRACINGF7 Dual V2 Boards has bricked this flight controller.

The CLRACINGF7 (CLRA) 4.1.0 target does work with CLRACINGF7 Dual V2 Boards though I could not see Dshot 1200 so tried flashing CLRACINGF7 (legacy) 4.1.0 version and now only a power LED illuminates, the board

[2019-10-28 18:58] Docteh commented on #1016
Which code? right above your comment I see a reference to PR #1083 which was merged back around 10.4.0 maybe there is more recent issues? Personally I've been using `diff` instead of the backup and restore functions.

[2019-10-28 21:00] tracer99 commented on #1016
That would be the only code. Looking at the release notes for 10.6.0, getting backup and restore working was one of the features. It's not working. I didn't open a new ticket because this one was still open.

Using diff is great, but if you have buttons in your UI for a feature, it should work. Or get rid of them.

[2019-10-28 23:09] SunshynRFF opened #1778 "Warning to update to 10.6.0 configurator when already using it."
When I click on Betaflight and it loads, I get a notification message that there is a newer version of configurator and mine is outdated.  Has link to release page, which is where I downloaded and updated to 10.6.0 a month ago.  When I close warning, BF does not give me anymore notifications, or run any differently.  Only when I close BF completely out and re-open it do I get the notification.

![

[2019-10-28 23:21] mikeller commented on #1778
@SunshynRFF: You are still using the 10.6.0-RC1 version of configurator:

![67724685-ccac1980-f9ad-11e9-81b1-9c2e97936c9f](https://user-images.githubusercontent.com/4742747/67725272-9f5f7a00-fa46-11e9-9c3d-94e36396f99e.jpg)

Try uninstalling configurator first, and then installing the 10.6.0 version.

[2019-10-29 06:38] #1655 closed

[2019-10-29 07:15] mikeller commented on #1016
@tracer99: One of the problems of the Backup / Restore buttons is that they currently require the code behind them to be updated for pretty much every release, which is missed often. They also cannot backup / restore settings that are not available outside of the CLI - currently only a `diff` can do that.
But there are plans to change the way that configurator communicates with the firmware which,

[2019-10-29 07:39] McGiverGim commented on #1762
@etracer65 I'm looking at this but I can't reproduce it. Can you post a diff or something similar? Maybe I need to enable some option to make this problem happen.

[2019-10-29 08:43] McGiverGim opened #1780 "Using localization before ready"
When starting the Configurator, we have a lot of error similar to this one:
[code]
This happens because:
- We ask to load the localization system, but this happens in async way
- We load all the js in the main page
- A lot of js use the localization system. It is not loaded at this moment, so errors are thrown
- The localization system really loads it now

I can find an easy way to fix this. There

[2019-10-29 08:45] McGiverGim commented on #1685
@Niek have you worked on this? Only to know, if not the stale bot will close this if we don't take some action ;-)

[2019-10-29 09:18] Docteh commented on #1780
I was wondering about that error. What sort of sync backends are problematic? We might be able to repackage via webpack or browserify

[2019-10-29 10:49] etracer65 commented on #1762
Just make sure that no UART is selected for Serial Rx on the Ports tab, and that serial receiver is selected for the type on the Configuration tab. Then whenever in the Receiver tab it will through the error once a second.

[2019-10-29 16:17] Niek commented on #1685
I didn't have too much time to work on this, but there is some progress:

<img width="956" alt="flutter-bf-config" src="https://user-images.githubusercontent.com/213140/67786859-dac26e80-fa6f-11e9-8005-14c30bb854dc.png">

[2019-10-29 17:40] Docteh commented on #1780
I found this issue on i18next https://github.com/i18next/react-i18next/issues/977

For our 10.6.0 we shipped with version `17.0.11` of i18next, but more recently the use of  "^17.0.11" in `package.json` means that we got automatically updated to `17.3.0`.

I downgraded to `17.0.11` and the errors go away. Updating to `18.0.1` as mentioned in the issue also makes the errors go away.

Interestingly

[2019-10-29 17:52] Kllngii opened #1781 "Configurator 10.6.0 is corrupted on macOS"
I tried to install the new betaflight-configurator 10.6.0 on macOS 10.14.6 and it didn't work. I tried to download the file again. This time the installer worked, but I was unable to run the installed software.

[2019-10-29 18:46] mikeller commented on #1780
Is this actually an indication of something being broken, or is this just a message that can be ignored because everything works as it should? #1782 is possibly all that we need.

[2019-10-29 18:48] mikeller commented on #1781
@Kllngii: Please read https://github.com/betaflight/betaflight-configurator#note-for-macos-x-users (also mentioned in the release notes for 10.6.0).

[2019-10-30 09:03] JyeSmith opened #1785 "[Feature Request] Add KV to RPM in Motor tab"
I know it can easily be calculated but it would be super convenient to have it right there,  Great for checking rewound motors, or specs on new motors.

Cheers

[2019-10-31 07:59] McGiverGim commented on #1785
The only problem with this, is that the space in the motor tab where we put the telemetry values, is very reduced. We can add one or two more values, but I don't think we can add any more. If more people agree that this is a valuable addition, I can add it.

[2019-10-31 08:02] McGiverGim commented on #1780
Fixed in https://github.com/betaflight/betaflight-configurator/pull/1782

I close this.

[2019-10-31 08:02] #1780 closed

[2019-10-31 17:23] #1676 closed

[2019-11-01 11:01] richard-scott commented on #1669
@Docteh - Yes, that token has been deleted.

@mikeller - Maybe its worth someone looking at the caching logic because when my download from the API failed, I could not flash with BFC as the dropdown boxes were empty. I had previously used the app the day before, so cached data was/should have been available locally.

[2019-11-01 11:32] #1684 closed

[2019-11-01 12:48] shanness commented on #1730
I'm having the same issues after upgrading to 10.6.0 (although haven't run BF for about 6 months).  If I keep trying the connect button eventually it works..

I also have auto connect disabled
[6278:6285:1101/234451.355227:ERROR:serial_io_handler.cc(149)] Failed to open serial port: FILE_ERROR_IN_USE

[2019-11-01 23:42] mikeller commented on #1669
@richard-scott: We do have caching for pretty much everything we know to be affected by the API request limiting - so unless you can supply a reproduction of what limiting you were affected by there is not much we can do.
There also was an outage in AWS that affected some files that GitHub is hosting there - it is possible that the failure you got was caused by this.

[2019-11-02 04:53] #1762 closed

[2019-11-02 22:26] hsuq510 commented on #1685
@Niek wrote you on slack also, are you using https://github.com/xseignard/cordovarduino.git? I cant connect with the device with VIP/PID aligned also.

[2019-11-03 15:20] SunshynRFF commented on #1778
Oh ok, I can do that, thank you!!

Jack ley
Sunshynff@yahoo.com
636-262-2152